openapi: 3.0.3
info:
  title: Api API
  description: Core API services and integration management
  version: 1.0.0
  contact:
    name: TerraFusion Government OS API Support
    email: api-api@terrafusion.gov
    url: https://docs.terrafusion.gov/marketplace/api
  license:
    name: Government Use License
    url: https://terrafusion.gov/licenses/government-api
  termsOfService: https://terrafusion.gov/terms/api-usage
servers:
- url: https://api.terrafusion.gov/api/v1
  description: Production TerraFusion Government API
- url: https://staging-api.terrafusion.gov/api/v1
  description: Staging Environment
- url: https://dev-api.terrafusion.gov/api/v1
  description: Development Environment
paths:
  /health:
    get:
      tags:
      - api
      summary: API health check
      description: API health check - Core API services and integration management
      operationId: get__health
      security:
      - OAuth2:
        - api:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics:
    get:
      tags:
      - api
      summary: API performance metrics
      description: API performance metrics - Core API services and integration management
      operationId: get__metrics
      security:
      - OAuth2:
        - api:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /integration:
    post:
      tags:
      - api
      summary: Service integration
      description: Service integration - Core API services and integration management
      operationId: post__integration
      security:
      - OAuth2:
        - api:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks:
    post:
      tags:
      - api
      summary: Webhook management
      description: Webhook management - Core API services and integration management
      operationId: post__webhooks
      security:
      - OAuth2:
        - api:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: object
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        dependencies:
          type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.terrafusion.gov/oauth/authorize
          tokenUrl: https://auth.terrafusion.gov/oauth/token
          scopes:
            api:read: Read access to api resources
            api:write: Write access to api resources
            api:admin: Administrative access to api
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
security:
- OAuth2:
  - api:read
- ApiKey: []
tags:
- name: api
  description: Api operations
  externalDocs:
    description: Find out more about api
    url: https://docs.terrafusion.gov/marketplace/api
