{
    "map": {
        "changeover_points.descr": "The feature class containing change over points for routes.",
        "changeover_points.title": "ChangeOver Point Features",
        "description": "Simplifies the creation of airway corridors and flares for specified ATS routes.",
        "designated_points.descr": "The feature class containing point features that start or end route segment features.",
        "designated_points.title": "Designated Point Features",
        "enroute_information_table.descr": "<xdoc><p>The table containing route information records that describe airways composed of one or more route segment polylines. Each record provides information such as the <span class=\"esri_fieldname\">Route length</span> and <span class=\"esri_fieldname\">Doglegpoint_Id</span> attributes.</p></xdoc>",
        "enroute_information_table.title": "Enroute Information Table",
        "flare_angle.descr": "The angle in degrees that will be used to create flares for routes.",
        "flare_angle.title": "Route Flare Angle",
        "floors_table.descr": "The table containing airway floor descriptions that will be used to split the corridors and flares created for the route.",
        "floors_table.title": "Airway Floors Table",
        "in_features.descr": "The input route segment features (polyline) for which corridors and flares will be created.",
        "in_features.title": "Input ATS Route Features",
        "min_distance.descr": "The minimum distance or length in nautical miles for a route to have a flare created.",
        "min_distance.title": "Minimum Route Distance",
        "modified_target_airspace_area_features.title": "Updated AirspaceArea Features",
        "route_types.descr": "The route types that will have flares created. All route types will have corridors created, regardless of selection.",
        "route_types.title": "Create Flare for Route",
        "summary": "<xdoc><p>Simplifies the creation of airway corridors and flares for specified ATS routes.</p><p>This tool creates new AirspaceArea features representing airway corridors and flares and populates attributes needed for charting purposes. You can also use this tool to provide airway floor data to split the created corridor and flares at specified locations where the airway floor elevation changes.</p></xdoc>",
        "target_airspace_area_features.descr": "The feature class that will be used to store the generated corridor and flare features.",
        "target_airspace_area_features.title": "Target AirspaceArea Features",
        "title": "Generate Airway Corridors"
    }
}
