{
    "map": {
        "description": "Creates a folder in the specified location.",
        "out_folder.title": "Output Folder",
        "out_folder_path.descr": "The disk location where the folder is created.",
        "out_folder_path.title": "Folder Location",
        "out_name.descr": "The folder to be created.",
        "out_name.title": "Folder Name",
        "title": "Create Folder"
    }
}
