{
    "map": {
        "angle_threshold.title": "Angle Threshold",
        "are_containers_preserved.title": "Preserve container layout",
        "breakpoint_absolute.title": "Break Point Position",
        "circular_arc_position.domain.ABOVE_HORIZONTAL_SEGMENT": "ABOVE_HORIZONTAL_SEGMENT",
        "circular_arc_position.domain.BELOW_HORIZONTAL_SEGMENT": "BELOW_HORIZONTAL_SEGMENT",
        "circular_arc_position.domain.LEFT_OF_VERTICAL_SEGMENT": "LEFT_OF_VERTICAL_SEGMENT",
        "circular_arc_position.domain.RIGHT_OF_VERTICAL_SEGMENT": "RIGHT_OF_VERTICAL_SEGMENT",
        "circular_arc_position.title": "Circular Arc Position",
        "circular_arc_radius.title": "Circular Arc Radius",
        "description": "Add a reshape diagram edges layout to a diagram template",
        "in_utility_network.title": "Input Network",
        "is_active.title": "Active",
        "is_path_preserved.title": "Preserve path",
        "offset_between_segment_absolute.title": "Offset Between Edges",
        "out_template_name.title": "Output Diagram Template",
        "out_utility_network.title": "Output Network",
        "reshape_type.domain.MARK_CROSSING_EDGES": "MARK_CROSSING_EDGES",
        "reshape_type.domain.REDUCE_VERTICES_BY_ANGLE": "REDUCE_VERTICES_BY_ANGLE",
        "reshape_type.domain.REMOVE_VERTICES": "REMOVE_VERTICES",
        "reshape_type.domain.SEPARATE_OVERLAPPING_EDGES": "SEPARATE_OVERLAPPING_EDGES",
        "reshape_type.domain.SQUARE_EDGES": "SQUARE_EDGES",
        "reshape_type.title": "Reshape Operation",
        "shift_between_edge_absolute.title": "Offset Between Edges",
        "template_name.title": "Input Diagram Template",
        "title": "Add Reshape Diagram Edges Layout"
    }
}
