{
    "map": {
        "descr": "The tools in the Cartography toolbox are designed to produce and refine data to support the production of maps. This includes the creation of masks, the simplification and aggregation of features and reduction of their density, as well as tools for annotation and the creation of map series.",
        "title": "Cartography Tools",
        "toolset1.name": "Generalization",
        "toolset2.name": "Cartographic Refinement",
        "toolset3.name": "Annotation",
        "toolset4.name": "Map Series",
        "toolset5.name": "Masking",
        "toolset6.name": "Graphic Conflicts"
    }
}
