{
    "map": {
        "date_field.descr": "<xdoc><p>The date field that will be used to order the <span class=\"esri_uicontrol\">Input Features</span> points.</p></xdoc>",
        "date_field.title": "Date Field",
        "description": "Converts time-enabled sequences of input point data, such as GPS points, to a series of output paths.",
        "error_on_duplicate_timestamps.descr": "<xdoc><p>Specifies whether duplicate time stamps in the <span class=\"esri_uicontrol\">Date Field</span> parameter value or in each group in the <span class=\"esri_uicontrol\">Group Field</span> parameter value will be accepted or cause the tool to fail.</p><ul><li>Checked—Duplicate time stamps will cause the tool to fail. This is the default.</li><li>Unchecked—Duplicate time stamps will be accepted. The sequence of the duplicate time stamps is based on the <span class=\"esri_fieldname\">ObjectID</span> value.</li></ul></xdoc>",
        "error_on_duplicate_timestamps.title": "Error On Duplicate Timestamps",
        "group_field.descr": "<xdoc><p>A field from the <span class=\"esri_uicontrol\">Input Features</span> parameter that will be used to group the input points. Each unique group will create a separate track.</p></xdoc>",
        "group_field.title": "Group Field",
        "in_features.descr": "The point features as point positions along the tracks to be created.",
        "in_features.title": "Input Features",
        "include_velocity.descr": "<xdoc><p>Specifies whether velocity fields (<span class=\"esri_fieldname\">speed_mps</span>, <span class=\"esri_fieldname\">speed_mph</span>, <span class=\"esri_fieldname\">speed_kph</span>, and <span class=\"esri_fieldname\">speed_knt</span>) will be included in the <span class=\"esri_uicontrol\">Output Feature Class</span> parameter value.</p><ul><li>Checked—Output velocity fields will be included in the output. This is the default.</li><li>Unchecked—Output velocity fields will not be included in the output.</li></ul></xdoc>",
        "include_velocity.title": "Include Velocity Fields",
        "keep_input_fields.descr": "<xdoc><p>Specifies whether fields will be transferred from the <span class=\"esri_uicontrol\">Input Features</span> parameter value to the <span class=\"esri_uicontrol\">Output Sequence Points</span> parameter value.</p><ul><li>Checked—Fields will be transferred from the <span class=\"esri_uicontrol\">Input Features</span> parameter value to the <span class=\"esri_uicontrol\">Output Sequence Points</span> parameter value.</li><li>Unchecked—Fields will not be transferred from the <span class=\"esri_uicontrol\">Input Features</span> parameter value to the <span class=\"esri_uicontrol\">Output Sequence Points</span> parameter value. This is the default.</li></ul></xdoc>",
        "keep_input_fields.title": "Keep Input Fields",
        "out_feature_class.descr": "The output track line features.",
        "out_feature_class.title": "Output Feature Class",
        "out_point_feature_class.descr": "<xdoc><p>The output point features. The output will include a <span class=\"esri_fieldname\">SEQUENCE</span> field that contains the order that will be used for the path created in the <span class=\"esri_uicontrol\">Output Feature Class</span> parameter.</p></xdoc>",
        "out_point_feature_class.title": "Output Sequence Points",
        "title": "Points To Track Segments"
    }
}
