{
    "set": [
        "dem",
        "difference",
        "difference from mean",
        "digital elevation model",
        "distribution",
        "elevation",
        "local topographic position",
        "maximum difference",
        "neighborhood",
        "scales",
        "spatial scales",
        "surface"
    ]
}
