{
    "map": {
        "decay_coefficient.descr": "<xdoc><p>Decay coefficient for solutes undergoing first-order exponential decay (for example, radionuclides) in units of inverse time.</p><p>The default is zero, corresponding to no decay.</p></xdoc>",
        "decay_coefficient.title": "Decay coefficient",
        "description": "Calculates the time-dependent, two-dimensional concentration distribution in mass per volume of a solute introduced instantaneously and at a discrete point into a vertically mixed aquifer.",
        "dispersion_time.descr": "<xdoc><p>A value representing the time horizon for dispersion of the solute, in units of time.</p><p>The time must be less than or equal to the maximum time in the track file. If the requested time exceeds the available time from the track file, the tool is aborted. The default time is the latest time (corresponding to the terminal point) in the track file.</p></xdoc>",
        "dispersion_time.title": "Dispersion time",
        "dispersivity_ratio.descr": "<xdoc><p>A value representing the ratio of longitudinal dispersivity over transverse dispersivity.</p><p>Transverse dispersivity is perpendicular to the flow direction in the same horizontal plane. The default value is three.</p></xdoc>",
        "dispersivity_ratio.title": "Dispersivity ratio",
        "in_porosity_raster.descr": "The input raster where each cell value represents the effective formation porosity at that location.",
        "in_porosity_raster.title": "Input effective formation porosity raster",
        "in_thickness_raster.descr": "<xdoc><p>The input raster where each cell value represents the saturated thickness at that location.</p><p>The value for the thickness is interpreted from geological properties of the aquifer.</p></xdoc>",
        "in_thickness_raster.title": "Input saturated thickness raster",
        "in_track_file.descr": "<xdoc><p>The input particle track path file.</p><p>This is an ASCII text file containing information about the position, the local velocity vector, and the cumulative length and time of travel along the path.</p><p>This file is generated using the Particle Track tool.</p></xdoc>",
        "in_track_file.title": "Input particle track file",
        "longitudinal_dispersivity.descr": "<xdoc><p>A value representing the dispersivity parallel to the flow direction.</p><p>For details on how the default value is determined, and how it relates to the scale of the study, see the How Porous Puff works section in the documentation.</p></xdoc>",
        "longitudinal_dispersivity.title": "Longitudinal dispersivity",
        "mass.descr": "A value for the amount of mass released instantaneously at the source point, in units of mass.",
        "mass.title": "Mass",
        "out_raster.descr": "<xdoc><p>The output raster of the concentration distribution.</p><p>Each cell value represents the concentration at that location.</p></xdoc>",
        "out_raster.title": "Output raster",
        "retardation_factor.descr": "<xdoc><p>A dimensionless value representing the retardation of the solute in the aquifer.</p><p>Retardation varies between one and infinity, with one corresponding to no retardation. The default value is one.</p></xdoc>",
        "retardation_factor.title": "Retardation factor",
        "title": "Porous Puff"
    }
}
