{
    "map": {
        "define_trade_area.descr": "<xdoc><p>Specifies whether ring overlap in a trade area will be removed.</p><ul><li>Checked—Overlap will only be removed between polygons with equal values in the <span class=\"esri_uicontrol\">Ring ID Field</span> parameter.</li><li>Unchecked—Overlap will be removed from all intersecting polygons. This is the default.</li></ul></xdoc>",
        "define_trade_area.title": "Define Trade Areas",
        "description": "Removes overlap between two or more areas to form adjacent boundaries.",
        "in_features.descr": "The input features containing the overlapping polygons.",
        "in_features.title": "Input Features",
        "in_stores_layer.descr": "The input features containing the center points for the overlapping trade areas.",
        "in_stores_layer.title": "Stores",
        "link_field.descr": "A unique ID field representing a store or facility location.",
        "link_field.title": "Associated Store ID Field",
        "method.descr": "<xdoc><p>Specifies how the overlap between trade areas will be removed.</p><ul><li><span title=\"CENTER_LINE\">Center Line</span>— Overlap will be removed by creating a border that evenly distributes the area of intersection between polygons. This is the default.</li><li><span title=\"THIESSEN\">Thiessen</span>— Overlap will be removed using straight lines to divide the area of intersection.</li><li><span title=\"GRID\">Grid</span>— Overlap will be removed by creating a grid of parallel lines used to define a natural division between polygons.</li></ul></xdoc>",
        "method.domain.CENTER_LINE": "Center Line",
        "method.domain.GRID": "Grid",
        "method.domain.THIESSEN": "Thiessen",
        "method.title": "Method",
        "out_feature_class.descr": "The feature class containing the new trade area features.",
        "out_feature_class.title": "Output Feature Class",
        "ring_id_field.descr": "A field from the input that defines common trade areas. Overlap between polygons will only be removed if their values in this field are equal.",
        "ring_id_field.title": "Ring ID Field",
        "store_id.descr": "A unique ID field in the stores feature layer.",
        "store_id.title": "Input Feature Store ID Field",
        "title": "Remove Overlap",
        "weight_field.descr": "A field from the input used to influence removal of overlap based on its values.",
        "weight_field.title": "Weight Field"
    }
}
