{
    "set": [
        "esda",
        "estimate",
        "geostatistical",
        "geostatistics",
        "interpolate",
        "interpolation",
        "inverse distance weighted",
        "inverse distance weighting",
        "power",
        "predict",
        "smooth interpolation"
    ]
}
