{
    "map": {
        "derived_tin_folder.title": "Updated Output TIN Folder",
        "description": "This tool imports one or more triangulated irregular network (TIN) surfaces from a LandXML file to output Esri TINs.",
        "in_landxml_path.descr": "The input LandXML file.",
        "in_landxml_path.title": "Input",
        "out_tin_folder.descr": "The folder that the output TINs will be created in.",
        "out_tin_folder.title": "Output TIN Folder",
        "tin_basename.descr": "The basename of the resulting TIN. When several TINs will be exported from the LandXML file, the basename is used to define a unique name for each output TIN. If <basename> already exists, the tool will not write anything. If <basename> does not exist but <basename>2 exists, the tool will create <basename> and <basename>2_1, instead of <basename>2.",
        "tin_basename.title": "Output TIN Base Name",
        "tinnames.descr": "The one or more LandXML TIN surfaces that will be exported to an Esri TIN.",
        "tinnames.title": "TINs to Import",
        "title": "LandXML To TIN"
    }
}
