{
    "set": [
        "ccdc",
        "change detection",
        "compute change",
        "detect change",
        "landsat",
        "continuous change",
        "multidimension",
        "multidimensional",
        "time series"
    ]
}
