{
    "set": [
        "aggregate",
        "attribute",
        "border",
        "boundary",
        "combine",
        "common",
        "connect",
        "contiguous",
        "division",
        "field",
        "join",
        "management",
        "merge",
        "multipart",
        "same",
        "shared",
        "singlepart",
        "union",
        "unsplit"
    ]
}
