{
    "map": {
        "compilation_scale.descr": "The compilation scale attribute value that will be applied to the copied features.",
        "compilation_scale.title": "Compilation Scale",
        "description": "Copies features from a layer or multiple layers to a target geodatabase.",
        "in_features.descr": "<xdoc><p>The input features that will be copied to the <span class=\"esri_uicontrol\">Target Workspace</span> parameter value.</p></xdoc>",
        "in_features.title": "Input Features",
        "summary": "<xdoc><p>Copies features from a layer or multiple layers to a target geodatabase.</p><p>This tool also finds S-57 structure-equipment and collection relationships from the source layers and copies them to the target workspace. The existing compilation scale attribute value can be either preserved or overridden with a custom value.</p></xdoc>",
        "target_workspace.descr": "The geodatabase to which the output data will be written.",
        "target_workspace.title": "Target Workspace",
        "title": "Copy S-57 Features",
        "updated_workspace.title": "Updated Workspace"
    }
}
