{
    "map": {
        "description": "Creates randomly sampled points for postclassification accuracy assessment.",
        "in_class_data.descr": "<xdoc><p>The input classification image or other thematic GIS reference data. The input can be a raster or feature class.</p><p>Typical data is a classification image of a single band, integer data type.</p><p>If using polygons as input, only use those that are not used as training samples. They can also be GIS land-cover data in shapefile or feature class format.</p></xdoc>",
        "in_class_data.title": "Input Raster or Feature Class Data",
        "num_random_points.descr": "<xdoc><p>The total number of random points that will be generated.</p><p>The actual number may exceed but never fall below this number, depending on sampling strategy and number of classes. The default number of randomly generated points is 500.</p></xdoc>",
        "num_random_points.title": "Number of Random Points",
        "out_points.descr": "The output point shapefile or feature class that contains the random points to be used for accuracy assessment.",
        "out_points.title": "Output Accuracy Assessment Points",
        "polygon_dimension_field.descr": "A field that defines the dimension (time) of the features. This parameter is used only if the classification result is a multidimensional raster and you want to generate assessment points from a feature class, such as land classification polygons for multiple years.",
        "polygon_dimension_field.title": "Dimension Field for Feature Class",
        "sampling.descr": "<xdoc><p>Specifies the sampling scheme that will be used.</p><ul><li><span title=\"STRATIFIED_RANDOM\">Stratified random</span>—Randomly distributed points will be created in each class, in which each class has a number of points proportional to its relative area. This is the default</li><li><span title=\"EQUALIZED_STRATIFIED_RANDOM\">Equalized stratified random</span>—Randomly distributed points will be created in each class, in which each class has the same number of points.</li><li><span title=\"RANDOM\">Random</span>—Randomly distributed points will be created throughout the image.</li></ul></xdoc>",
        "sampling.domain.EQUALIZED_STRATIFIED_RANDOM": "Equalized stratified random",
        "sampling.domain.RANDOM": "Random",
        "sampling.domain.STRATIFIED_RANDOM": "Stratified random",
        "sampling.title": "Sampling Strategy",
        "summary": "<xdoc><p>Creates randomly sampled points for postclassification accuracy assessment.</p><p>A common practice is to randomly select hundreds of points and label their classification types by referencing reliable sources, such as field work or human interpretation of high-resolution imagery. The reference points are then compared with the classification results at the same locations.</p></xdoc>",
        "target_field.descr": "<xdoc><p>Specifies whether the input data is a classified image or ground truth data.</p><ul><li><span title=\"CLASSIFIED\">Classified</span>—The input is a classified image. This is the default.</li><li><span title=\"GROUND_TRUTH\">Ground truth</span>—The input is reference data.</li></ul></xdoc>",
        "target_field.domain.CLASSIFIED": "Classified",
        "target_field.domain.GROUND_TRUTH": "Ground truth",
        "target_field.title": "Target Field",
        "title": "Create Accuracy Assessment Points"
    }
}
