{
    "set": [
        "add field",
        "alter",
        "field group",
        "modify field group",
        "remove field",
        "rename field group",
        "reorder fields",
        "contingency",
        "contingent attribute values",
        "contingent values",
        "field groups",
        "geodatabase"
    ]
}
