{
    "set": [
        "configuration",
        "diagram rule",
        "diagram template",
        "network",
        "network diagram",
        "remove diagram features",
        "remove feature",
        "template configuration"
    ]
}
