{
    "set": [
        "ascii",
        "csv",
        "endpoint",
        "geodesic",
        "geodesy",
        "geometry",
        "great circle",
        "import ascii",
        "import csv",
        "loxodrome",
        "normal section",
        "rhumb",
        "start point",
        "table",
        "table to featureclass",
        "true earth",
        "vector"
    ]
}
