{
    "set": [
        "aware",
        "camera",
        "connect",
        "coordinates",
        "date",
        "geo",
        "gps",
        "jpeg",
        "jpg",
        "link",
        "location",
        "map",
        "picture",
        "points",
        "reference",
        "reverse",
        "table",
        "tif",
        "timestamp"
    ]
}
