{
    "map": {
        "description": "Upgrades the schema of the network dataset. Upgrading a network dataset allows it to use new functionality available in the current software release. \nThis is a deprecated tool. This functionality has been replaced by the Upgrade Dataset tool. Upgrade Dataset can upgrade network datasets as well as other types of datasets, such as parcel fabrics, to the current ArcGIS release.",
        "in_network_dataset.descr": "The network dataset that will be upgraded. The network dataset must be a geodatabase-based network dataset.",
        "in_network_dataset.title": "Input Network Dataset",
        "out_network_dataset.title": "Network Dataset Layer",
        "summary": "<xdoc><p>Upgrades the schema of the network dataset. Upgrading a network dataset allows it to use new functionality available in the current software release.<note type=\"legacy\"/><p group=\"note\">This is a deprecated tool. This functionality has been replaced by the Upgrade Dataset tool. Upgrade Dataset can upgrade network datasets as well as other types of datasets, such as parcel fabrics, to the current ArcGIS release.</p></p></xdoc>",
        "title": "Upgrade Network"
    }
}
