{
    "set": [
        "add",
        "amend",
        "combine",
        "cover",
        "inside",
        "intersect",
        "join",
        "on top of",
        "outside",
        "overlap",
        "overlay",
        "replace",
        "spatial relationship",
        "substitute",
        "superimpose",
        "topological set",
        "topology"
    ]
}
