{
    "map": {
        "barriers.descr": "The name of a point feature class with features representing blocked intersections, road closures, accident sites, or other locations where travel is blocked along the network.",
        "barriers.title": "Barriers",
        "conceptualization_of_spatial_relationships.descr": "<xdoc><p>Specifies how the weighting associated with each spatial relationship is specified.</p><ul><li><span title=\"INVERSE\">Inverse</span>—Features farther away have a smaller weight than features nearby.</li><li><span title=\"FIXED\">Fixed</span>—Features within the <span class=\"esri_uicontrol\">Impedance Cutoff</span> are neighbors (weight of 1); features outside the <span class=\"esri_uicontrol\">Impedance Cutoff</span> are not weighted (weight of 0).</li></ul></xdoc>",
        "conceptualization_of_spatial_relationships.domain.FIXED": "Fixed",
        "conceptualization_of_spatial_relationships.domain.INVERSE": "Inverse",
        "conceptualization_of_spatial_relationships.title": "Conceptualization of Spatial Relationships",
        "description": "Constructs a spatial weights matrix file (.swm) using a Network dataset, defining feature spatial relationships in terms of the underlying network structure.",
        "exponent.descr": "<xdoc><p>Parameter for the <span class=\"esri_uicontrol\">Inverse </span><span class=\"esri_uicontrol\">Conceptualization of Spatial Relationships</span> calculation. Typical values are 1 or 2. Weights drop off quicker with distance as this exponent value increases.</p></xdoc>",
        "exponent.title": "Exponent",
        "impedance_attribute.descr": "The type of cost units to use as impedance in the analysis.",
        "impedance_attribute.title": "Impedance Attribute",
        "impedance_cutoff.descr": "<xdoc><p>Specifies a cutoff value for <span class=\"esri_uicontrol\">Inverse</span> and <span class=\"esri_uicontrol\">Fixed</span> conceptualizations of spatial relationships. Enter this value using the units specified by the <span class=\"esri_uicontrol\">Impedance Attribute</span> parameter.</p><p>A value of zero indicates that no threshold is applied. When this parameter is left blank, a default threshold value is computed based on input feature class extent and the number of features.</p></xdoc>",
        "impedance_cutoff.title": "Impedance Cutoff",
        "input_feature_class.descr": "The point feature class for which network spatial relationships among features will be assessed.",
        "input_feature_class.title": "Input Feature Class",
        "input_network.descr": "The network dataset for which spatial relationships among features in the input feature class will be defined. Network datasets most often represent street networks but may represent other kinds of transportation networks as well. The network dataset needs at least one time-based and one distance-based cost attribute.",
        "input_network.title": "Input Network",
        "maximum_number_of_neighbors.descr": "An integer reflecting the maximum number of neighbors to find for each feature.",
        "maximum_number_of_neighbors.title": "Maximum Number of Neighbors",
        "output_spatial_weights_matrix_file.descr": "The output network spatial weights matrix (.swm) file.",
        "output_spatial_weights_matrix_file.title": "Output Spatial Weights Matrix File",
        "params.category1": "Custom Travel Mode Options",
        "params.category2": "Network Analysis Options",
        "params.category3": "Weights Options",
        "restrictions.descr": "A list of restrictions. Check the restrictions to be honored in spatial relationship computations.",
        "restrictions.title": "Restrictions",
        "row_standardization.descr": "<xdoc><p>Specifies whether row standardization is applied. Row standardization is recommended whenever feature distribution is potentially biased due to sampling design or to an imposed aggregation scheme.</p><ul><li>Checked—Spatial weights are standardized by row. Each weight is divided by its row sum.</li><li>Unchecked—No standardization of spatial weights is applied.</li></ul></xdoc>",
        "row_standardization.title": "Row Standardization",
        "search_tolerance.descr": "<xdoc><p>The search threshold used to locate features in the <span class=\"esri_uicontrol\">Input Feature Class</span> onto the network dataset. This parameter includes a search value and the units for the tolerance.</p></xdoc>",
        "search_tolerance.title": "Search Tolerance",
        "summary": "<xdoc><p>Constructs a spatial weights matrix file (.swm) using a Network dataset, defining feature spatial relationships in terms of the underlying network structure.</p><note type=\"legacy\"/><p group=\"note\">This is a deprecated tool. A new tool has been created with enhancements and new functionality including accepting networks from portal services. See the updated Generate Network Spatial Weights Matrix tool.</p></xdoc>",
        "time_of_day.descr": "Specifies whether travel times should consider traffic conditions. Especially in urbanized areas, traffic conditions can significantly impact the area covered within a specified travel time. If no date or time is specified, the distance covered during a specified travel time will not be impacted by traffic.",
        "time_of_day.title": "Time of Day",
        "title": "Generate Network Spatial Weights",
        "travel_mode.descr": "<xdoc><p>The mode of transportation for the analysis. <span class=\"esri_uicontrol\">Custom</span> is always a choice. For other travel modes to appear, they must be present in the network dataset specified in the <span class=\"esri_uicontrol\">Network Dataset</span> parameter.</p><p>A travel mode is defined on a network dataset and provides override values for parameters that model car, truck, pedestrian, or other modes of travel.</p></xdoc>",
        "travel_mode.title": "Travel Mode",
        "u-turn_policy.descr": "<xdoc><p>Specifies optional U-turn restrictions.</p><ul><li><span title=\"ALLOW_UTURNS\">Allow U-turns</span>—U-turns will be allowed anywhere. This is the default.</li><li><span title=\"NO_UTURNS\">No U-turns</span>—No U-turns will be allowed during navigation.</li><li><span title=\"ALLOW_DEAD_ENDS_ONLY\">Allow U-turns at dead ends only</span>—U-turns will be allowed only at dead ends (that is, single-valent junctions).</li><li><span title=\"ALLOW_DEAD_ENDS_AND_INTERSECTIONS_ONLY\">Allow U-turns at dead ends and intersections only</span>—U-turns will be allowed only at dead ends and intersections.</li></ul></xdoc>",
        "u-turn_policy.domain.ALLOW_DEAD_ENDS_AND_INTERSECTIONS_ONLY": "Allow U-turns at dead ends and intersections only",
        "u-turn_policy.domain.ALLOW_DEAD_ENDS_ONLY": "Allow U-turns at dead ends only",
        "u-turn_policy.domain.ALLOW_UTURNS": "Allow U-turns",
        "u-turn_policy.domain.NO_UTURNS": "No U-turns",
        "u-turn_policy.title": "U-turn Policy",
        "unique_id_field.descr": "<xdoc><p>An integer field containing a different value for every feature in the input feature class. If you don&apos;t have a Unique ID field, you can create one by adding an integer field to your feature class table and calculating the field values to equal the <span class=\"esri_fieldname\">FID</span> or <span class=\"esri_fieldname\">OBJECTID</span> field.</p></xdoc>",
        "unique_id_field.title": "Unique ID Field",
        "use_hierarchy_in_analysis.descr": "<xdoc><p>Specifies whether to use a hierarchy in the analysis.</p><ul><li>Checked—The network dataset&apos;s hierarchy attribute will be used in a heuristic path algorithm to speed analysis.</li><li>Unchecked—An exact path algorithm will be used instead. If there is no hierarchy attribute, this option does not affect analysis.</li></ul></xdoc>",
        "use_hierarchy_in_analysis.title": "Use Hierarchy in Analysis"
    }
}
