{
    "map": {
        "densification_method.descr": "<xdoc><p>Specifies the feature densification method to be used.</p><ul><li><span title=\"DISTANCE\">Distance</span>—Straight lines and curves will be densified using the specified distance. This is the default.</li><li><span title=\"OFFSET\">Offset</span>—Curves will be densified using the specified maximum offset deviation.</li><li><span title=\"ANGLE\">Angle</span>—Curves will be densified using the specified maximum deflection angle.</li></ul></xdoc>",
        "densification_method.domain.ANGLE": "Angle",
        "densification_method.domain.DISTANCE": "Distance",
        "densification_method.domain.OFFSET": "Offset",
        "densification_method.title": "Densification Method",
        "description": "Adds vertices along line or polygon features and replaces curve segments (Bezier, circular arcs, and elliptical arcs) with line segments.",
        "distance.descr": "<xdoc><p>The maximum distance between vertices. This distance will always be applied to line segments and to simplify curves. The default value is a function of the data&apos;s x,y tolerance.</p><p>New vertices may not be inserted at this exact interval along the line, rather they will be inserted within this distance of the previous vertex. There is no way to ensure that a vertex is added exactly at the specified interval along the line segment.</p></xdoc>",
        "distance.title": "Distance",
        "in_features.descr": "The polygon or line feature class to be densified.",
        "in_features.title": "Input Features",
        "max_angle.descr": "The maximum angle the output geometry can be from the input geometry. The valid range is 0 to 90. The default value is 10. This parameter only affects curves.",
        "max_angle.title": "Maximum Deflection Angle (Degrees)",
        "max_deviation.descr": "The maximum distance the output segment will be from the original. This parameter only affects curves. The default value is a function of the data's x,y tolerance.",
        "max_deviation.title": "Maximum Offset Deviation",
        "max_vertex_per_segment.descr": "The maximum vertex count allowed per segment. If no value or an invalid value (0 or less) is entered, there will be no vertex limit for linear segments, and curve segments will have a default of 12000.",
        "max_vertex_per_segment.title": "Maximum Vertex Count (per segment)",
        "out_feature_class.title": "Updated Input Features",
        "title": "Densify"
    }
}
