{
    "set": [
        "change",
        "copy",
        "dbase",
        "dbf",
        "export",
        "file",
        "gdb",
        "geodatabase",
        "import",
        "info",
        "personal",
        "swm",
        "turn"
    ]
}
