{
    "set": [
        "alignment",
        "barriers",
        "boundaries",
        "constraints",
        "hierarchy",
        "level",
        "output",
        "supported extensions",
        "table"
    ]
}
