{
    "set": [
        "cell registration",
        "climate",
        "climatology",
        "dimension",
        "meteorology",
        "multidimensional raster",
        "oceanography",
        "scientific",
        "scientific data",
        "weather"
    ]
}
