{
    "map": {
        "database_path.descr": "The Workflow Manager (Classic) database connection file (.jtc) that contains the job information. If no connection file is specified, the current default Workflow Manager (Classic) database will be used.",
        "database_path.title": "Input Database Path",
        "description": "Increases the value in an extended property by the update value each time the tool is run so that metrics are recorded.",
        "job_id.descr": "The ID of the Workflow Manager (Classic) job that will be updated.",
        "job_id.title": "Job ID",
        "properties_table_name.descr": "The name of the extended properties table that will be updated.",
        "properties_table_name.title": "Properties Table Name",
        "property_field.descr": "The property to be updated in the selected extended properties table.",
        "property_field.title": "Property Field",
        "summary": "<xdoc><p>Increases the value in an extended property by the update value each time the tool is run so that metrics are recorded.</p><note type=\"legacy\"/><p group=\"note\">This is a deprecated tool. Extended properties can be updated using the Update Extended Property tool.</p><note type=\"caution\"/><p group=\"note\">This tool is designed to be run as a step in a Workflow Manager (Classic) workflow. Running this tool outside of Workflow Manager (Classic) does not honor all Workflow Manager (Classic) constraints such as job assignment, dependencies, or holds and may cause a job to enter an unusable state.</p><note type=\"caution\"/><p group=\"note\">This tool is intended for use with the Topographic Mapping production workflows and will not support an improperly configured Workflow Manager (Classic) repository. Sample workflows and instructions for configuring Topographic Mapping production workflows are available as part of the product file installer.</p></xdoc>",
        "title": "Update Property Count",
        "update_value.descr": "The value by which the selected extended property will be increased.",
        "update_value.title": "Update Value",
        "updated_job_id.title": "Updated Job ID"
    }
}
