{
    "set": [
        "data cube",
        "dimension",
        "image cube",
        "mosaic dataset",
        "scientific data",
        "change detection",
        "land cover",
        "multidimension",
        "multidimensional",
        "netcdf",
        "pixel count",
        "thematic",
        "time series"
    ]
}
