openapi: 3.0.3
info:
  title: Economic Development API
  description: Business development and economic growth APIs
  version: 1.0.0
  contact:
    name: TerraFusion Government OS API Support
    email: economic-development-api@terrafusion.gov
    url: https://docs.terrafusion.gov/frontend/economic-development
  license:
    name: Government Use License
    url: https://terrafusion.gov/licenses/government-api
  termsOfService: https://terrafusion.gov/terms/api-usage
servers:
  - url: https://api.terrafusion.gov/api/v1/economic-development
    description: Production TerraFusion Government API
  - url: https://staging-api.terrafusion.gov/api/v1/economic-development
    description: Staging Environment
  - url: https://dev-api.terrafusion.gov/api/v1/economic-development
    description: Development Environment
paths:
  /businesses:
    get:
      tags:
        - economic-development
      summary: List registered businesses
      description: List registered businesses - Business development and economic
        growth APIs
      operationId: get__businesses
      security:
        - OAuth2:
            - economic-development:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /incentives:
    get:
      tags:
        - economic-development
      summary: Available business incentives
      description: Available business incentives - Business development and economic
        growth APIs
      operationId: get__incentives
      security:
        - OAuth2:
            - economic-development:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permits:
    post:
      tags:
        - economic-development
      summary: Apply for business permit
      description: Apply for business permit - Business development and economic growth
        APIs
      operationId: post__permits
      security:
        - OAuth2:
            - economic-development:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /economic-data:
    get:
      tags:
        - economic-development
      summary: Economic development metrics
      description: Economic development metrics - Business development and economic
        growth APIs
      operationId: get__economic-data
      security:
        - OAuth2:
            - economic-development:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: object
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        dependencies:
          type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.terrafusion.gov/oauth/authorize
          tokenUrl: https://auth.terrafusion.gov/oauth/token
          scopes:
            economic-development:read: Read access to economic-development resources
            economic-development:write: Write access to economic-development resources
            economic-development:admin: Administrative access to economic-development
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
security:
  - OAuth2:
      - economic-development:read
  - ApiKey: []
tags:
  - name: economic-development
    description: Economic Development operations
    externalDocs:
      description: Find out more about economic-development
      url: https://docs.terrafusion.gov/frontend/economic-development
