{
    "map": {
        "calibration_point_feature_class.descr": "An existing calibration point feature class for the minimum schema.",
        "calibration_point_feature_class.title": "Calibration Point - Feature Class",
        "calibration_point_from_date_field.descr": "<xdoc><p>The name of the from date field from the <span class=\"esri_uicontrol\">Calibration Point - Feature Class</span> parameter value.</p></xdoc>",
        "calibration_point_from_date_field.title": "Calibration Point - From Date Field",
        "calibration_point_measure_field.descr": "<xdoc><p>The name of the measure field from the <span class=\"esri_uicontrol\">Calibration Point - Feature Class</span> parameter value.</p></xdoc>",
        "calibration_point_measure_field.title": "Calibration Point - Measure Field",
        "calibration_point_network_id_field.descr": "<xdoc><p>The name of the network ID field from the <span class=\"esri_uicontrol\">Calibration Point - Feature Class</span> parameter value.</p></xdoc>",
        "calibration_point_network_id_field.title": "Calibration Point - Network ID Field",
        "calibration_point_route_id_field.descr": "<xdoc><p>The name of the route ID field from the <span class=\"esri_uicontrol\">Calibration Point - Feature Class</span> parameter value.</p></xdoc>",
        "calibration_point_route_id_field.title": "Calibration Point - Route ID Field",
        "calibration_point_to_date_field.descr": "<xdoc><p>The name of the to date field from the <span class=\"esri_uicontrol\">Calibration Point - Feature Class</span> parameter value.</p></xdoc>",
        "calibration_point_to_date_field.title": "Calibration Point - To Date Field",
        "centerline_centerline_id_field.descr": "<xdoc><p>The name of the centerline ID field from the <span class=\"esri_uicontrol\">Centerline - Feature Class</span> parameter value.</p></xdoc>",
        "centerline_centerline_id_field.title": "Centerline - Centerline ID Field",
        "centerline_feature_class.descr": "An existing centerline feature class for the minimum schema.",
        "centerline_feature_class.title": "Centerline - Feature Class",
        "centerline_sequence_centerline_id_field.descr": "<xdoc><p>The name of the centerline ID field from the <span class=\"esri_uicontrol\">Centerline Sequence - Table</span> parameter value.</p></xdoc>",
        "centerline_sequence_centerline_id_field.title": "Centerline Sequence - Centerline ID Field",
        "centerline_sequence_from_date_field.descr": "<xdoc><p>The name of the from date field from the <span class=\"esri_uicontrol\">Centerline Sequence - Table</span> parameter value.</p></xdoc>",
        "centerline_sequence_from_date_field.title": "Centerline Sequence - From Date Field",
        "centerline_sequence_network_id_field.descr": "<xdoc><p>The name of the network ID field from the <span class=\"esri_uicontrol\">Centerline Sequence - Table</span> parameter value.</p></xdoc>",
        "centerline_sequence_network_id_field.title": "Centerline Sequence - Network ID Field",
        "centerline_sequence_route_id_field.descr": "<xdoc><p>The name of the route ID field from the <span class=\"esri_uicontrol\">Centerline Sequence - Table</span> parameter value.</p></xdoc>",
        "centerline_sequence_route_id_field.title": "Centerline Sequence - Route ID Field",
        "centerline_sequence_table.descr": "An existing centerline sequence table for the minimum schema.",
        "centerline_sequence_table.title": "Centerline Sequence - Table",
        "centerline_sequence_to_date_field.descr": "<xdoc><p>The name of the to date field from the <span class=\"esri_uicontrol\">Centerline Sequence - Table</span> parameter value.</p></xdoc>",
        "centerline_sequence_to_date_field.title": "Centerline Sequence - To Date Field",
        "conflict_prevention.descr": "<xdoc><p>Specifies whether conflict prevention will be enabled for the input LRS. Conflict prevention is only available when editing or performing geoprocessing on branch versioned data that is published as a feature service.</p><ul><li><span title=\"AS_IS\">As is</span>—The current conflict prevention setting will be used. This is the default.</li><li><span title=\"ENABLE\">Enable</span>—Conflict prevention will be enabled for the input LRS.</li><li><span title=\"DISABLE\">Disable</span>—Conflict prevention will be disabled for the input LRS.</li></ul></xdoc>",
        "conflict_prevention.domain.AS_IS": "As is",
        "conflict_prevention.domain.DISABLE": "Disable",
        "conflict_prevention.domain.ENABLE": "Enable",
        "conflict_prevention.title": "Conflict Prevention",
        "current_lrs_name.descr": "The name of the current LRS.",
        "current_lrs_name.title": "Current LRS Name",
        "description": "Modifies an existing linear referencing system (LRS) in the specified workspace.",
        "in_workspace.descr": "The LRS workspace.",
        "in_workspace.title": "Input Workspace",
        "move_to_feature_dataset.descr": "<xdoc><p>Specifies whether feature classes will be moved to the required LRS feature dataset.</p><ul><li>Checked—Feature classes will be moved to the required LRS feature dataset.</li><li>Unchecked—Feature classes will not be moved to the required LRS feature dataset. This is the default.</li></ul></xdoc>",
        "move_to_feature_dataset.title": "Move required feature classes to feature dataset",
        "new_lrs_name.descr": "The new name of the current LRS.",
        "new_lrs_name.title": "New LRS Name",
        "out_workspace.title": "Updated Input Workspace",
        "params.category1": "Centerline",
        "params.category2": "Centerline Sequence",
        "params.category3": "Calibration Point",
        "params.category4": "Redline",
        "redline_activity_type_field.descr": "<xdoc><p>The name of the activity type field from the <span class=\"esri_uicontrol\">Redline - Feature Class</span> parameter value.</p></xdoc>",
        "redline_activity_type_field.title": "Redline - Activity Type Field",
        "redline_effective_date_field.descr": "<xdoc><p>The name of the effective date field from the <span class=\"esri_uicontrol\">Redline - Feature Class</span> parameter value.</p></xdoc>",
        "redline_effective_date_field.title": "Redline - Effective Date Field",
        "redline_feature_class.descr": "An existing redline feature class for the minimum schema.",
        "redline_feature_class.title": "Redline - Feature Class",
        "redline_from_measure_field.descr": "<xdoc><p>The name of the from measure field from the <span class=\"esri_uicontrol\">Redline - Feature Class</span> parameter value.</p></xdoc>",
        "redline_from_measure_field.title": "Redline - From Measure Field",
        "redline_network_id_field.descr": "<xdoc><p>The name of the network ID field from the <span class=\"esri_uicontrol\">Redline - Feature Class</span> parameter value.</p></xdoc>",
        "redline_network_id_field.title": "Redline - Network ID Field",
        "redline_route_id_field.descr": "<xdoc><p>The name of the route ID field from the <span class=\"esri_uicontrol\">Redline - Feature Class</span> parameter value.</p></xdoc>",
        "redline_route_id_field.title": "Redline - Route ID Field",
        "redline_route_name_field.descr": "<xdoc><p>The name of the route name field from the <span class=\"esri_uicontrol\">Redline - Feature Class</span> parameter value.</p></xdoc>",
        "redline_route_name_field.title": "Redline - Route Name Field",
        "redline_to_measure_field.descr": "<xdoc><p>The name of the to measure field from the <span class=\"esri_uicontrol\">Redline - Feature Class</span> parameter value.</p></xdoc>",
        "redline_to_measure_field.title": "Redline - To  Measure Field",
        "title": "Modify LRS"
    }
}
