{
    "map": {
        "band_indexes.descr": "<xdoc><p>The band order for the pan sharpened weights.</p><p>If a raster product is used as the <span class=\"esri_uicontrol\">Input Raster</span>, the band order within the raster product template will be used.</p></xdoc>",
        "band_indexes.title": "Band Indexes",
        "description": "Calculates an optimal set of pan sharpened weights for new or custom sensor data.",
        "in_panchromatic_image.descr": "The panchromatic band associated with the multispectral raster.",
        "in_panchromatic_image.title": "Panchromatic Image",
        "in_raster.descr": "A multispectral raster that has a panchromatic band.",
        "in_raster.title": "Input Raster",
        "out_string.title": "Pan-sharpened Weights",
        "title": "Compute Pansharpen Weights"
    }
}
