{
    "set": [
        "boundary",
        "distance",
        "drive",
        "drive-time",
        "geographies",
        "minutes",
        "network service",
        "service area",
        "time",
        "trade area",
        "trade areas"
    ]
}
