{
    "set": [
        "allocation",
        "crow",
        "distance",
        "eucdistance",
        "euclidean",
        "source",
        "spread",
        "straight line",
        "travel cost"
    ]
}
