{
    "map": {
        "alternate_hachures.descr": "<xdoc><p>Specifies whether the length of every other hachure triangle or tick will differ.</p><ul><li>Unchecked—All hachures will be of uniform length, which is the distance between the upper and lower slope lines. This is the default.</li><li>Checked—Every other hachure will be one-half the distance between the upper and lower slope lines.</li></ul></xdoc>",
        "alternate_hachures.title": "Alternate length of every other hachure",
        "description": "Creates multipart lines or polygons representing the slope between the lines representing the upper and lower parts of a slope.",
        "fully_connected.descr": "<xdoc><p>Specifies whether the upper and lower lines in the input data form fully connected areas. If the upper and lower lines are not fully connected, leave this parameter unchecked to create hachures inside areas that are derived by connecting the extremities of the upper and lower features. If the upper and lower lines are fully connected, check this parameter to create hachures inside the fully enclosed areas.</p><ul><li>Unchecked—The upper and lower features are not fully connected in the input data. New connections between the upper and lower features will be derived. This is the default.</li><li>Checked—The upper and lower features are fully connected in the input data. New connections between features will not be derived.</li></ul></xdoc>",
        "fully_connected.title": "Fully connected",
        "interval.descr": "The distance between the hachure ticks or triangles within the slope area. The default value is 10 meters.",
        "interval.title": "Hachure Interval",
        "lower_lines.descr": "The line features that represent the bottom of a slope.",
        "lower_lines.title": "Lower Line Features",
        "minimum_length.descr": "The length a hachure tick or triangle must be to be created. Hachures that are shorter than this length will not be created. The default value is 0 meters.",
        "minimum_length.title": "Minimum Length",
        "output_feature_class.descr": "The output feature class containing multipart line or polygon hachures representing the slope area.",
        "output_feature_class.title": "Output Feature Class",
        "output_type.descr": "<xdoc><p>Specifies whether polygon triangles or tick lines will be created to represent the slope.</p><ul><li><span title=\"POLYGON_TRIANGLES\">Polygon triangles</span>—Multipart polygon features will be created in which a triangular polygon is created for each hachure, with the base along the upper line. This is the default.</li><li><span title=\"LINE_TICKS\">Line ticks</span>—Multipart line features will be created in which a linear tick is created for each hachure.</li></ul></xdoc>",
        "output_type.domain.LINE_TICKS": "Line ticks",
        "output_type.domain.POLYGON_TRIANGLES": "Polygon triangles",
        "output_type.title": "Output Feature Type",
        "perpendicular.descr": "<xdoc><p>Specifies whether the hachure ticks or triangles will be perpendicular to the upper slope line.</p><ul><li>Unchecked—Hachures will be oriented to obtain even spacing. This is the default.</li><li>Checked—Hachures will be oriented perpendicularly to the upper line.</li></ul></xdoc>",
        "perpendicular.title": "Perpendicular to upper line",
        "polygon_base_width.descr": "<xdoc><p>The width of the base of triangular polygon hachures. This parameter is active only when the <span class=\"esri_uicontrol\">Output Feature Type</span> parameter is set to <span class=\"esri_uicontrol\">Polygon triangles</span>. The default value is 5 meters.</p></xdoc>",
        "polygon_base_width.title": "Polygon Base Width",
        "search_distance.descr": "<xdoc><p>The distance used when deriving connections between the upper and lower features. When the extremities for the upper and lower feature are within this distance, the area between the features is used for creating hachures. The default value is 20 meters. When the <span class=\"esri_uicontrol\">Fully connected</span> parameter is checked, this parameter is not available.</p></xdoc>",
        "search_distance.title": "Search Distance",
        "title": "Generate Hachures For Defined Slopes",
        "upper_lines.descr": "The line features that represent the top of a slope.",
        "upper_lines.title": "Upper Line Features"
    }
}
