{
    "map": {
        "class_breaks_table.descr": "A table containing classification breaks that will be used to group the output features. The first column of this table will indicate the break point, whereas the second will provide the classification code.",
        "class_breaks_table.title": "Class Breaks Table",
        "description": "Creates polygon features that represent ranges of slope values for triangulated surfaces.",
        "in_surface.descr": "The TIN, terrain, or LAS dataset whose slope measurements will be written to the output polygon feature.",
        "in_surface.title": "Input Surface",
        "out_feature_class.descr": "The feature class that will be produced.",
        "out_feature_class.title": "Output Feature Class",
        "pyramid_level_resolution.descr": "The z-tolerance or window-size resolution of the terrain pyramid level that will be used. The default is 0, or full resolution.",
        "pyramid_level_resolution.title": "Pyramid Level Resolution",
        "slope_field.descr": "The field containing slope values.",
        "slope_field.title": "Slope Field",
        "title": "Surface Slope",
        "units.descr": "<xdoc><p>The units of measure to be used in calculating slope.</p><ul><li><span title=\"PERCENT\">Percent</span>—Slope is expressed as a percentage value. This is the default.</li><li><span title=\"DEGREE\">Degree</span>—Slope is expressed as the angle of inclination from a horizontal plane.</li></ul></xdoc>",
        "units.domain.DEGREE": "Degree",
        "units.domain.PERCENT": "Percent",
        "units.title": "Slope Units",
        "z_factor.descr": "The factor by which z-values will be multiplied. This is typically used to convert z linear units to match x,y linear units. The default is 1, which leaves elevation values unchanged. This parameter is not available if the spatial reference of the input surface has a z-datum with a specified linear unit.",
        "z_factor.title": "Z Factor"
    }
}
