{
    "map": {
        "attribute_fields.descr": "<xdoc><p>The names of the fields containing attribute values that will be added to the relationship class. The fields must be present in the <span class=\"esri_uicontrol\">Relationship Table</span> parameter value.</p></xdoc>",
        "attribute_fields.title": "Attribute Fields",
        "backward_label.descr": "A label describing the relationship as it is traversed from the destination table or feature class to the origin table or feature class.",
        "backward_label.title": "Backward Path Label",
        "cardinality.descr": "<xdoc><p>Specifies the cardinality of the relationship between the origin and destination.</p><ul><li><span title=\"ONE_TO_ONE\">One to one (1:1)</span>—Each object of the origin table or feature class can be related to zero or one object of the destination table or feature class. This is the default.</li><li><span title=\"ONE_TO_MANY\">One to many (1:M)</span>—Each object of the origin table or feature class can be related to multiple objects in the destination table or feature class.</li><li><span title=\"MANY_TO_MANY\">Many to many (M:N)</span>—Multiple objects of the origin table or feature class can be related to multiple objects in the destination table or feature class.</li></ul></xdoc>",
        "cardinality.domain.MANY_TO_MANY": "Many to many (M:N)",
        "cardinality.domain.ONE_TO_MANY": "One to many (1:M)",
        "cardinality.domain.ONE_TO_ONE": "One to one (1:1)",
        "cardinality.title": "Cardinality",
        "description": "Creates an attributed relationship class from the origin, destination, and relationship tables.",
        "destination_foreign_key.descr": "The field in the relationship table that refers to the primary key field in the destination table or feature class. For table-based relationship classes, these values are used to populate the relationships in the relationship class so they cannot be null.",
        "destination_foreign_key.title": "Destination Foreign Key",
        "destination_primary_key.descr": "The field in the destination table that will be used to create the relationship.",
        "destination_primary_key.title": "Destination primary key",
        "destination_table.descr": "The table or feature class that will be associated to the origin table.",
        "destination_table.title": "Destination Table",
        "forward_label.descr": "A label describing the relationship as it is traversed from the origin table or feature class to the destination table or feature class.",
        "forward_label.title": "Forward Path Label",
        "message_direction.descr": "<xdoc><p>Specifies the direction messages that will be propagated between the objects in the relationship. For example, in a relationship between poles and transformers, when the pole is deleted, it sends a message to its related transformer objects informing them it was deleted.</p><ul><li><span title=\"NONE\">None (no messages propagated)</span>—No messages will be propagated. This is the default.</li><li><span title=\"FORWARD\">Forward (origin to destination)</span>—Messages will be propagated from the origin to the destination.</li><li><span title=\"BACKWARD\">Backward (destination to origin)</span>—Messages will be propagated from the destination to the origin.</li><li><span title=\"BOTH\">Both directions</span>—Messages will be propagated from the origin to the destination and from the destination to the origin.</li></ul></xdoc>",
        "message_direction.domain.BACKWARD": "Backward (destination to origin)",
        "message_direction.domain.BOTH": "Both directions",
        "message_direction.domain.FORWARD": "Forward (origin to destination)",
        "message_direction.domain.NONE": "None (no messages propagated)",
        "message_direction.title": "Message Direction",
        "origin_foreign_key.descr": "The name of the field in the relationship table that refers to the primary key field in the origin table or feature class. For table-based relationship classes, these values are used to populate the relationships in the relationship class so they cannot be null.",
        "origin_foreign_key.title": "Origin Foreign Key",
        "origin_primary_key.descr": "The field in the origin table that will be used to create the relationship.",
        "origin_primary_key.title": "Origin Primary Key",
        "origin_table.descr": "The table or feature class that will be associated to the destination table.",
        "origin_table.title": "Origin Table",
        "out_relationship_class.descr": "The relationship class that will be created.",
        "out_relationship_class.title": "Output Relationship Class",
        "relationship_table.descr": "The table containing attributes that will be added to the relationship class.",
        "relationship_table.title": "Relationship Table",
        "relationship_type.descr": "<xdoc><p>Specifies the type of association that will be created between the origin and destination tables.</p><ul><li><span title=\"SIMPLE\">Simple</span>—Each object will be independent of each other (a parent-to-parent relationship). This is the default.</li><li><span title=\"COMPOSITE\">Composite</span>—The lifetime of one object will control the lifetime of its related object (a parent-child relationship).</li></ul></xdoc>",
        "relationship_type.domain.COMPOSITE": "Composite",
        "relationship_type.domain.SIMPLE": "Simple",
        "relationship_type.title": "Relationship Type",
        "title": "Table To Relationship Class"
    }
}
