{
    "set": [
        "configure",
        "delete event",
        "delete lrs",
        "delete route",
        "lookup table",
        "padding",
        "remove event",
        "remove route"
    ]
}
