{
    "set": [
        "batch",
        "change",
        "convert",
        "copy",
        "db",
        "dbase",
        "dbf",
        "export",
        "feature class",
        "file",
        "format",
        "gdb",
        "import",
        "info",
        "load",
        "make",
        "many",
        "migrate",
        "ole",
        "record",
        "row",
        "sde",
        "turn"
    ]
}
