{
    "map": {
        "description": "Subdivides a feature into smaller features based on a specified vertex limit. This tool is intended as a way to subdivide extremely large features that cause issues with drawing, analysis, editing, and/or performance but are difficult to split up with standard editing and geoprocessing tools. This tool should not be used in any cases other than those where tools are failing to complete successfully due to the size of features.",
        "in_features.descr": "The input feature class or feature layer. The geometry type must be multipoint, line, or polygon.",
        "in_features.title": "Input Features",
        "out_feature_class.descr": "The output feature class of diced features.",
        "out_feature_class.title": "Output Feature Class",
        "title": "Dice",
        "vertex_limit.descr": "Features with geometries that exceed this vertex limit will be subdivided before being written to the output feature class.",
        "vertex_limit.title": "Vertex Limit"
    }
}
