{
    "set": [
        "big",
        "cut",
        "divide",
        "draw",
        "edit",
        "geometry",
        "large",
        "out of memory",
        "performance",
        "problem",
        "ratio",
        "small",
        "split",
        "subdivide",
        "transform",
        "vector",
        "vertex",
        "vertices"
    ]
}
