{
    "set": [
        "automatic layout",
        "configuration",
        "diagram layout",
        "diagram template",
        "network",
        "network diagram",
        "radial tree",
        "template configuration",
        "tree layout"
    ]
}
