{
    "map": {
        "description": "Calculates the base 2 exponential of the cells in a raster.",
        "in_raster_or_constant.descr": "<xdoc><p>The input values for which to find the base 2 exponential.</p><p>To use a number as an input for this parameter, the cell size and extent must first be set in the environment.</p></xdoc>",
        "in_raster_or_constant.title": "Input raster or constant value",
        "out_raster.descr": "<xdoc><p>The output raster.</p><p>The cell values are the base 2 exponential of the input values.</p></xdoc>",
        "out_raster.title": "Output raster",
        "title": "Exp2"
    }
}
