{
    "set": [
        "bearing",
        "compass",
        "direction",
        "downslope",
        "face",
        "flat",
        "maximum rate of change",
        "relief",
        "slope direction"
    ]
}
