{
    "set": [
        "big data",
        "cotravelers",
        "direction",
        "directionality",
        "frequent",
        "frequently",
        "maneuver",
        "motion",
        "movement",
        "point tracks",
        "speed",
        "tracking",
        "tracks",
        "travel",
        "turn"
    ]
}
