{
    "set": [
        "data management",
        "defense",
        "defense mapping",
        "generalisation",
        "generalization",
        "production",
        "production mapping",
        "remove",
        "small lines",
        "topo",
        "topographic",
        "topographic production"
    ]
}
