{
    "map": {
        "description": "This tool will export the Workflow Manager (Classic) repository to a .jxl file in the specified folder location. The .jxl file will contain all the configuration information for the repository as well as information about all the jobs. The .jxl file can be imported into another Workflow Manager (Classic) repository using the Import Job Data  tool.",
        "input_databasepath.descr": "The Workflow Manager (Classic) connection file for the database to be exported. If no connection file is specified, the current default Workflow Manager (Classic) database in the project is used.",
        "input_databasepath.title": "Input Database Path (.jtc)",
        "input_export_since.descr": "By specifying a date, the JXL exported will only contain changes that occurred between the specified time and the current date. The input should be in UTC time format.",
        "input_export_since.title": "Export Since",
        "input_export_until.descr": "<xdoc><p>By specifying a date, the JXL exported will only contain changes that occurred between <span class=\"esri_uicontrol\">Export Since</span> and the specified time. The input should be in UTC time format.</p></xdoc>",
        "input_export_until.title": "Export Until",
        "input_folder.descr": "The location of the JXL file output from the tool. This folder can be on a local or a network drive.",
        "input_folder.title": "Folder To Export To",
        "input_repository_name.descr": "The name of the Workflow Manager (Classic) repository that contains the configuration to be shared. If repository name is not specified, the current default Workflow Manager (Classic) repository name is used.",
        "input_repository_name.title": "Repository Name",
        "output_status.title": "Status",
        "summary": "<xdoc><p>This tool will export the Workflow Manager (Classic) repository to a .jxl file in the specified folder location. The .jxl file will contain all the configuration information for the repository as well as information about all the jobs. The .jxl file can be imported into another Workflow Manager (Classic) repository using the Import Job Data tool.</p><note type=\"legacy\"/><p group=\"note\">This is a deprecated tool. It is recommended that current Workflow Manager (Classic) users begin new projects using the services-driven ArcGIS Workflow Manager for ArcGIS Pro.</p></xdoc>",
        "title": "Export Job Data"
    }
}
