{
    "map": {
        "derived_out_terrain.title": "Output Terrain",
        "description": "Adds terrain multipoints to an embedded terrain feature class.",
        "in_feature_class.title": "Input Feature Class",
        "in_terrain.title": "Input Terrain",
        "method.domain.APPEND": "APPEND",
        "method.domain.REPLACE": "REPLACE",
        "method.title": "Method",
        "terrain_feature_class.title": "Input Terrain Feature Class",
        "title": "Add Terrain Points"
    }
}
