{
    "set": [
        "add",
        "address",
        "aggregate",
        "apk",
        "assemble",
        "bundle",
        "centralize",
        "collect",
        "consolidate",
        "copy",
        "gather",
        "geocode",
        "group",
        "package",
        "share",
        "together",
        "zip"
    ]
}
