{
    "map": {
        "are_containers_preserved.descr": "<xdoc><p>Specifies how the algorithm will process containers.<ul><li>Checked—The layout algorithm will apply to the top graph of the diagram so containers are preserved.</li><li>Unchecked—The layout algorithm will apply to both content and noncontent features in the diagram. This is the default.</li></ul></p></xdoc>",
        "are_containers_preserved.title": "Preserve container layout",
        "description": "Adds the Angle Directed Layout algorithm to the list of layouts to be automatically chained at the end of the generation of diagrams based on a given template. This tool also presets the Angle Directed Layout algorithm parameters for any diagram based on that template.",
        "in_utility_network.descr": "The utility network or trace network containing the diagram template that will be modified.",
        "in_utility_network.title": "Input Network",
        "is_active.descr": "<xdoc><p>Specifies whether the layout algorithm will automatically run when generating diagrams based on the specified template.<ul><li>Checked—The added layout algorithm will automatically run during the generation of any diagram that is based on the <span class=\"esri_uicontrol\">Input Diagram Template</span> parameter value. This is the default.<p>The parameter values specified for the layout algorithm are used to run the layout during diagram generation. They are also loaded by default when the algorithm is to be run on any diagram based on the input template.</p></li><li>Unchecked—All the parameter values currently specified for the added layout algorithm will be loaded by default when the algorithm is to be run on any diagram based on the input template.</li></ul></p></xdoc>",
        "is_active.title": "Active",
        "iterations_number.descr": "The number of iterations to process. The default is 1.",
        "iterations_number.title": "Number of Iterations",
        "number_of_directions.descr": "<xdoc><p>The number of directions that will be used to align the diagram edges and their connected junctions.</p><ul><li><span title=\"TWELVE_DIRECTIONS\">12 directions</span>—The edges will move so they progressively approach one of the 12 axes, starting with the edge&apos;s origin junction and inclined at 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, or 360 degrees.</li><li><span title=\"EIGHT_DIRECTIONS\">8 directions</span>—The edges will move so they progressively approach one of the 8 axes, starting with the edge&apos;s origin junction and inclined at 45, 90, 135, 180, 225, 270, 315, or 360 degrees. This is the default.</li><li><span title=\"FOUR_DIRECTIONS\">4 directions</span>—The edges will move so they progressively approach one of the 4 axes, starting with the edge&apos;s origin junction and inclined at 90, 180, 270, or 360 degrees.</li></ul></xdoc>",
        "number_of_directions.domain.EIGHT_DIRECTIONS": "8 directions",
        "number_of_directions.domain.FOUR_DIRECTIONS": "4 directions",
        "number_of_directions.domain.TWELVE_DIRECTIONS": "12 directions",
        "number_of_directions.title": "Number of Directions",
        "out_template_name.title": "Output Diagram Template",
        "out_utility_network.title": "Output Network",
        "summary": "<xdoc><p>Adds the Angle Directed Layout algorithm to the list of layouts to be automatically chained at the end of the generation of diagrams based on a given template. This tool also presets the Angle Directed Layout algorithm parameters for any diagram based on that template.</p><p>This layout algorithm progressively moves the diagram&apos;s edges in specified alignment directions. For each diagram edge, this layout notes its current direction, searches for the nearest direction among those specified, and moves the edge in that direction.</p><note type=\"caution\"/><p group=\"note\">This tool is a configuration and administration tool.</p><note type=\"note\"/><p group=\"note\">This tool impacts the consistency of any existing diagrams based on the input diagram template. All of the existing diagrams become inconsistent and open with a consistency warning icon until they are updated.</p></xdoc>",
        "template_name.descr": "The name of the diagram template that will be modified.",
        "template_name.title": "Input Diagram Template",
        "title": "Add Angle Directed Layout"
    }
}
