{
    "map": {
        "description": "Creates a copy of a territory solution.",
        "in_territory_solution.descr": "The input territory solution.",
        "in_territory_solution.title": "Input Territory Solution",
        "out_territory_solution.title": "Out Territory Solution",
        "target_gdb.descr": "The location of the output geodatabase.",
        "target_gdb.title": "Target Geodatabase",
        "territory_solution_name.descr": "The name of the copied territory solution",
        "territory_solution_name.title": "Territory Solution Name",
        "title": "Copy Territory Solution"
    }
}
