openapi: 3.0.3
info:
  title: Terra Justice API
  description: Justice system operations and case management APIs
  version: 1.0.0
  contact:
    name: TerraFusion Government OS API Support
    email: terra-justice-api@terrafusion.gov
    url: https://docs.terrafusion.gov/marketplace/terra-justice
  license:
    name: Government Use License
    url: https://terrafusion.gov/licenses/government-api
  termsOfService: https://terrafusion.gov/terms/api-usage
servers:
- url: https://api.terrafusion.gov/api/v1/justice
  description: Production TerraFusion Government API
- url: https://staging-api.terrafusion.gov/api/v1/justice
  description: Staging Environment
- url: https://dev-api.terrafusion.gov/api/v1/justice
  description: Development Environment
paths:
  /cases:
    get:
      tags:
      - terra-justice
      summary: Justice case management
      description: Justice case management - Justice system operations and case management
        APIs
      operationId: get__cases
      security:
      - OAuth2:
        - terra-justice:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /defendants:
    get:
      tags:
      - terra-justice
      summary: Defendant information
      description: Defendant information - Justice system operations and case management
        APIs
      operationId: get__defendants
      security:
      - OAuth2:
        - terra-justice:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /court-proceedings:
    post:
      tags:
      - terra-justice
      summary: Court proceeding records
      description: Court proceeding records - Justice system operations and case management
        APIs
      operationId: post__court-proceedings
      security:
      - OAuth2:
        - terra-justice:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sentencing:
    post:
      tags:
      - terra-justice
      summary: Sentencing information
      description: Sentencing information - Justice system operations and case management
        APIs
      operationId: post__sentencing
      security:
      - OAuth2:
        - terra-justice:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: object
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        dependencies:
          type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.terrafusion.gov/oauth/authorize
          tokenUrl: https://auth.terrafusion.gov/oauth/token
          scopes:
            terra-justice:read: Read access to terra-justice resources
            terra-justice:write: Write access to terra-justice resources
            terra-justice:admin: Administrative access to terra-justice
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
security:
- OAuth2:
  - terra-justice:read
- ApiKey: []
tags:
- name: terra-justice
  description: Terra Justice operations
  externalDocs:
    description: Find out more about terra-justice
    url: https://docs.terrafusion.gov/marketplace/terra-justice
