{
    "set": [
        "climate",
        "climatology",
        "desired slice",
        "dimension",
        "meteorology",
        "netcdf",
        "oceanography",
        "scientific",
        "selection",
        "weather"
    ]
}
