{
    "set": [
        "accuracy assessment",
        "agreement",
        "class",
        "classification",
        "classified",
        "classifier",
        "classifier definition file",
        "ecd",
        "error matrix",
        "feature extraction",
        "ground truth",
        "image analysis",
        "image classification",
        "image processing",
        "kappa",
        "object",
        "object based image analysis",
        "object oriented image analysis",
        "producers error",
        "regression",
        "regression analysis",
        "segment",
        "segmentation",
        "segmenter",
        "users error",
        "training sample"
    ]
}
