{
    "set": [
        "autodl",
        "automated deep learning",
        "automated pipeline",
        "dl",
        "deep learning model",
        "deep learning",
        "extract features using ai models",
        "geoai",
        "imagery ai",
        "train object detection and pixel classification training data",
        "inference"
    ]
}
