{
    "map": {
        "authinfo_file.descr": "<xdoc><p>The file containing authentication information when connecting to CAS. The file must contain the username and encoded password for the connection. If a file is provided, the <span class=\"esri_uicontrol\">CAS Username</span> and <span class=\"esri_uicontrol\">Password</span> parameters do not need to be specified.</p></xdoc>",
        "authinfo_file.title": "CAS Authorization (Authinfo) File",
        "custom_cfg_file.descr": "The file specifying custom configurations for the SAS session. The file is only required for customized local or remote SAS deployments.",
        "custom_cfg_file.title": "Custom Session Configuration File",
        "description": "Converts a table to a SAS dataset.",
        "hostname.descr": "The URL of the CAS host.",
        "hostname.title": "CAS Hostname URL",
        "in_table.descr": "The input table.",
        "in_table.title": "Input Table",
        "out_sas_dataset.descr": "The output SAS dataset. Provide the dataset in the form libref.table in which libref is the name of a SAS library and table is the name of the SAS table.",
        "out_sas_dataset.title": "Output SAS Dataset (libref.tablename)",
        "password.descr": "The password for the CAS connection. This password is hidden and not accessible after running the tool.",
        "password.title": "Password",
        "port.descr": "The port of the CAS connection.",
        "port.title": "Port",
        "replace_sas_dataset.descr": "<xdoc><p>Specifies whether the output can overwrite an existing SAS dataset.<ul><li>Checked—The output SAS dataset can overwrite an existing dataset.</li><li>Unchecked—The output SAS dataset cannot overwrite an existing dataset. This is the default.</li></ul></p></xdoc>",
        "replace_sas_dataset.title": "Replace SAS Dataset",
        "title": "Table To SAS",
        "use_cas_connection.descr": "<xdoc><p>Specifies whether the output SAS dataset will be uploaded to CAS or saved in a local SAS library.<ul><li>Checked—The output SAS dataset will be uploaded to CAS.</li><li>Unchecked—The output SAS dataset will be saved in a local SAS library. This is the default.</li></ul></p></xdoc>",
        "use_cas_connection.title": "Upload SAS Dataset to SAS Cloud Analytic Services (CAS)",
        "use_domain_and_subtype_description.descr": "<xdoc><p>Specifies whether domain and subtype descriptions will be included in the output SAS dataset.<ul><li>Checked—Domain and subtype descriptions will be included in the output SAS dataset.</li><li>Unchecked—Domain and subtype descriptions will not be included in the output SAS dataset. This is the default.</li></ul></p></xdoc>",
        "use_domain_and_subtype_description.title": "Use Domain and Subtype Descriptions",
        "username.descr": "The username for the CAS connection.",
        "username.title": "CAS Username"
    }
}
