{
    "set": [
        "align",
        "conflation",
        "feature matching",
        "generate",
        "links",
        "match table",
        "matching",
        "rubbersheeting",
        "shifted",
        "source",
        "spatial adjustment",
        "target"
    ]
}
