{
    "map": {
        "add_fields.descr": "<xdoc><p>Specifies whether fields will be added if they don&apos;t exist.</p><ul><li>Unchecked—Fields will not be added. Fields specified must already exist in the <span class=\"esri_uicontrol\">Input Dataset</span> parameter value. This is the default.</li><li>Checked—Fields will be added if they do not exist. You must specify the names of the fields to add in the <span class=\"esri_uicontrol\">Creator Field</span>, <span class=\"esri_uicontrol\">Creation Date Field</span>, <span class=\"esri_uicontrol\">Last Editor Field</span>, and <span class=\"esri_uicontrol\">Last Edit Date Field</span> parameters.</li></ul></xdoc>",
        "add_fields.title": "Add fields",
        "creation_date_field.descr": "The name of the field that will store the date that features or records are created. If this field already exists, it must be a low precision date field.",
        "creation_date_field.title": "Creation Date Field",
        "creator_field.descr": "The name of the field that will store the names of users who create features or records. If this field already exists, it must be a string field.",
        "creator_field.title": "Creator Field",
        "description": "Enables editor tracking for a feature class, table, feature dataset, or relationship class in a geodatabase.",
        "in_dataset.descr": "The feature class, table, feature dataset, or relationship class in which editor tracking will be enabled.",
        "in_dataset.title": "Input Dataset",
        "last_edit_date_field.descr": "The name of the field that will store the date that features or records were last edited. If this field already exists, it must be a low precision date field.",
        "last_edit_date_field.title": "Last Edit Date Field",
        "last_editor_field.descr": "The name of the field that will store the names of users who last edited features or records. If this field already exists, it must be a string field.",
        "last_editor_field.title": "Last Editor Field",
        "out_dataset.title": "Modified Input Dataset",
        "record_dates_in.descr": "<xdoc><p>Specifies the time format in which the created date and last edited date will be recorded.</p><ul><li><span title=\"UTC\">UTC (Coordinated Universal Time)</span>—Dates will be recorded in UTC. This is the default.</li><li><span title=\"DATABASE_TIME\">Time zone of database</span>—Dates will be recorded in the time zone in which the database is located.</li></ul></xdoc>",
        "record_dates_in.domain.DATABASE_TIME": "Time zone of database",
        "record_dates_in.domain.UTC": "UTC (Coordinated Universal Time)",
        "record_dates_in.title": "Record Dates in",
        "title": "Enable Editor Tracking"
    }
}
