{
    "map": {
        "description": "Updates the event locations for all event feature classes registered with the input network based on the route edit performed.",
        "in_route_features.descr": "The LRS Network for which event locations will be updated. This must be a feature layer registered as a network with the LRS.",
        "in_route_features.title": "Input Route Features",
        "out_details_file.title": "Output Details File",
        "out_event_layers.title": "Output Event Layers",
        "summary": "<xdoc><p>Updates the event locations for all event feature classes registered with the input network based on the route edit performed.</p><p>The events are updated pursuant to the configured event behavior.</p><p>Learn more about configuring event behavior in ArcGIS Pipeline Referencing or configuring event behavior in ArcGIS Roads and Highways.</p></xdoc>",
        "title": "Apply Event Behaviors"
    }
}
