{
    "map": {
        "description": "Enables geodatabase topology on a parcel fabric.",
        "in_parcel_fabric.descr": "The parcel fabric for which the geodatabase topology will be enabled. The input parcel fabric can be from a file, enterprise, or mobile geodatabase.",
        "in_parcel_fabric.title": "Input Parcel Fabric",
        "summary": "<xdoc><p>Enables geodatabase topology on a parcel fabric.</p><p>The tool adds the following to the parcel fabric topology:<ul><li>System-defined geodatabase topology rules</li><li>Parcel fabric feature classes</li></ul></p><p>Once the parcel fabric topology is enabled, the parcel fabric can be validated to identify rule errors, and parcels can be built.</p></xdoc>",
        "title": "Enable Parcel Topology",
        "updated_parcel_fabric.title": "Updated Parcel Fabric"
    }
}
