{
    "set": [
        "automated deep learning",
        "automated pipeline",
        "cntk",
        "classification",
        "dl",
        "deep learning",
        "deep learning model",
        "image classification",
        "machine learning",
        "neural networks",
        "pytorch",
        "rcnn",
        "tensor flow",
        "train object detection and pixel classification training data",
        "inference"
    ]
}
