{
    "set": [
        "bag",
        "bag metadata",
        "bis",
        "bis catalog",
        "bis workspace",
        "bathymetric attributed grid",
        "bathymetric information system",
        "bathymetry",
        "biscatalog",
        "footprint",
        "las",
        "lasd",
        "maritime",
        "percent coverage",
        "point cloud",
        "cell size",
        "convex hull",
        "depth data",
        "envelope",
        "precise domain",
        "raster"
    ]
}
