{
    "set": [
        "browse",
        "cartography",
        "catalog",
        "catalogue",
        "cell",
        "dnc",
        "export",
        "geodatabase",
        "import",
        "load",
        "s-100",
        "s-101",
        "s-57",
        "s100",
        "s101",
        "tod",
        "vpf"
    ]
}
