{
    "map": {
        "ascending.descr": "<xdoc><p>Specifies whether values will be indexed in ascending order.<ul><li>Unchecked—Values will not be indexed in ascending order. This is the default.</li><li>Checked—Values will be indexed in ascending order.</li></ul></p></xdoc>",
        "ascending.title": "Ascending",
        "description": "Adds an attribute index to an existing table, feature class, shapefile, or attributed relationship class.",
        "fields.descr": "The list of fields that will be indexed. Any number of fields can be specified.",
        "fields.title": "Fields to Index",
        "in_table.descr": "The table containing the fields to be indexed.",
        "in_table.title": "Input Table",
        "index_name.descr": "The name of the new index. An index name is necessary when adding an index to geodatabase feature classes and tables. For other types of input, the name is ignored.",
        "index_name.title": "Index Name",
        "out_table.title": "Updated Input Table",
        "summary": "<xdoc><p>Adds an attribute index to an existing table, feature class, shapefile, or attributed relationship class.</p><p>Attribute indexes are used by ArcGIS to quickly locate records that match an attribute query.</p></xdoc>",
        "title": "Add Attribute Index",
        "unique.descr": "<xdoc><p>Specifies whether the values in the index are unique.<ul><li>Unchecked—No values in the index are unique. This is the default.</li><li>Checked—All values in the index are unique.</li></ul></p></xdoc>",
        "unique.title": "Unique"
    }
}
