{
    "set": [
        "aggregate",
        "big data",
        "fields",
        "simplify",
        "statistics",
        "summarize",
        "summary",
        "summary statistics",
        "tabular",
        "visualize"
    ]
}
