{
    "set": [
        "3d model file format",
        "3d objects",
        "autodesk fbx",
        "collada",
        "industry foundation class ifc",
        "khronos group gitf json",
        "khronos group gitf binary",
        "wavefront obj",
        "materials",
        "multipatch",
        "physically based rendering"
    ]
}
