{
    "map": {
        "description": "Creates a Microsoft Excel file (.xls or .xlsx) from the contents of a geodatabase.",
        "in_geodatabase.descr": "The geodatabase that will be used to create the Excel spreadsheet.",
        "in_geodatabase.title": "Input Geodatabase",
        "out_excel_file.descr": "The Excel file that will be created from the geodatabase.",
        "out_excel_file.title": "Output Excel File",
        "title": "Generate Excel From Geodatabase"
    }
}
