{
    "map": {
        "description": "Moves features from one schema to another by loading data from a source to a target workspace.   Data mapping rules described in a cross-reference database are applied during loading.",
        "in_cross_reference.descr": "The path to a cross-reference database.",
        "in_cross_reference.title": "Input Cross-reference Database",
        "in_dataset_map_defs.descr": "The source to target feature class mapping list. The format of this string is id | SourceDataset | TargetDataset | WhereClause | Subtype.",
        "in_dataset_map_defs.title": "Dataset Mapping Definitions",
        "in_sources.descr": "A list of workspaces that contain the source features that will be loaded into the target workspace.",
        "in_sources.title": "Input Sources",
        "in_target.descr": "The target workspace that contains the schema referenced in the cross-reference database. Source features are loaded into this workspace.",
        "in_target.title": "Input Target Workspace",
        "out_target.title": "Output Target Workspace",
        "params.category1": "Advanced",
        "row_level_errors.descr": "<xdoc><p>Specifies whether the tool will log errors that occur while inserting new rows into feature classes and tables in the <span class=\"esri_uicontrol\">Input Target Workspace</span> parameter.</p><ul><li>Checked—Errors that occur during individual row-level inserts will be logged. This is the default.</li><li>Unchecked—Errors that occur during individual row-level inserts will not be logged.</li></ul></xdoc>",
        "row_level_errors.title": "Log row level errors",
        "summary": "<xdoc><p>Moves features from one schema to another by loading data from a source to a target workspace. Data mapping rules described in a cross-reference database are applied during loading.</p><p>Data that matches the schema defined in the cross-reference database for the source is appended to the target workspace. The cross-reference database contains a DatasetMapping table that lists pairs of source and target dataset names. Each source and target name pair can have a WHERE clause and a subtype. The WHERE clause defines a subset of features in the source to append to the target. Subtype identifies a subtype in the target feature class into which features are loaded.</p></xdoc>",
        "title": "Load Data"
    }
}
