{
    "set": [
        "class",
        "classification",
        "classifier",
        "classifier definition file",
        "ecd",
        "endmembers",
        "hyperspectral",
        "image analysis",
        "image classification",
        "image processing",
        "multispectral",
        "object",
        "object based image analysis",
        "object oriented image analysis",
        "reflectance",
        "regression",
        "regression analysis",
        "segment",
        "segmentation",
        "segmenter",
        "spectral profile",
        "accuracy assessment",
        "training sample"
    ]
}
