{
    "map": {
        "description": "Gets model parameter value from an existing geostatistical model source.",
        "in_ga_model_source.descr": "The geostatistical model source to be analyzed.",
        "in_ga_model_source.title": "Input geostatistical model source",
        "model_param_xpath.descr": "XML path to the required model parameter.",
        "model_param_xpath.title": "Parameter XML Path",
        "out_param_value.title": "Parameter value",
        "title": "Get Model Parameter"
    }
}
