{
    "map": {
        "description": "Creates parcel seeds for closed loops of lines that are associated with the specified parcel record.",
        "in_parcel_fabric.descr": "The parcel fabric for which parcel seeds will be created. The parcel fabric can be from a file, enterprise, or mobile geodatabase, or from a feature service.",
        "in_parcel_fabric.title": "Input Parcel Fabric",
        "record_name.descr": "The name of the parcel fabric record for which parcel seeds will be created. The record must already exist. The record name is not case sensitive.",
        "record_name.title": "Record Name",
        "summary": "<xdoc><p>Creates parcel seeds for closed loops of lines that are associated with the specified parcel record.</p><p>Parcel seeds are used to build parcels from lines. A parcel seed is the initial state, or seed state, of a parcel. A parcel seed indicates to the build process that a parcel can be built from the lines enclosing the seed.</p></xdoc>",
        "title": "Create Parcel Seeds",
        "updated_parcel_fabric.title": "Updated Parcel Fabric"
    }
}
