{
    "set": [
        "add data",
        "add data to oriented imagery",
        "add images",
        "create coverage",
        "create oriented dataset",
        "custom workflow",
        "oriented imagery",
        "oriented imagery type"
    ]
}
