@tailwind base;
@tailwind components;
@tailwind utilities;

/* Required for h-screen to work inside iframe */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #09090b;
}
