{
    "map": {
        "description": "Copies a dataset from a multifile feature connection (MFC) to a feature class.",
        "input_layer.descr": "The point, line, polygon, or table dataset that will be copied.",
        "input_layer.title": "Input Dataset",
        "output.descr": "The output dataset that will be created when the MFC dataset is copied.",
        "output.title": "Output Dataset",
        "title": "Copy Dataset From Multifile Feature Connection"
    }
}
