{
    "map": {
        "description": "Generates indoor pathways and floor transitions on selected levels in one or more facilities. This tool can generate horizontal pathways and vertical floor transitions for the indoor routable network in a single tool run.",
        "elevator_delay.descr": "<xdoc><p>The average elevator transit time in seconds that an elevator passenger can expect to spend waiting to enter and exit the elevator. Using this parameter can improve routing and transit time calculations.</p><p>The value must be equal to or greater than zero.</p></xdoc>",
        "elevator_delay.title": "Elevator Delay",
        "elevator_unit_exp.descr": "An SQL expression that will define the features from the input Units layer that represent lift-based transitions, such as elevators.",
        "elevator_unit_exp.title": "Elevator Expression",
        "generation_method.descr": "<xdoc><p>Specifies the method that will be used to generate indoor pathways.</p><ul><li><span title=\"UCN\">Universal Circulation Network</span>—Horizontal pathways will be created using the universal circulation network algorithm, which more closely resembles walking patterns. This method is well suited for buildings that are not composed of primarily 90 degree angles or at a consistent rotation. Transition features will also be created if input transitions are provided.</li><li><span title=\"TRANSITIONS_ONLY\">Transitions Only</span>—If you have existing pathways, this option will create the vertical transitions between floors and will snap them to the existing pathways.</li></ul></xdoc>",
        "generation_method.domain.TRANSITIONS_ONLY": "Transitions Only",
        "generation_method.domain.UCN": "Universal Circulation Network",
        "generation_method.title": "Pathway Generation Method",
        "in_level_features.descr": "The feature class or layer that contains level features. In the Indoors model, this is the Levels layer. The tool honors selections and definition queries applied to the layer.",
        "in_level_features.title": "Input Level Features",
        "in_obstacle_features.descr": "<xdoc><p>The feature class or layer that contains polyline features representing nontraversable features, such as walls, windows, and columns. The obstacle features layer must contain a <span class=\"esri_fieldname\">LEVEL_ID</span> field or be defined as floor aware in the map.</p></xdoc>",
        "in_obstacle_features.title": "Input Obstacle Features",
        "in_unit_features.descr": "The feature class or layer that contains unit features. In the Indoors model, this is the Units layer.",
        "in_unit_features.title": "Input Unit Features",
        "obstacle_buffer.descr": "The buffer distance that will be applied to obstacle features defined as barriers.",
        "obstacle_buffer.title": "Obstacle Buffer",
        "obstacle_expression.descr": "<xdoc><p>An SQL expression that defines which subset of features from the <span class=\"esri_uicontrol\">Input Obstacle Features</span> parameter are barriers through which pathways should not traverse. This includes features such as walls, windows, and columns.</p></xdoc>",
        "obstacle_expression.title": "Obstacle Expression",
        "params.category1": "Floor Transitions",
        "params.category2": "Advanced Settings",
        "routable_locations.descr": "Additional locations to which pathways should be generated. This parameter accepts point feature layers as input.",
        "routable_locations.title": "Routable Locations",
        "search_radius.descr": "The distance that will be searched for routable locations from any given point. Providing a larger radius will result in more pathways generated. Large spaces and long hallways require a larger search radius for pathway generation.",
        "search_radius.title": "Search Radius",
        "stairway_unit_exp.descr": "An SQL expression that will define the features from the input Units layer that represent step-based transitions, such as stairs and escalators.",
        "stairway_unit_exp.title": "Stairway Unit Expression",
        "target_floor_transitions.descr": "The feature class or feature layer where generated transition features, representing the vertical transitions between floors such as stairs and elevators, will be created. In the Indoors model, this is the Transitions layer.",
        "target_floor_transitions.title": "Target Indoor Transitions",
        "target_indoor_pathways.descr": "The feature class or feature layer where generated pathway features will be created. In the Indoors model, this is the Pathways layer.",
        "target_indoor_pathways.title": "Target Indoor Pathways",
        "title": "Generate Indoor Network Features",
        "updated_pathways.title": "Updated Pathways",
        "updated_transitions.title": "Updated Target Transitions"
    }
}
