{
    "map": {
        "config_keyword.descr": "<xdoc><p>Specifies the default storage parameters (configurations) for geodatabases in a relational database management system (RDBMS). This setting is applicable only when using enterprise geodatabase tables.</p><p>Configuration keywords are set by the database administrator.</p></xdoc>",
        "config_keyword.title": "Configuration Keyword",
        "description": "Creates an empty table in an enterprise database or enterprise geodatabase. The table is not registered with the geodatabase.",
        "out_name.descr": "The name of the table that will be created.",
        "out_name.title": "Table Name",
        "out_path.descr": "The enterprise database or enterprise geodatabase in which the table will be created.",
        "out_path.title": "Table Location",
        "out_table.title": "Output Table",
        "template.descr": "An existing dataset or list of datasets with fields and attribute schema that will be used to define the fields in the output table.",
        "template.title": "Template Datasets",
        "title": "Create Unregistered Table"
    }
}
