{
    "set": [
        "analysis",
        "big data",
        "clustering",
        "cold",
        "distribution",
        "geographic",
        "high",
        "hot spot",
        "local",
        "low",
        "p",
        "p-value",
        "point pattern analysis",
        "random",
        "resource allocation",
        "simplify",
        "space",
        "space time",
        "space-time",
        "spatial",
        "spatial statistics",
        "spatiotemporal",
        "statistics",
        "temporal",
        "time",
        "value",
        "visualize",
        "z",
        "z-value"
    ]
}
