{
    "set": [
        "cartography",
        "defense",
        "defense mapping",
        "features",
        "jog",
        "location",
        "location diagram",
        "topo",
        "topographic",
        "topographic production"
    ]
}
