{
    "set": [
        "big data",
        "dwell",
        "find locations",
        "idle",
        "movement",
        "stay point",
        "stay-point",
        "track",
        "tracks"
    ]
}
