{
    "set": [
        "address",
        "address attribute",
        "address inspector",
        "address locator",
        "geocode",
        "geocoding",
        "locator",
        "point feature class",
        "reverse",
        "reverse geocoding",
        "search tolerance",
        "street intersection",
        "xy coordinates"
    ]
}
