{
    "set": [
        "direction",
        "orient",
        "orientation",
        "override",
        "representation",
        "rotate",
        "rotation",
        "symbol",
        "symbology"
    ]
}
