{
    "map": {
        "description": "Modifies properties of a linear referencing system (LRS) event.",
        "event_id_field.descr": "Name of the event ID field.",
        "event_id_field.title": "Event ID Field",
        "event_spans_routes.descr": "<xdoc><p>Determines if the event records will span routes.</p><ul><li><span title=\"AS_IS\">As is</span>—No change to the property. This is the default.</li><li><span title=\"NO_SPANS_ROUTES\">Do not span routes</span>—The event records do not span routes. Applicable only for line events.</li><li><span title=\"SPANS_ROUTES\">Spans routes</span>— The event records may span routes. Applicable only for line events.</li></ul></xdoc>",
        "event_spans_routes.domain.AS_IS": "As is",
        "event_spans_routes.domain.NO_SPANS_ROUTES": "Do not span routes",
        "event_spans_routes.domain.SPANS_ROUTES": "Spans routes",
        "event_spans_routes.title": "Event Spans Routes",
        "from_date_field.descr": "Name of the from date field.",
        "from_date_field.title": "From Date Field",
        "in_feature_class.descr": "The input feature class or feature layer for the event.",
        "in_feature_class.title": "LRS Event Feature Class",
        "loc_error_field.descr": "Name of the location error field.",
        "loc_error_field.title": "Location Error Field",
        "measure_field.descr": "Name of the measure field if it is a point event or from measure field if it is a line event.",
        "measure_field.title": "Measure Field",
        "out_feature_class.title": "Updated LRS Event Feature Class",
        "route_id_field.descr": "Name of the route ID field.",
        "route_id_field.title": "Route ID Field",
        "route_name_field.descr": "<xdoc><p>The route name field if it is a point event that does not span routes, or the from route name field if it is a line event that spans routes. Required if <span class=\"esri_uicontrol\">Store Route Name</span> is enabled.</p></xdoc>",
        "route_name_field.title": "Route Name Field",
        "store_route_name.descr": "<xdoc><p>Determines if the event records will store the route name.</p><ul><li><span title=\"AS_IS\">As is</span>—No change to the property. This is the default.</li><li><span title=\"STORE_ROUTE_NAME\">Store route name</span>—Stores the route name with the event records.</li><li><span title=\"NO_STORE_ROUTE_NAME\">Do not store route name</span>—Does not store the route name with the event records.</li></ul></xdoc>",
        "store_route_name.domain.AS_IS": "As is",
        "store_route_name.domain.NO_STORE_ROUTE_NAME": "Do not store route name",
        "store_route_name.domain.STORE_ROUTE_NAME": "Store route name",
        "store_route_name.title": "Store Route Name",
        "title": "Modify LRS Event",
        "to_date_field.descr": "Name of the to date field.",
        "to_date_field.title": "To Date Field",
        "to_measure_field.descr": "Name of the to measure field. Required only for line events.",
        "to_measure_field.title": "To Measure Field",
        "to_route_id_field.descr": "Name of the to route ID field. Required only if it is a line event and it spans routes.",
        "to_route_id_field.title": "To Route ID Field",
        "to_route_name_field.descr": "<xdoc><p>Name of the to route name field. Required if it is a line event, <span class=\"esri_uicontrol\">Store Route Name</span> is chosen, and it spans routes.</p></xdoc>",
        "to_route_name_field.title": "To Route Name Field"
    }
}
