{
    "map": {
        "aggregation_method.descr": "<xdoc><p>Specifies how the input point features will be aggregated.</p><ul><li><span title=\"POINT_CLUSTER\">Cluster</span>—The input point features will be clustered. This is the default.</li><li><span title=\"CLOSEST_FEATURE\">Closest Feature</span>—The input point features will be aggregated to the closest comparison polygon or line feature.</li></ul></xdoc>",
        "aggregation_method.domain.CLOSEST_FEATURE": "Closest Feature",
        "aggregation_method.domain.POINT_CLUSTER": "Cluster",
        "aggregation_method.title": "Aggregation Method",
        "cluster_tolerance.descr": "<xdoc><p>The maximum distance separating points at which they will be considered part of the same cluster.</p><p>If no cluster tolerance is specified, the tool will create a cluster where point features overlap.</p><p>This parameter is active when the <span class=\"esri_uicontrol\">Aggregation Method</span> parameter is set to <span class=\"esri_uicontrol\">Cluster</span>.</p></xdoc>",
        "cluster_tolerance.title": "Cluster Tolerance",
        "description": "Conducts an 80/20 analysis of features and creates point clusters, lines, or polygons based on the number of associated incidents. The tool calculates a cumulative percentage field to identify the locations where incidents are disproportionately occurring.",
        "in_comparison_features.descr": "<xdoc><p>The comparison input polygon or line feature class by which the <span class=\"esri_uicontrol\">Input Point Features</span> parameter value is aggregated.</p><p>This parameter is active when the <span class=\"esri_uicontrol\">Aggregation Method</span> parameter is set to <span class=\"esri_uicontrol\">Closest Feature</span>.</p></xdoc>",
        "in_comparison_features.title": "Input Comparison Features",
        "in_features.descr": "The input point features that will be used to create clusters, lines, or polygons.",
        "in_features.title": "Input Point Features",
        "out_feature_class.descr": "<xdoc><p>The output feature class.</p><p>When the <span class=\"esri_uicontrol\">Aggregation Method</span> parameter is set to <span class=\"esri_uicontrol\">Cluster</span>, the output will be a point feature class.</p><p>When the <span class=\"esri_uicontrol\">Aggregation Method</span> parameter is set to <span class=\"esri_uicontrol\">Closest Feature</span>, the geometry type of the output will be the same as the <span class=\"esri_uicontrol\">Input Comparison Features</span> parameter value.</p></xdoc>",
        "out_feature_class.title": "Output Feature Class",
        "out_fields.descr": "The fields from the input features that will be transferred to the output.",
        "out_fields.title": "Output Fields",
        "title": "80-20 Analysis"
    }
}
