{
    "set": [
        "cartographic refinement",
        "cartography",
        "defense",
        "defense mapping",
        "make masks",
        "masking",
        "masks",
        "production",
        "production mapping",
        "rules",
        "topo",
        "topographic",
        "topographic production"
    ]
}
