{
    "map": {
        "description": "Determines which values from the input raster are NoData on a cell-by-cell basis.",
        "in_raster.descr": "<xdoc><p>The input raster being tested to identify the cells that are NoData (null).</p><p>The input can be either integer or floating-point type.</p></xdoc>",
        "in_raster.title": "Input raster",
        "out_raster.descr": "<xdoc><p>The output raster.</p><p>The output identifies with an integer value of 1 which cells in the input are NoData. If the input is any other value, the output is 0.</p></xdoc>",
        "out_raster.title": "Output raster",
        "summary": "<xdoc><p>Determines which values from the input raster are NoData on a cell-by-cell basis.</p><p>Returns a value of 1 if the input value is NoData and 0 for cells that are not.</p></xdoc>",
        "title": "Is Null"
    }
}
