{
    "set": [
        "regression",
        "complex relationship",
        "concave",
        "convex",
        "correlated",
        "correlation",
        "dependence",
        "dependent",
        "distribution",
        "entropy",
        "explain",
        "independence",
        "independent",
        "information",
        "linear",
        "minimum",
        "predict",
        "prediction",
        "regression analysis",
        "spanning",
        "statistics",
        "tree"
    ]
}
