openapi: 3.0.3
info:
  title: Shock And Awe API
  description: Shock And Awe operations APIs
  version: 1.0.0
  contact:
    name: TerraFusion Government OS API Support
    email: shock-and-awe-api@terrafusionmarket.com
    url: https://docs.terrafusionmarket.com/marketplace/shock-and-awe
  license:
    name: Government Use License
    url: https://terrafusionmarket.com/licenses/government-api
  termsOfService: https://terrafusionmarket.com/terms/api-usage
servers:
  - url: https://api.terrafusionmarket.com/api/v1/shock-and-awe
    description: Production TerraFusion Government API
  - url: https://staging-api.terrafusionmarket.com/api/v1/shock-and-awe
    description: Staging Environment
  - url: https://dev-api.terrafusionmarket.com/api/v1/shock-and-awe
    description: Development Environment
paths:
  /health:
    get:
      tags:
        - shock-and-awe
      summary: Health check
      description: Health check - Shock And Awe operations APIs
      operationId: get__health
      security:
        - OAuth2:
            - shock-and-awe:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data:
    get:
      tags:
        - shock-and-awe
      summary: Data retrieval
      description: Data retrieval - Shock And Awe operations APIs
      operationId: get__data
      security:
        - OAuth2:
            - shock-and-awe:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /operations:
    post:
      tags:
        - shock-and-awe
      summary: Operation execution
      description: Operation execution - Shock And Awe operations APIs
      operationId: post__operations
      security:
        - OAuth2:
            - shock-and-awe:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /status:
    get:
      tags:
        - shock-and-awe
      summary: Service status
      description: Service status - Shock And Awe operations APIs
      operationId: get__status
      security:
        - OAuth2:
            - shock-and-awe:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: object
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        dependencies:
          type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.terrafusionmarket.com/oauth/authorize
          tokenUrl: https://auth.terrafusionmarket.com/oauth/token
          scopes:
            shock-and-awe:read: Read access to shock-and-awe resources
            shock-and-awe:write: Write access to shock-and-awe resources
            shock-and-awe:admin: Administrative access to shock-and-awe
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
security:
  - OAuth2:
      - shock-and-awe:read
  - ApiKey: []
tags:
  - name: shock-and-awe
    description: Shock And Awe operations
    externalDocs:
      description: Find out more about shock-and-awe
      url: https://docs.terrafusionmarket.com/marketplace/shock-and-awe
