{
    "set": [
        "attribute",
        "auto",
        "category",
        "code",
        "domain",
        "feature",
        "geodatabase",
        "group",
        "subtype",
        "table",
        "value"
    ]
}
