{
    "set": [
        "automatic layout",
        "configuration",
        "diagram layout",
        "diagram template",
        "dispatch layout",
        "linear dispatch",
        "network",
        "network diagram",
        "template configuration"
    ]
}
