{
    "map": {
        "description": "Disables geodatabase topology on a parcel fabric.  System-defined  topology rules and parcel fabric feature classes will be removed from the topology.",
        "in_parcel_fabric.descr": "The parcel fabric for which the topology will be disabled. The input parcel fabric can be from a file, enterprise, or mobile geodatabase.",
        "in_parcel_fabric.title": "Input Parcel Fabric",
        "summary": "<xdoc><p>Disables geodatabase topology on a parcel fabric. System-defined topology rules and parcel fabric feature classes will be removed from the topology.</p><p>Learn more about the parcel fabric topology.</p></xdoc>",
        "title": "Disable Parcel Topology",
        "updated_parcel_fabric.title": "Updated Parcel Fabric"
    }
}
