{
    "map": {
        "description": "Shares the results of network analyses as route layer items in a portal.  A route layer includes all the information for a route such as the stops assigned to the route or the orders serviced by a route, as well as the travel directions.",
        "groups.descr": "<xdoc><p>The list of groups with which the route layer items will be shared. This parameter is applicable only when the <span class=\"esri_uicontrol\">Share with</span> parameter is set to <span class=\"esri_uicontrol\">These groups</span>.</p></xdoc>",
        "groups.title": "Groups",
        "in_network_analysis_layer.descr": "<xdoc><p>The network analysis layer from which the route layer items will be created. The network analysis layer should already be solved.</p><p>Route, Closest facility, Vehicle routing problem, and Last mile delivery network analysis layers are supported as valid inputs to this parameter.</p><p>The input can also be a .zip file containing route data created by the saveRouteData() method of the arcpy.nax solver result objects or the service parameter in the REST API that return a zipped geodatabase of route data with the correct schema.</p></xdoc>",
        "in_network_analysis_layer.title": "Input Network Analysis Layer or Route Data",
        "portal_folder_name.descr": "The folder in your personal online workspace where the route layer items will be created. If a folder with the provided name does not exist, a folder will be created. If a folder with the provided name exists, the items will be created in the existing folder. If no value is provided, the route layer items will be created in the root folder of your online workspace.",
        "portal_folder_name.title": "Portal Folder Name",
        "route_layer_items.title": "Route Layer Items",
        "route_name_prefix.descr": "A qualifier that will be added to the title of every route layer item. For example, a route name prefix of Monday morning deliveries can be used to group all route layer items created from a route analysis performed by deliveries that will be run on Monday morning. If no value is specified, the title of the route layer item will be created using only the route name.",
        "route_name_prefix.title": "Route Name Prefix",
        "share_with.descr": "<xdoc><p>Specifies who can access the route layer items.</p><ul><li><span title=\"EVERYBODY\">Everyone (public)</span>— The route layer items will be public and can be accessed by anyone with the URL to the items.</li><li><span title=\"MYCONTENT\">Not shared</span>— The route layer items will only be shared with the owner of the item (the user connected to the portal when the tool is run). As a result, only the item owner can access the route layers. This is the default.</li><li><span title=\"MYGROUPS\">These groups</span>— The route layer items will be shared with groups the connected user belongs to and its members. The groups are specified using the groups parameter.</li><li><span title=\"MYORGANIZATION\">Organization</span>— The route layer items will be shared with all authenticated users in your organization.</li></ul></xdoc>",
        "share_with.domain.EVERYBODY": "Everyone (public)",
        "share_with.domain.MYCONTENT": "Not shared",
        "share_with.domain.MYGROUPS": "These groups",
        "share_with.domain.MYORGANIZATION": "Organization",
        "share_with.title": "Share with",
        "summary": "<xdoc><p>Shares the results of network analyses as route layer items in a portal. A route layer includes all the information for a route such as the stops assigned to the route or the orders serviced by a route, as well as the travel directions.</p><p>A route layer item can be used by various applications, such as ArcGIS Navigator to provide route guidance for mobile workers, the <span class=\"esri_uicontrol\">Directions</span> pane in Map Viewer Classic to further customize the route contained in the route layer, and ArcGIS Pro to create a route analysis layer from a route layer.</p></xdoc>",
        "summary.descr": "The summary that will be used by the route layer items. The summary is displayed as part of the item information for the route layer item. If no value is provided, default summary text—Route and directions for <route name>—is used in which <route name> is replaced with the name of the route represented by the route layer.",
        "summary.title": "Summary",
        "tags.descr": "The tags that will be used to describe and identify the route layer items. Individual tags are separated with commas. The route name is always included as a tag even when no other value is provided.",
        "tags.title": "Tags",
        "title": "Share As Route Layers"
    }
}
