{
    "map": {
        "description": "Replaces cells of a raster corresponding to a mask with the value of the nearest neighbor.",
        "in_mask_raster.descr": "<xdoc><p>The raster that identifies the locations in the input raster that will be replaced.</p><p>Cells with a value of NoData are considered to be within the masked area. In the output raster, these locations will be replaced by the value of their nearest neighbor in the <span class=\"esri_uicontrol\">Input raster</span> value.</p><p>The mask raster can be either integer or floating point type.</p></xdoc>",
        "in_mask_raster.title": "Input raster mask",
        "in_raster.descr": "<xdoc><p>The input raster with the masked locations that will be replaced by the value of their nearest neighbor.</p><p>The input raster can be either integer or floating point type.</p></xdoc>",
        "in_raster.title": "Input raster",
        "in_zone_raster.descr": "<xdoc><p>The input zone raster. For each zone, input cells that are within the mask will be replaced only by the nearest cell values within that same zone.</p><p>A zone is all the cells in a raster that have the same value, whether or not they are contiguous. The input zone layer defines the shape, values, and locations of the zones. The zone raster can be either integer or floating point type.</p></xdoc>",
        "in_zone_raster.title": "Input zone raster",
        "nibble_nodata.descr": "<xdoc><p>Specifies whether NoData cells in the input raster that are within the masked area will be preserved or replaced.</p><ul><li>Unchecked—Any NoData cells in the input raster that are within the masked area will be preserved (remain as NoData) in the output. This is the default.</li><li>Checked—NoData cells in the input raster that are within the masked area can be replaced with the value of the nearest neighbor that is outside the masked area.</li></ul></xdoc>",
        "nibble_nodata.title": "Nibble NoData cells",
        "nibble_values.descr": "<xdoc><p>Specifies whether NoData cells in the input raster can replace cells in the masked areas if they are the nearest neighbor.</p><ul><li>Checked—Both NoData and data values can replace cells in the masked area. This means that NoData values in the input raster can replace areas defined in the mask if they are the nearest neighbor. This is the default.</li><li>Unchecked—Only data values can replace cells in the masked area. NoData values in the input raster cannot replace areas defined in the mask raster even if they are the nearest neighbor.</li></ul></xdoc>",
        "nibble_values.title": "Use NoData values if they are the nearest neighbor",
        "out_raster.descr": "<xdoc><p>The output raster with the replaced cells.</p><p>The identified input cells will be replaced with the values of their nearest neighbor.</p><p>If the <span class=\"esri_uicontrol\">Input raster</span> value is integer, the output raster will be integer. If it is floating point, the output will be floating point.</p></xdoc>",
        "out_raster.title": "Output raster",
        "title": "Nibble"
    }
}
