{
    "set": [
        "blob",
        "configuration keyword",
        "geodatabase administration",
        "geography",
        "geometry",
        "long raw",
        "raster",
        "sdebinary",
        "sdelob",
        "sdo_geometry",
        "st_geometry",
        "st_raster"
    ]
}
