{
    "map": {
        "abort_if_conflicts.descr": "<xdoc><p>Specifies whether the reconcile process will end if conflicts are found between the target version and the edit version during the reconcile process.</p><ul><li>Checked—The reconcile will end if conflicts are found.</li><li>Unchecked—The reconcile will not end if conflicts are found. This is the default.</li></ul></xdoc>",
        "abort_if_conflicts.title": "Abort if Conflicts Detected",
        "acquire_locks.descr": "<xdoc><p>Specifies whether feature locks will be acquired.</p><p>If the input is a branch workspace, locks are not acquired during the reconcile process.</p><ul><li>Checked—Locks will be acquired during the reconcile process. Use this option when the intention is to post edits. It ensures that the target version is not modified in the time between the reconcile and post operations. This is the default.</li><li>Unchecked—Locks will not be acquired during the reconcile process. This allows multiple users to reconcile in parallel. Use this option when the edit version will not be posted to the target version because the target version may be modified in the time between the reconcile and post operations.</li></ul></xdoc>",
        "acquire_locks.title": "Acquire Locks",
        "conflict_definition.descr": "<xdoc><p>Specifies whether the conditions required for a conflict to occur will be defined by object (row) or by attribute (column).</p><ul><li><span title=\"BY_OBJECT\">Conflicts defined by object (by row)</span>—Conflicts will be defined by object. Any changes to the same row or feature in the parent and child versions will conflict during reconcile. This is the default.</li><li><span title=\"BY_ATTRIBUTE\">Conflicts defined by attribute (by column)</span>—Conflicts will be defined by attribute. Only changes to the same attribute (column) of the same row or feature in the parent and child versions will be flagged as a conflict during reconcile. Changes to other attributes will not be considered a conflict during reconcile.</li></ul></xdoc>",
        "conflict_definition.domain.BY_ATTRIBUTE": "Conflicts defined by attribute (by column)",
        "conflict_definition.domain.BY_OBJECT": "Conflicts defined by object (by row)",
        "conflict_definition.title": "Conflict Definition",
        "conflict_resolution.descr": "<xdoc><p>Specifies the resolution that will be used if a conflict is detected.</p><p>If the input is a branch workspace, the default is to favor the edit version.</p><ul><li><span title=\"FAVOR_TARGET_VERSION\">Resolve conflicts in favor of the target version</span>—All conflicts will be resolved in favor of the target version. This is the default for traditional versioning.</li><li><span title=\"FAVOR_EDIT_VERSION\">Resolve conflicts in favor of the edit version</span>—All conflicts will be resolved in favor of the edit version. This is the default for branch versioning.</li></ul></xdoc>",
        "conflict_resolution.domain.FAVOR_EDIT_VERSION": "Resolve conflicts in favor of the edit version",
        "conflict_resolution.domain.FAVOR_TARGET_VERSION": "Resolve conflicts in favor of the target version",
        "conflict_resolution.title": "Conflict Resolution",
        "description": "Reconciles a version or multiple versions with a target version.",
        "edit_versions.descr": "<xdoc><p>The name of the edit version or versions to be reconciled with the selected target version.</p><p>Only versions that are in the direct ancestry of the selected target version will be displayed.</p></xdoc>",
        "edit_versions.title": "Edit Versions",
        "input_database.descr": "<xdoc><p>The enterprise geodatabase that contains the versions to be reconciled.</p><p>For branch versioning, this will be the feature service URL (that is, https://mysite.mydomain/server/rest/services/ElectricNetwork/FeatureServer) or the feature layer portal item.</p></xdoc>",
        "input_database.title": "Input Workspace",
        "out_log.descr": "The name and location where the log file will be written. The log file is an ASCII file containing the contents of the geoprocessing messages.",
        "out_log.title": "Reconcile Versions Log",
        "out_workspace.title": "Updated Input Workspace",
        "proceed_if_conflicts_not_reviewed.descr": "<xdoc><p>Specifies whether the reconcile will proceed if existing unreviewed conflicts are detected before the reconcile process starts. If you proceed, existing conflicts from previous sessions will be lost when the tool runs. This parameter is only applicable to branch versioning.</p><ul><li>Checked—The reconcile process will proceed if existing unreviewed conflicts are detected. This is the default.</li><li>Unchecked—The reconcile process will not proceed if existing unreviewed conflicts are detected.</li></ul></xdoc>",
        "proceed_if_conflicts_not_reviewed.title": "Proceed if unreviewed conflicts are detected",
        "reconcile_checkout_versions.descr": "<xdoc><p>Specifies whether the reconcile process will include checkout replica versions. If you are creating a checkout replica as part of a geodatabase replication workflow, an associated version is created in the geodatabase. This option allows you to include or remove these types of versions from the list of versions to be reconciled. This parameter is not applicable to branch versioning.</p><p><ul><li>Checked—The reconcile process will include checkout replica versions. This is the default.</li><li>Unchecked—The reconcile process will not include checkout replica versions.</li></ul></p></xdoc>",
        "reconcile_checkout_versions.title": "Reconcile checkout replica versions",
        "reconcile_mode.descr": "<xdoc><p>Specifies the versions that will be reconciled when the tool is run.</p><p>If the input is a branch workspace, the only valid option for this parameter is to reconcile all versions.</p><ul><li><span title=\"ALL_VERSIONS\">Reconcile all versions</span>—Edit versions will be reconciled with the target version. This is the default.</li><li><span title=\"BLOCKING_VERSIONS\">Reconcile blocking versions only</span>—Versions that are blocking the target version from compressing will be reconciled. This option uses the recommended reconcile order.</li></ul></xdoc>",
        "reconcile_mode.domain.ALL_VERSIONS": "Reconcile all versions",
        "reconcile_mode.domain.BLOCKING_VERSIONS": "Reconcile blocking versions only",
        "reconcile_mode.title": "Reconcile Mode",
        "target_version.descr": "<xdoc><p>The name of any version in the direct ancestry of the edit version, such as the parent version or the default version.</p><p>It typically contains edits from other versions that you want included in the edit version.</p><p>If the input is a branch workspace, the only valid option for this parameter is to reconcile with the default version.</p></xdoc>",
        "target_version.title": "Target Version",
        "title": "Reconcile Versions",
        "with_delete.descr": "<xdoc><p>Specifies whether the reconciled edit version will be deleted after posting. This parameter only applies when the <span class=\"esri_uicontrol\">Post Versions After Reconcile</span> parameter is checked.</p><ul><li>Checked—The current edit version that was reconciled will be deleted after being posted to the target version.</li><li>Unchecked—The current edit version that was reconciled will not be deleted. This is the default.</li></ul></xdoc>",
        "with_delete.title": "Delete Versions After Post",
        "with_post.descr": "<xdoc><p>Specifies whether the current edit session will be posted to the reconciled target version.</p><ul><li>Checked—The current edit version will be posted to the target version after the reconcile.</li><li>Unchecked—The current edit version will not be posted to the target version after the reconcile. This is the default.</li></ul></xdoc>",
        "with_post.title": "Post Versions After Reconcile"
    }
}
