{
    "set": [
        "coincident",
        "control",
        "delete",
        "geometry",
        "relationship",
        "rule",
        "share",
        "spatial",
        "topology",
        "valid"
    ]
}
