{
    "set": [
        "assemble",
        "color",
        "combine",
        "create",
        "merge",
        "multiband",
        "multiple band",
        "new",
        "preparation",
        "processing",
        "reorder",
        "rgb",
        "band algebra",
        "band math",
        "calculator",
        "polarization"
    ]
}
