{
    "map": {
        "description": "Reverses the line order for all the routes in a line.",
        "in_route_features.descr": "The LRS line network for which line order values will be reversed.",
        "in_route_features.title": "Input Route Features",
        "out_derived_route_features.title": "Output Derived Route Features",
        "out_details_file.title": "Output Details File",
        "title": "Reverse Line Orders",
        "updated_route_features.title": "Updated Route Features"
    }
}
