<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="serviceConfiguration" type="TrueAutomation.ServiceHost.Configurations.serviceConfiguration, TrueAutomation.ServiceHost"/>
	</configSections>
	<!-- This is needed to ensure that configurations for hosted services load accordingly-->
	<serviceConfiguration xmlns="urn:TrueAutomation.ServiceHost.Configurations">
		<services>
			<service name="PACSSyncService" enabled="true"/>
		</services>
	</serviceConfiguration>
	<appSettings>
		<add key="ServiceFolder" value="services"/>
	</appSettings>
</configuration>
