{
    "map": {
        "derived_out_terrain.title": "Updated Input Terrain",
        "description": "Changes the reference scale associated with a terrain pyramid level.",
        "in_terrain.descr": "The terrain dataset that will be processed.",
        "in_terrain.title": "Input Terrain",
        "new_refscale.descr": "The new reference scale for the pyramid level.",
        "new_refscale.title": "New Reference Scale",
        "old_refscale.descr": "The reference scale of an existing pyramid level.",
        "old_refscale.title": "Old Reference Scale",
        "title": "Change Terrain Reference Scale"
    }
}
