{
    "map": {
        "airport_control_point_feature_class.descr": "Supplies x-, y-, and z-geometry for displaced threshold features. If displaced thresholds are included, surfaces will be constructed based on their x-, y-, and z-geometry instead of their corresponding runway feature endpoint.",
        "airport_control_point_feature_class.title": "Input Airport Control Point Feature",
        "custom_json_file.descr": "The import configuration, in JSON format, that will be used to create the custom OIS.",
        "custom_json_file.title": "Custom JSON File",
        "derived_outfeatureclass.title": "Output OIS Features",
        "description": "Creates obstruction identification surfaces (OIS) based on the ICAO Annex 15 specification (Areas 2a, 2b, and 2c). These surfaces assist in determining the height restriction or removal of obstacles that pose a hazard to air navigation in and around an aerodrome. This tool creates surfaces as  a polygon or multipatch features.",
        "highend_clear_way_length.descr": "The length of the area at the high end of the runway. The unit of measurement is based on the input runway features.",
        "highend_clear_way_length.title": "Length of High Runway End Clearway",
        "in_features.descr": "The input runway dataset. The feature class must be z-enabled and contain polylines.",
        "in_features.title": "Input Runway Features",
        "lowend_clear_way_length.descr": "The length of the area at the low end of the runway. The unit of measurement is based on the input runway features.",
        "lowend_clear_way_length.title": "Length of Low Runway End Clearway",
        "summary": "Creates obstruction identification surfaces (OIS) based on the ICAO Annex 15 specification (Areas 2a, 2b, and 2c). These surfaces assist in determining the height restriction or removal of obstacles that pose a hazard to air navigation in and around an aerodrome. This tool creates surfaces as a polygon or multipatch features.",
        "target.descr": "The target feature class that will contain the generated OIS.",
        "target.title": "Target OIS Features",
        "title": "ICAO Annex 15"
    }
}
