{
    "set": [
        "attribute",
        "constrain",
        "domains",
        "down",
        "drop",
        "field",
        "integrity",
        "limit",
        "list",
        "restrict",
        "set",
        "specify",
        "subtype"
    ]
}
