{
    "set": [
        "affine transformation",
        "conflation",
        "control point links",
        "link table",
        "move coordinates",
        "projective transformation",
        "residual error",
        "rmse",
        "root mean square error",
        "similarity transformation",
        "source",
        "spatial adjustment",
        "target",
        "transformation"
    ]
}
