{
    "set": [
        "3d feature class",
        "3d files",
        "blobs",
        "conversion",
        "import las",
        "las",
        "lidar",
        "multipoint",
        "point cloud",
        "point spacing"
    ]
}
