* {
  box-sizing: border-box;
}

:root {
  --tf-index-surface-dark-hs: 222 47%;
  --tf-index-slate-200-hs: 213 27%;
}

body {
  margin: 0;
  background: hsl(var(--tf-index-surface-dark-hs) 11%);
  color: hsl(var(--tf-index-slate-200-hs) 91%);
}

#root {
  min-height: 100vh;
}
