{
    "map": {
        "description": "Deletes the  replication information on a parent repository and sends  a web service call to all the child repositories in the cluster. Consequently, the replication information is cleared from all the repositories participating in the cluster.",
        "input_databasepath.descr": "The Workflow Manager (Classic) connection file (.jtc) for the database from which to delete the replication information. If no connection file is specified, the current default Workflow Manager (Classic) database is used.",
        "input_databasepath.title": "Input Database Path",
        "input_repository_url.descr": "<xdoc><p>The URL for the Workflow Manager (Classic) Server Object as defined on the server.</p><p>For example, http://ServerName/arcgis/rest/services/ServerObjectName/WMServer.</p></xdoc>",
        "input_repository_url.title": "Repository URL",
        "output_status.title": "Clear Replication Status",
        "summary": "<xdoc><p>Deletes the replication information on a parent repository and sends a web service call to all the child repositories in the cluster. Consequently, the replication information is cleared from all the repositories participating in the cluster.</p><note type=\"legacy\"/><p group=\"note\">This is a deprecated tool. It is recommended that current Workflow Manager (Classic) users begin new projects using the services-driven ArcGIS Workflow Manager for ArcGIS Pro.</p></xdoc>",
        "title": "Clear Job Replication Information"
    }
}
