{
    "map": {
        "description": "Interpolates a raster surface, using barriers, from points using a minimum curvature spline technique. The barriers are entered as either polygon or polyline features.",
        "input_barrier_features.descr": "The optional input barrier features to constrain the interpolation.",
        "input_barrier_features.title": "Input barrier features",
        "input_point_features.descr": "The input point features containing the z-values to be interpolated into a surface raster.",
        "input_point_features.title": "Input point features",
        "output_cell_size.descr": "<xdoc><p>The cell size of the output raster that will be created.</p><p>This parameter can be defined by a numeric value or obtained from an existing raster dataset. If the cell size hasn&apos;t been explicitly specified as the parameter value, the environment cell size value will be used if specified; otherwise, additional rules will be used to calculate it from the other inputs. See the usage section for more detail.</p></xdoc>",
        "output_cell_size.title": "Output cell size",
        "output_raster.descr": "<xdoc><p>The output interpolated surface raster.</p><p>It is always a floating-point raster.</p></xdoc>",
        "output_raster.title": "Output raster",
        "smoothing_factor.descr": "<xdoc><p>The parameter that influences the smoothing of the output surface.</p><p>No smoothing is applied when the value is zero and the maximum amount of smoothing is applied when the factor equals 1.</p><p>The default is 0.0.</p></xdoc>",
        "smoothing_factor.title": "Smoothing Factor",
        "title": "Spline with Barriers",
        "z_value_field.descr": "<xdoc><p>The field that holds a height or magnitude value for each point.</p><p>This can be a numeric field or the Shape field if the input point features contain z-values.</p></xdoc>",
        "z_value_field.title": "Z value field"
    }
}
