{
    "set": [
        "indoor",
        "indoors",
        "occupant features",
        "people",
        "person",
        "planner",
        "update occupant",
        "update occupant features",
        "occupant"
    ]
}
