{
    "set": [
        "data conversion",
        "data format",
        "data interoperability",
        "data type",
        "export",
        "export data",
        "feature class",
        "feature layer",
        "fme",
        "layer",
        "quick export"
    ]
}
