{
    "map": {
        "case_field.descr": "Field used to group features for separate mean center calculations. The case field can be of integer, date, or string type.",
        "case_field.title": "Case Field",
        "description": "Identifies the geographic center (or the center of concentration) for a set of features.",
        "dimension_field.descr": "A numeric field containing attribute values from which an average value will be calculated.",
        "dimension_field.title": "Dimension Field",
        "input_feature_class.descr": "A feature class for which the mean center will be calculated.",
        "input_feature_class.title": "Input Feature Class",
        "output_feature_class.descr": "A point feature class that will contain the features representing the mean centers of the input feature class.",
        "output_feature_class.title": "Output Feature Class",
        "title": "Mean Center",
        "weight_field.descr": "The numeric field used to create a weighted mean center.",
        "weight_field.title": "Weight Field"
    }
}
