{
    "set": [
        "create pyramids",
        "delete pyramids",
        "display",
        "drop pyramids",
        "overview",
        "ovr",
        "performance",
        "properties",
        "reduced resolution dataset",
        "remove pyramids",
        "resolution",
        "rrd",
        "speed"
    ]
}
