{
    "set": [
        "class distance",
        "classification",
        "image processing",
        "multiband",
        "multivariate statistics",
        "remote sensing",
        "signature file",
        "tree diagram"
    ]
}
