{
    "map": {
        "description": "Adds criteria based on the numerical fields existing in the input layer.",
        "fields.descr": "The numeric fields from which the suitability criteria will be determined.",
        "fields.title": "Fields",
        "in_analysis_layer.descr": "The Suitability Analysis layer that will be used in the analysis.",
        "in_analysis_layer.title": "Input Suitability Analysis Layer",
        "out_analysis_layer.title": "Output Suitability Analysis Layer",
        "out_criteria_name.title": "Output Criteria Name",
        "title": "Add Field Based Suitability Criteria"
    }
}
