/*******************
 * css.Popup
 *******************/
html {
  height: 100%;
}
body {
  margin: 0px;
  background-color: rgb(51, 51, 51);
  -webkit-print-color-adjust: exact;
  transform-origin: top left;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.esriPopup {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  position: relative;
  padding: 10px 10px 10px 10px;
  background-color: rgb(51, 51, 51);
  color: rgb(205, 205, 205);
  top: 0px;
  left: 0px;
  width: 100%;
}
.esriPopup .hidden {
  display: none;
}
.esriPopup p {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: left;
}
.esriPopup a {
  color: #3fa6ff;
  text-decoration: underline;
}
.esriPopup a:focus {
  outline-color: black;
  outline-style: dashed;
  outline-width: 2px;
  z-index: 1;
}
.esriPopup .hzLine {
  display: none;
  border: none;
  border-top: 1px solid #333333;
  margin-top: 6px;
  margin-bottom: 6px;
}
.esriPopup .break {
  height: 14px;
}
.esriPopup .header {
  font-family: Tahoma;
  font-size: 11pt;
}
.esriPopup .header p {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.esriPopup .attrTable {
  border-collapse: collapse;
  font-family:
    Segoe UI,
    Tahoma,
    Verdana,
    Geneva,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 9pt;
}
.esriPopup .attrTable tr.highlight {
  background-color: #f7f0c1;
}
.esriPopup .attrTable td {
  padding: 2px;
  padding-bottom: 5px;
  border: 1px solid rgb(92, 92, 92);
}
.esriPopup .attrTable td.attrName {
  color: rgb(212, 212, 212);
  padding-right: 5px;
}
.esriPopup .attrTable td.attrValue {
  color: rgb(241, 241, 241);
}
.esriPopup .attrTable tr:nth-child(odd) {
  background-color: rgb(54, 54, 54);
}
.esriPopup .attrTable tr:nth-child(even) {
  background-color: rgb(36, 36, 36);
}
.esriPopup .attachmentsSection ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.esriPopup .caption {
  text-align: center;
  vertical-align: top;
  font-family: Tahoma;
  font-size: 10pt;
}
.esriPopup .caption p {
  text-align: center;
}
.esriPopup .leftCaption {
  text-align: left;
  vertical-align: top;
  font-family: Tahoma;
  font-size: 10pt;
}
.esriPopup .leftCaption p {
  text-align: left;
}
.esriPopup .textCell {
  vertical-align: top;
}
.esriPopup .fieldCell {
  vertical-align: top;
}
.esriPopup .imageCell {
  vertical-align: middle;
}
.esriPopup .chartCell {
  vertical-align: middle;
}
.esriPopup .listCell {
  vertical-align: top;
}
.esriPopup .gallery {
  margin: auto;
  vertical-align: middle;
  margin: auto;
  border: 0px solid black;
  border-collapse: collapse;
  border-spacing: 0px;
}
.esriPopup .gallery .frame div.image {
  margin: auto;
  width: 218px;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.esriPopup .gallery .frame div.centeredText {
  display: flex;
  justify-content: center;
  align-items: center;
}
.esriPopup .gallery .frame a {
  margin: auto;
  max-width: 218px;
  max-height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.esriPopup .gallery .frame img {
  margin: auto;
  max-width: 218px;
  max-height: 150px;
  border: 1px solid rgb(205, 205, 205);
  vertical-align: middle;
}
.esriPopup .gallery .frame div.chart {
  width: auto;
  height: 150px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.esriPopup .gallery ul.summary {
  position: absolute;
  right: 0px;
  bottom: -18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.dj_rtl .esriPopup .gallery ul.summary {
  right: auto;
  left: 0px;
}
.esriPopup .gallery ul.summary li {
  float: left;
}
.dj_rtl .esriPopup .gallery ul.summary li {
  float: right;
}
.esriPopup .gallery ul.summary li.mediaCount {
  margin-left: 3px;
}
.dj_rtl .esriPopup .gallery ul.summary li.mediaCount {
  margin-left: auto;
  margin-right: 3px;
}
.esriPopup .gallery .mediaHandle {
  cursor: pointer;
  background: url(../images/popup.png) no-repeat;
}
.esriPopup .gallery .mediaHandle.prev {
  background-position: 0 -224px;
  width: 9px;
  height: 16px;
}
.esriPopup .gallery .mediaHandle.next {
  background-position: 0 -443px;
  width: 9px;
  height: 16px;
}
.esriPopup .gallery .mediaIcon {
  background: url(../images/popup.png) no-repeat;
}
.esriPopup .gallery .mediaIcon.image {
  background-position: 0 -392px;
  width: 15px;
  height: 15px;
}
.esriPopup .gallery .mediaIcon.chart {
  background-position: 0 -146px;
  width: 19px;
  height: 15px;
}
.esriPopup .editSummarySection .break {
  height: 10px;
}
.esriPopup .editSummary {
  color: #888888;
}
.expander-box {
  display: none;
}
.expander-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcbcb;
  background-color: #efeeef;
  color: #4c4c4c;
}
.expander-box + label + div {
  display: none;
  margin-bottom: 10px;
}
.expander-box:checked + label + div {
  display: block;
  margin-left: 10px;
}
.expander-box + label:before {
  background-color: #efeeef;
  color: #4c4c4c;
  content: '+';
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 0px;
  text-align: center;
  width: 20px;
}
.expander-box:checked + label:before {
  content: '\2212'; /*-*/
}
.wj-flexgrid {
  width: auto;
  max-width: 100%;
}
.wj-tooltip {
  background-color: rgba(97, 97, 97, 0.95);
  border: 0px;
  border-radius: 0;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: Verdana;
  padding: 6px;
  font-size: 10px;
  color: #ededed;
}
.wj-flexchart .wj-data-label,
.wj-flexchart .wj-label {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  fill: rgb(136, 140, 118);
  font-size: 7pt;
  font-family: Verdana, Arial, sans-serif;
}
.wj-flexchart .wj-axis-x .wj-tick,
.wj-flexchart .wj-axis-y .wj-tick,
.wj-flexchart .wj-axis-x .wj-line,
.wj-flexchart .wj-data-label-line,
.wj-flexchart .wj-axis-x .wj-gridline {
  stroke: rgb(136, 140, 118);
}
.wj-flexchart .wj-series-group {
  stroke: rgb(42, 110, 173);
  stroke-width: 4;
}
