{
    "set": [
        "anno",
        "create",
        "dimension",
        "dimensions",
        "dims",
        "generate",
        "geodatabase",
        "label",
        "reference scale",
        "text"
    ]
}
