{
    "set": [
        "aoi extent",
        "assigned user",
        "create jobs",
        "input database path",
        "merge",
        "number of jobs",
        "priority",
        "workflow manager"
    ]
}
