{
    "map": {
        "description": "Fills sinks in a surface raster to remove small imperfections in the data.",
        "inputsurfaceraster.descr": "The input raster representing a continuous surface.",
        "inputsurfaceraster.title": "Input Surface Raster",
        "outputname.descr": "<xdoc><p>The name of the output fill raster service.</p><p>The default name is based on the tool name and the input layer name. If the layer name already exists, you will be prompted to provide another name.</p></xdoc>",
        "outputname.title": "Output Name",
        "outputraster.title": "Output Raster",
        "title": "Fill",
        "zlimit.descr": "Maximum elevation difference between a sink and its pour point to be filled.",
        "zlimit.title": "Z Limit"
    }
}
