{
    "map": {
        "create_report.descr": "<xdoc><p>Specifies whether a Wind Rose report will be created.</p><ul><li>Checked—A report will be created.</li><li>Unchecked—A report will not be created. This is the default.</li></ul></xdoc>",
        "create_report.title": "Create Report",
        "cutoff.descr": "The distance beyond which customers will be considered outliers and excluded from consideration during desire line generation.",
        "cutoff.title": "Cutoff",
        "description": "Generates a series of lines from each customer to an associated store location. These lines are often called spider diagrams. The tool can also generate an optional Wind Rose report from the output.",
        "distance_type.descr": "<xdoc><p>The method of travel that will be used for distance calculation. Straight Line is the default value.</p><p>When using Portal for ArcGIS or local data sources, travel mode options are dynamically populated.</p></xdoc>",
        "distance_type.title": "Distance Type",
        "in_customers_layer.descr": "The input point layer representing customers or patrons.",
        "in_customers_layer.title": "Customer Layer",
        "in_stores_layer.descr": "The input point layer representing store or facility locations.",
        "in_stores_layer.title": "Store Layer",
        "link_field.descr": "An ID field used to assign individual customers to stores.",
        "link_field.title": "Associated Store ID Field",
        "out_feature_class.descr": "<xdoc><p>The resultant feature class that will be added to the <span class=\"esri_uicontrol\">Contents</span> pane.</p></xdoc>",
        "out_feature_class.title": "Output Feature Class",
        "output_report.title": "Output Report",
        "params.category1": "Network Parameters",
        "params.category2": "Report Options",
        "report_folder.descr": "The output directory that will contain the Wind Rose report.",
        "report_folder.title": "Output Report Folder",
        "report_format.descr": "One or more output report formats. The default value is PDF. Additional available formats are XLSX, HTML, CSV, and PAGX.",
        "report_format.title": "Report Format",
        "report_title.descr": "The title of the Wind Rose report.",
        "report_title.title": "Report Title",
        "store_id_field.descr": "A unique ID field representing a store or facility location.",
        "store_id_field.title": "Store ID Field",
        "summary": "<xdoc><p>Generates a series of lines from each customer to an associated store location. These lines are often called spider diagrams. The tool can also generate an optional Wind Rose report from the output.</p><p><note type=\"note\"/><p group=\"note\">This tool is similar to the Generate Origin-Destination Links tool in the Analysis toolbox Proximity toolset.</p></p></xdoc>",
        "time_of_day.descr": "The time at which travel begins.",
        "time_of_day.title": "Time of Day",
        "time_zone.descr": "<xdoc><p>Specifies the time zone that will be used for the <span class=\"esri_uicontrol\">Time of Day</span> parameter.</p><ul><li><span title=\"UTC\">UTC</span>—Coordinated universal time (UTC) will be used. Choose this option if you want to choose the best location for a specific time, such as now, but aren&apos;t certain in which time zone the stores or demand points are located.</li><li><span title=\"TIME_ZONE_AT_LOCATION\">Local time at locations</span>—The time zone in which the stores or demand points are located will be used. If <span class=\"esri_uicontrol\">Travel Direction</span> is <span class=\"esri_uicontrol\">Away from Stores</span>, this is the time zone of the stores. If <span class=\"esri_uicontrol\">Travel Direction</span> is <span class=\"esri_uicontrol\">Toward Stores</span>, this is the time zone of the demand points. This is the default.</li></ul></xdoc>",
        "time_zone.domain.TIME_ZONE_AT_LOCATION": "Local time at locations",
        "time_zone.domain.UTC": "UTC",
        "time_zone.title": "Time Zone",
        "title": "Generate Desire Lines",
        "travel_direction.descr": "<xdoc><p>Specifies the direction of travel that will be used between stores and demand points.</p><ul><li><span title=\"TOWARD_STORES\">Toward Stores</span>—The direction of travel will be from demand points to stores. This is the default.</li><li><span title=\"AWAY_FROM_STORES\">Away from Stores</span>—The direction of travel will be from stores to demand points.</li></ul></xdoc>",
        "travel_direction.domain.AWAY_FROM_STORES": "Away from Stores",
        "travel_direction.domain.TOWARD_STORES": "Toward Stores",
        "travel_direction.title": "Travel Direction",
        "units.descr": "The type of distance- or time-measuring units that will be used when calculating minimal distance.",
        "units.title": "Measure Units"
    }
}
