{
    "set": [
        "3d analysis",
        "3d editing",
        "3d features",
        "3d geometry",
        "3d spatial relationships",
        "line of sight",
        "multipatch",
        "openness",
        "profile",
        "ridgeline",
        "silhouette",
        "skyline analysis",
        "skyscraper",
        "view"
    ]
}
