{
    "set": [
        "barrier",
        "breakline",
        "estimate",
        "faulted",
        "interpolate",
        "interpolation",
        "interpolator",
        "inverse distance weighting",
        "predict",
        "raster",
        "surface"
    ]
}
