{
    "set": [
        "base",
        "customer",
        "milton",
        "potential",
        "profiles",
        "segment",
        "segmentation",
        "table",
        "tapestry",
        "target"
    ]
}
