{
    "map": {
        "description": "Places a control point at vertices along a line or polygon outline where the angle created by a change in line direction is less than or equal to a specified maximum angle.",
        "in_features.descr": "The feature layer containing line or polygon features.",
        "in_features.title": "Input Features",
        "maximum_angle.descr": "The angle used to determine whether a vertex along a line or polygon outline will be set as a control point. The angle value must be greater than zero and less than 180 decimal degrees.",
        "maximum_angle.title": "Maximum Angle (decimal degrees)",
        "out_representations.title": "Updated Input Features",
        "title": "Set Control Point By Angle"
    }
}
