{
    "set": [
        "aggregate",
        "bin",
        "bin-enabled",
        "binning",
        "disable",
        "feature binning",
        "lod",
        "level of detail",
        "reduce",
        "reduction",
        "remove"
    ]
}
