{
    "set": [
        "configuration",
        "delete event",
        "delete lrs",
        "delete route",
        "lrs network",
        "pipeline",
        "remove event",
        "remove route",
        "utility network"
    ]
}
