<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="TAConnectInterface" publicKeyToken="FF3A2D1AC5316CC0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2.15" newVersion="1.0.2.15"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TrueAutomation.Utility" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.4.29400" newVersion="1.0.4.29400"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TrueAutomation.Error" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.1.2" newVersion="1.0.1.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TrueAutomation.Data" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.5.3" newVersion="1.0.5.3"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TrueAutomation.Authorization" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.7.3" newVersion="1.0.7.3"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TrueAutomation.Windows" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TrueAutomation.Windows.Service" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TAGDI" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TAVerbSystem" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TAAppraisalResources" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TACustomPropertyTypes" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TAPrinting" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TAMetaData" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PACS.Data" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TrueAutomation.Core.Domain" publicKeyToken="ff3a2d1ac5316cc0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.382" newVersion="10.0.0.382"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
