{
    "set": [
        "3d",
        "3d dataset",
        "create indoor",
        "create indoor 3d dataset",
        "create indoors dataset",
        "indoor",
        "indoor 3d dataset",
        "indoor 3d data",
        "indoor dataset",
        "indoor data",
        "indoors",
        "indoors 3d dataset",
        "indoors 3d data",
        "indoors dataset",
        "indoors data",
        "multipatch"
    ]
}
