{
    "map": {
        "create_attribute_rules.descr": "<xdoc><p>Specifies whether attribute rules and the associated fields and error datasets will be created in the Indoors database. These attribute rules include validation checks to use in quality control workflows for floor plan data. The target geodatabase must be a file geodatabase or an enterprise geodatabase configured for branch versioning.</p><ul><li>Checked—Attribute rules will be created. This is the default.</li><li>Unchecked—Attribute rules will not be created.</li></ul></xdoc>",
        "create_attribute_rules.title": "Create Attribute Rules",
        "create_network.descr": "<xdoc><p>Specifies whether a network dataset containing the indoor transportation network feature classes—Landmarks, Pathways, and Floor Transitions—will be created in the Indoors database.</p><ul><li>Checked—A network dataset and feature classes will be created. This is the default.</li><li>Unchecked—A network dataset and feature classes will not be created.</li></ul></xdoc>",
        "create_network.title": "Create Indoors Network",
        "description": "Creates an Indoors geodatabase that conforms to the ArcGIS Indoors Information Model and contains the feature classes, fields, and tables required for maintaining indoor data for floor plan mapping, routing, space planning, and workspace reservations.",
        "spatial_reference.descr": "The spatial reference of the output Indoors database. If no spatial reference is set, the output Indoors database will use WGS84 Web Mercator (auxiliary sphere) as the horizontal coordinate system and WGS84 as the vertical coordinate system.",
        "spatial_reference.title": "Coordinate System",
        "target_gdb.descr": "The geodatabase that will contain the ArcGIS Indoors Information Model to manage indoor GIS information for use with Indoors apps.",
        "target_gdb.title": "Target Geodatabase",
        "title": "Create Indoors Database",
        "updated_gdb.title": "Updated Geodatabase"
    }
}
