openapi: 3.0.3
info:
  title: Public Works API
  description: Infrastructure management and public works APIs
  version: 1.0.0
  contact:
    name: TerraFusion Government OS API Support
    email: public-works-api@terrafusion.gov
    url: https://docs.terrafusion.gov/frontend/public-works
  license:
    name: Government Use License
    url: https://terrafusion.gov/licenses/government-api
  termsOfService: https://terrafusion.gov/terms/api-usage
servers:
- url: https://api.terrafusion.gov/api/v1/public-works
  description: Production TerraFusion Government API
- url: https://staging-api.terrafusion.gov/api/v1/public-works
  description: Staging Environment
- url: https://dev-api.terrafusion.gov/api/v1/public-works
  description: Development Environment
paths:
  /infrastructure:
    get:
      tags:
      - public-works
      summary: Infrastructure inventory
      description: Infrastructure inventory - Infrastructure management and public
        works APIs
      operationId: get__infrastructure
      security:
      - OAuth2:
        - public-works:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /maintenance:
    post:
      tags:
      - public-works
      summary: Schedule maintenance
      description: Schedule maintenance - Infrastructure management and public works
        APIs
      operationId: post__maintenance
      security:
      - OAuth2:
        - public-works:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects:
    get:
      tags:
      - public-works
      summary: Public works projects
      description: Public works projects - Infrastructure management and public works
        APIs
      operationId: get__projects
      security:
      - OAuth2:
        - public-works:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /work-orders:
    post:
      tags:
      - public-works
      summary: Create work orders
      description: Create work orders - Infrastructure management and public works
        APIs
      operationId: post__work-orders
      security:
      - OAuth2:
        - public-works:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: object
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        dependencies:
          type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.terrafusion.gov/oauth/authorize
          tokenUrl: https://auth.terrafusion.gov/oauth/token
          scopes:
            public-works:read: Read access to public-works resources
            public-works:write: Write access to public-works resources
            public-works:admin: Administrative access to public-works
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
security:
- OAuth2:
  - public-works:read
- ApiKey: []
tags:
- name: public-works
  description: Public Works operations
  externalDocs:
    description: Find out more about public-works
    url: https://docs.terrafusion.gov/frontend/public-works
