{
    "map": {
        "description": "Overwrite a Network Diagram",
        "in_network_diagram_layer.title": "Input Network Diagram Layer",
        "map.title": "Input Map",
        "out_network_diagram_layer.title": "Output Network Diagram",
        "title": "Overwrite Diagram"
    }
}
