{
    "set": [
        "cluster",
        "cube",
        "similar",
        "space time cube",
        "aggregate",
        "classify",
        "different",
        "group",
        "like",
        "machine learning",
        "partition",
        "pattern",
        "same",
        "space-time",
        "time series",
        "unsupervised"
    ]
}
