{
    "map": {
        "description": "Returns the number of geometric intersections between  3D line and multipatch features and also provides optional features that represent points of intersection and also divide the 3D lines at such points.",
        "in_line_features.descr": "The line features that will be intersected with the multipatch features.",
        "in_line_features.title": "Input Line Features",
        "in_multipatch_features.descr": "The multipatch features that the lines will be intersected against.",
        "in_multipatch_features.title": "Input Multipatch Features",
        "join_attributes.descr": "<xdoc><p>The input line feature attributes that will be stored with the optional output features.</p><ul><li><span title=\"IDS_ONLY\">Only Feature ID Numbers</span>— Only feature identification numbers will be stored. This is the default.</li><li><span title=\"ALL\">All Attributes</span>—All attributes will be stored.</li></ul></xdoc>",
        "join_attributes.domain.ALL": "All Attributes",
        "join_attributes.domain.IDS_ONLY": "Only Feature ID Numbers",
        "join_attributes.title": "Join Attributes",
        "out_intersection_count.title": "Intersection Count",
        "out_line_feature_class.descr": "Optional line features that divide the input lines at each point of intersection with a multipatch feature.",
        "out_line_feature_class.title": "Output Lines",
        "out_point_feature_class.descr": "Optional features that represent points of intersection between the 3D line and multipatch.",
        "out_point_feature_class.title": "Output Points",
        "summary": "Returns the number of geometric intersections between 3D line and multipatch features and also provides optional features that represent points of intersection and also divide the 3D lines at such points.",
        "title": "Intersect 3D Line With Multipatch"
    }
}
