{
    "map": {
        "description": "Generates an Excel, JSON, PDF, or HTML representation of the geodatabase schema. These formats are output to a target destination folder.",
        "formats.descr": "<xdoc><p>Specifies the file types that will be included in the output folder.</p><ul><li><span title=\"JSON\">JSON</span>—The output folder will include a .json file.</li><li><span title=\"PDF\">PDF</span>—The output folder will include a .pdf file.</li><li><span title=\"HTML\">HTML</span>—The output folder will include an .html file.</li><li><span title=\"XLSX\">XLSX</span>—The output folder will include an Excel .xlsx file.</li></ul></xdoc>",
        "formats.domain.HTML": "HTML",
        "formats.domain.JSON": "JSON",
        "formats.domain.PDF": "PDF",
        "formats.domain.XLSX": "XLSX",
        "formats.title": "Output Formats",
        "in_dataset.descr": "The workspace, feature dataset, feature layer, or table view that will be used to generate the schema report.",
        "in_dataset.title": "Input Dataset",
        "name.descr": "The name of the file outputs.",
        "name.title": "Name",
        "out_files.title": "Output Files",
        "out_location.descr": "The folder where the report will be created.",
        "out_location.title": "Output Location",
        "title": "Generate Schema Report"
    }
}
