{
    "map": {
        "code_block.descr": "<xdoc><p>A Python code block. The code in the code block must be referenced in the <span class=\"esri_uicontrol\">Expression</span> parameter.</p></xdoc>",
        "code_block.title": "Code Block",
        "description": "Evaluates whether a given Python expression is True or False.",
        "expression.descr": "The Python expression to be evaluated.",
        "expression.title": "Expression",
        "false.title": "False",
        "title": "If Expression Is",
        "true.title": "True"
    }
}
