{
    "set": [
        "butt",
        "cul-de-sac",
        "culdesac",
        "culs-de-sac",
        "dead end",
        "dead-end",
        "deadend",
        "line caps",
        "override",
        "representation",
        "round",
        "square",
        "symbol",
        "symbology"
    ]
}
