{
    "set": [
        "concentration",
        "diminish with distance",
        "magnitude per unit area",
        "neighborhood",
        "population",
        "radius",
        "spread",
        "surface"
    ]
}
