{
    "map": {
        "description": "Disables replica tracking on data.",
        "in_dataset.descr": "The enterprise geodatabase table, feature class, feature dataset, attributed relationship class, or many-to-many relationship class on which to disable replica tracking.",
        "in_dataset.title": "Input Dataset",
        "summary": "<xdoc><p>Disables replica tracking on data.</p><p>Replica tracking is automatically disabled when a versioned dataset is unregistered as versioned or a nonversioned dataset has archiving disabled.</p></xdoc>",
        "title": "Disable Replica Tracking",
        "updated_dataset.title": "Updated Dataset"
    }
}
