{
    "map": {
        "add_source.descr": "<xdoc><p>Specifies whether source information will be added to the output dataset in a new <span class=\"esri_fieldname\">MERGE_SRC</span> text field. The values in the <span class=\"esri_fieldname\">MERGE_SRC</span> field will indicate the input dataset path or layer name that is the source of each record in the output.</p><ul><li>Unchecked—Source information will not be added to the output dataset in a <span class=\"esri_fieldname\">MERGE_SRC</span> field. This is the default.</li><li>Checked—Source information will be added to the output dataset in a <span class=\"esri_fieldname\">MERGE_SRC</span> field.</li></ul></xdoc>",
        "add_source.title": "Add source information to output",
        "description": "Combines multiple input datasets into a single, new output dataset. This tool can combine point, line, or polygon feature classes or tables.",
        "field_mappings.descr": "<xdoc><p>Use the field map to reconcile schema differences and match attribute fields between multiple datasets. The output includes all fields from the input datasets by default.</p><p>Use the field map to add, delete, rename, and reorder fields, as well as change other field properties.</p><p>The field map can also be used to combine values from two or more input fields into a single output field.</p></xdoc>",
        "field_mappings.title": "Field Map",
        "field_match_mode.descr": "<xdoc><p>Specifies how fields from the input dataset will be transferred to the output dataset.</p><ul><li><span title=\"AUTOMATIC\">Automatically generate fields consolidated from all inputs</span>—Fields of the same name will be automatically mapped together in the output. Fields that are unique to the inputs will be retained in the output. This is the default.</li><li><span title=\"MANUAL_EDIT\">Use the field map to reconcile field differences</span>—The output fields will determined by the <span class=\"esri_uicontrol\">Field Map</span> parameter value.</li><li><span title=\"USE_FIRST_SCHEMA\">Use the schema of the first dataset only</span>—The schema from the first input dataset will be used. This mode is suitable when all input datasets have the same schema.</li></ul></xdoc>",
        "field_match_mode.domain.AUTOMATIC": "Automatically generate fields consolidated from all inputs",
        "field_match_mode.domain.MANUAL_EDIT": "Use the field map to reconcile field differences",
        "field_match_mode.domain.USE_FIRST_SCHEMA": "Use the schema of the first dataset only",
        "field_match_mode.title": "Field Matching Mode",
        "inputs.descr": "<xdoc><p>The input datasets that will be merged into a new output dataset. Input datasets can be point, line, or polygon feature classes or tables. Input feature classes must all be of the same geometry type.</p><p>Tables and feature classes can be combined in a single output dataset. The output type is determined by the first input. If the first input is a feature class, the output will be a feature class. If the first input is a table, the output will be a table. If a table is merged into a feature class, the rows from the input table will have null geometry.</p></xdoc>",
        "inputs.title": "Input Datasets",
        "output.descr": "The output dataset that will contain all combined input datasets.",
        "output.title": "Output Dataset",
        "summary": "<xdoc><p>Combines multiple input datasets into a single, new output dataset. This tool can combine point, line, or polygon feature classes or tables.</p><p>Use the Append tool to combine input datasets with an existing dataset.</p></xdoc>",
        "title": "Merge"
    }
}
