{
    "set": [
        "change",
        "convert",
        "decrease",
        "depth",
        "flip",
        "geometry",
        "height",
        "increase",
        "invert",
        "modify",
        "reverse",
        "update",
        "vector",
        "vertical"
    ]
}
