{
    "set": [
        "area",
        "big data",
        "buffer",
        "covid",
        "down stream",
        "euclidean",
        "find",
        "gps",
        "geodesic",
        "movement",
        "near",
        "neighborhood",
        "planar",
        "search",
        "tracing",
        "tracks"
    ]
}
