{
    "set": [
        "advanced mode",
        "automl",
        "automated classification",
        "automated data processing",
        "automated feature training",
        "automated features selection",
        "automated machine learning",
        "automated model selection",
        "automated pipeline",
        "automated regression",
        "automated supervised learning",
        "automated workflow",
        "automl mode",
        "basic mode",
        "best model",
        "compete",
        "decision tree",
        "dropped features",
        "explain",
        "explanatory variables",
        "exploratory data analysis",
        "extra trees",
        "feature and tabular data analysis",
        "feature importance",
        "geoai",
        "geoai tools",
        "hyperparameter tuning",
        "intermediate mode",
        "lightgbm",
        "linear",
        "ml",
        "machine learning",
        "model ensemble",
        "model explainability",
        "neural network",
        "perform",
        "random forest",
        "shap",
        "stacking",
        "xgboost"
    ]
}
