{
    "map": {
        "description": "Creates two feature classes and a table, which together contain information about the edges, junctions, and turns that are traversed while solving a network analysis layer.",
        "edge_feature_class_name.descr": "The name of the feature class that will contain information about the traversed edge source features. If the solved network analysis layer doesn't traverse any edge features, an empty feature class will be created.",
        "edge_feature_class_name.title": "Edge Feature Class Name",
        "edge_features.title": "Edge Features",
        "input_network_analysis_layer.descr": "The network analysis layer from which traversed source features will be copied. If the network analysis layer does not have a valid result, the layer will be solved to produce one.",
        "input_network_analysis_layer.title": "Input Network Analysis Layer",
        "junction_feature_class_name.descr": "The name of the feature class that will contain information about the traversed junction source features, including system junctions and relevant points from the input network analysis layer. If the solved network analysis layer doesn't traverse any junctions, an empty feature class will be created.",
        "junction_feature_class_name.title": "Junction Feature Class Name",
        "junction_features.title": "Junction Features",
        "modified_input_network_analysis_layer.title": "Modified Input Network Analysis Layer",
        "output_location.descr": "The workspace where the output table and two feature classes will be saved.",
        "output_location.title": "Output Location",
        "title": "Copy Traversed Source Features",
        "turn_table.title": "Turn Table",
        "turn_table_name.descr": "The name of the table that will contain information about the traversed global turns and turn features that scale cost for the underlying edges. If the solved network analysis layer doesn't traverse any turns, an empty table will be created. Since restricted turns are never traversed, they are never included in the output.",
        "turn_table_name.title": "Turn Table Name"
    }
}
