{
    "set": [
        "area of interest",
        "boundary",
        "cookie",
        "crop",
        "cut",
        "cutter",
        "delete",
        "divide",
        "eliminate",
        "erase",
        "features subset",
        "inclusive",
        "inside",
        "intersect",
        "on top of",
        "outside",
        "overlay",
        "part of",
        "portion",
        "records subset",
        "remove",
        "section of",
        "stamp out",
        "study area",
        "subset",
        "trim"
    ]
}
