openapi: 3.0.3
info:
  title: Marketplace Frontend API
  description: Marketplace Frontend operations APIs
  version: 1.0.0
  contact:
    name: TerraFusion Government OS API Support
    email: marketplace-frontend-api@terrafusion.gov
    url: https://docs.terrafusion.gov/marketplace/marketplace-frontend
  license:
    name: Government Use License
    url: https://terrafusion.gov/licenses/government-api
  termsOfService: https://terrafusion.gov/terms/api-usage
servers:
- url: https://api.terrafusion.gov/api/v1/marketplace-frontend
  description: Production TerraFusion Government API
- url: https://staging-api.terrafusion.gov/api/v1/marketplace-frontend
  description: Staging Environment
- url: https://dev-api.terrafusion.gov/api/v1/marketplace-frontend
  description: Development Environment
paths:
  /health:
    get:
      tags:
      - marketplace-frontend
      summary: Health check
      description: Health check - Marketplace Frontend operations APIs
      operationId: get__health
      security:
      - OAuth2:
        - marketplace-frontend:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data:
    get:
      tags:
      - marketplace-frontend
      summary: Data retrieval
      description: Data retrieval - Marketplace Frontend operations APIs
      operationId: get__data
      security:
      - OAuth2:
        - marketplace-frontend:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /operations:
    post:
      tags:
      - marketplace-frontend
      summary: Operation execution
      description: Operation execution - Marketplace Frontend operations APIs
      operationId: post__operations
      security:
      - OAuth2:
        - marketplace-frontend:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /status:
    get:
      tags:
      - marketplace-frontend
      summary: Service status
      description: Service status - Marketplace Frontend operations APIs
      operationId: get__status
      security:
      - OAuth2:
        - marketplace-frontend:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: object
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        dependencies:
          type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.terrafusion.gov/oauth/authorize
          tokenUrl: https://auth.terrafusion.gov/oauth/token
          scopes:
            marketplace-frontend:read: Read access to marketplace-frontend resources
            marketplace-frontend:write: Write access to marketplace-frontend resources
            marketplace-frontend:admin: Administrative access to marketplace-frontend
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
security:
- OAuth2:
  - marketplace-frontend:read
- ApiKey: []
tags:
- name: marketplace-frontend
  description: Marketplace Frontend operations
  externalDocs:
    description: Find out more about marketplace-frontend
    url: https://docs.terrafusion.gov/marketplace/marketplace-frontend
