{
    "map": {
        "description": "Creates an indoor network dataset containing the necessary feature classes to maintain indoor network data using a streamlined schema that conforms to the ArcGIS Indoors Information Model. The indoor network dataset can be used to support indoor routable networks.",
        "indoor_network_dataset_name.descr": "The unique name of the output indoor network dataset. This name is also used for the preliminary indoor network dataset. The default name for the indoor network dataset is IndoorNetwork. The default name for the preliminary indoor network dataset is PrelimIndoorNetwork.",
        "indoor_network_dataset_name.title": "Indoor Network Dataset Name",
        "output_dataset.title": "Output Dataset",
        "spatial_reference.descr": "The spatial reference of the output indoor network dataset.",
        "spatial_reference.title": "Coordinate System",
        "target_gdb.descr": "The target file or enterprise geodatabase that will contain the output indoor network dataset.",
        "target_gdb.title": "Target Geodatabase",
        "title": "Create Indoor Network Dataset"
    }
}
