{
    "set": [
        "cntk",
        "classification",
        "dl",
        "deep learning",
        "image classification",
        "machine learning",
        "neural networks",
        "pytorch",
        "rcnn",
        "tensor flow",
        "deep learning framework",
        "deep learning model",
        "detect objects",
        "ground truth",
        "inference",
        "label samples",
        "training samples"
    ]
}
