{
    "map": {
        "antialiasing.descr": "<xdoc><p>Specifies whether polygons that match map service caches with antialiasing enabled will be generated. A map service cache supertile is 2048 x 2048 pixels with antialiasing or 4096 x 4096 pixels without. To determine whether antialiasing was used in an existing cache, open the tiling scheme file (conf.xml) and see if the &lt;Antialiasing&gt; tag is set to true.</p><ul><li>Checked—Polygon tiles will be generated to match the supertile extent of a map service cache with antialiasing enabled.</li><li>Unchecked—Polygon tiles will be generated to match the supertile extent of a map service cache without antialiasing enabled. This is the default.</li></ul></xdoc>",
        "antialiasing.title": "Generate polygons that match map service caches with anti-aliasing enabled",
        "clip_to_horizon.descr": "<xdoc><p>Specifies whether polygons will be constrained to the valid area of use for the geographic or projected coordinate system of the map.</p><ul><li>Checked—Polygon features will only be created within the valid area of use for the geographic or projected coordinate system of the map. Tiles that are within the extent of the tiling scheme but outside the extent of the coordinate system horizon will be clipped. This is the default.</li><li>Unchecked—Polygon features will be created for the full extent of the tiling scheme. Within each scale level, polygons will be of a uniform size and will not be clipped at the coordinate system horizon. This may create data that is outside the valid area of use for the geographic or projected coordinate system. If a scale within the tiling scheme would generate a tile that is larger than the spatial domain of the feature class, null geometry will be created for that feature.</li></ul></xdoc>",
        "clip_to_horizon.title": "Clip tiles at the coordinate system horizon",
        "description": "Creates a polygon feature class from an existing tiling scheme.",
        "input_map.descr": "The current map with the extent that will be used.",
        "input_map.title": "Input Map",
        "levels.descr": "<xdoc><p>The scale levels at which polygons will be created. These scale levels automatically populate based on the scale levels in the input tiling scheme. You can create polygons for some or all of the scale levels that are included in the tiling scheme. To add more scale levels, however, you must modify the tiling scheme file or create a new one, as the <span class=\"esri_uicontrol\">Add Value</span> button is not available for this tool.</p></xdoc>",
        "levels.title": "Scales",
        "output_feature_class.descr": "The output polygon feature class.",
        "output_feature_class.title": "Output Feature Class",
        "summary": "<xdoc><p>Creates a polygon feature class from an existing tiling scheme.</p><p>This tool subdivides a map extent using the same scales as an existing map service cache tiling scheme and creates tiles over a large area, or supertile. Since the supertile extent is larger than the actual tiles defined in the tiling scheme, tiles used as input to the Tiled Labels To Annotation tool can convert labels to annotation over a larger area at a time. This process minimizes annotation duplication across tiles.</p></xdoc>",
        "tiling_scheme.descr": "A predefined tiling scheme .xml file.",
        "tiling_scheme.title": "Tiling Scheme",
        "title": "Map Server Cache Tiling Scheme To Polygons",
        "use_map_extent.descr": "<xdoc><p>Specifies whether polygon features will be created for the entire extent of the tiling scheme or only those tiles that intersect the full extent of the map.</p><ul><li>Checked—Polygon features will be created for the full extent of the map. This is the default.</li><li>Unchecked—Polygon features will be created for the full extent of the tiling scheme.</li></ul></xdoc>",
        "use_map_extent.title": "Generate polygons that intersect the map extent"
    }
}
