{
  "openapi": "3.0.3",
  "info": {
    "title": "Terrafusion OS 1.0 API",
    "description": "Comprehensive API documentation for Terrafusion OS - Government AI Operating System with interactive examples and live testing capabilities",
    "version": "1.0.0",
    "contact": {
      "name": "Terrafusion Support",
      "email": "support@terrafusion.gov",
      "url": "https://docs.terrafusion.gov"
    },
    "license": {
      "name": "Government License",
      "url": "https://terrafusion.gov/license"
    }
  },
  "servers": [
    {
      "url": "https://api.terrafusion.gov/v1",
      "description": "Production API Server"
    },
    {
      "url": "https://staging-api.terrafusion.gov/v1",
      "description": "Staging API Server"
    },
    {
      "url": "http://localhost:${TF_STATIC_PORT:-8080}/api",
      "description": "Local Development Server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token for authenticated requests"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API Key for service-to-service authentication"
      }
    },
    "schemas": {
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique property identifier",
            "example": "PROP-2024-001"
          },
          "parcelNumber": {
            "type": "string",
            "description": "Government parcel identification number",
            "example": "123-456-789"
          },
          "address": {
            "type": "string",
            "description": "Property street address",
            "example": "123 Main Street"
          },
          "city": {
            "type": "string",
            "description": "City name",
            "example": "Benton"
          },
          "state": {
            "type": "string",
            "description": "State abbreviation",
            "example": "WA"
          },
          "zipCode": {
            "type": "string",
            "description": "ZIP code",
            "example": "99352"
          },
          "assessedValue": {
            "type": "number",
            "format": "decimal",
            "description": "Current assessed value in USD",
            "example": 285000.0
          },
          "marketValue": {
            "type": "number",
            "format": "decimal",
            "description": "Current market value in USD",
            "example": 325000.0
          },
          "propertyType": {
            "type": "string",
            "enum": [
              "Residential",
              "Commercial",
              "Industrial",
              "Agricultural",
              "Vacant"
            ],
            "description": "Property classification type",
            "example": "Residential"
          },
          "yearBuilt": {
            "type": "integer",
            "description": "Year the property was built",
            "example": 1995
          },
          "squareFootage": {
            "type": "integer",
            "description": "Total square footage",
            "example": 2400
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp",
            "example": "2024-08-18T13:30:00Z"
          }
        },
        "required": ["id", "parcelNumber", "address", "city", "state"]
      },
      "AIAgent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique agent identifier",
            "example": "AGENT-REV-001"
          },
          "name": {
            "type": "string",
            "description": "Agent display name",
            "example": "Revenue Hunter Alpha"
          },
          "type": {
            "type": "string",
            "enum": [
              "RevenueHunter",
              "ComplianceMonitor",
              "PropertyAnalyzer",
              "TaxOptimizer",
              "DataSynchronizer"
            ],
            "description": "Agent type classification",
            "example": "RevenueHunter"
          },
          "status": {
            "type": "string",
            "enum": ["Active", "Idle", "Processing", "Error", "Maintenance"],
            "description": "Current agent status",
            "example": "Active"
          },
          "performance": {
            "type": "object",
            "properties": {
              "tasksCompleted": {
                "type": "integer",
                "description": "Number of completed tasks",
                "example": 1247
              },
              "successRate": {
                "type": "number",
                "format": "percentage",
                "description": "Success rate percentage",
                "example": 97.8
              },
              "averageResponseTime": {
                "type": "number",
                "description": "Average response time in milliseconds",
                "example": 245
              }
            }
          },
          "lastActivity": {
            "type": "string",
            "format": "date-time",
            "description": "Last activity timestamp",
            "example": "2024-08-18T13:25:00Z"
          }
        },
        "required": ["id", "name", "type", "status"]
      },
      "ComplianceReport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique report identifier",
            "example": "COMP-2024-Q3-001"
          },
          "framework": {
            "type": "string",
            "enum": ["FISMA", "NIST", "SOC2", "FedRAMP", "HIPAA", "PCI-DSS"],
            "description": "Compliance framework",
            "example": "FISMA"
          },
          "status": {
            "type": "string",
            "enum": [
              "Compliant",
              "Non-Compliant",
              "Partially Compliant",
              "Under Review"
            ],
            "description": "Overall compliance status",
            "example": "Compliant"
          },
          "score": {
            "type": "number",
            "format": "percentage",
            "description": "Compliance score percentage",
            "example": 94.5
          },
          "violations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "controlId": {
                  "type": "string",
                  "example": "AC-2"
                },
                "severity": {
                  "type": "string",
                  "enum": ["Low", "Medium", "High", "Critical"],
                  "example": "Medium"
                },
                "description": {
                  "type": "string",
                  "example": "Account management controls need enhancement"
                }
              }
            }
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Report generation timestamp",
            "example": "2024-08-18T13:30:00Z"
          }
        },
        "required": ["id", "framework", "status", "score"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Resource not found"
          },
          "code": {
            "type": "string",
            "description": "Error code",
            "example": "RESOURCE_NOT_FOUND"
          },
          "details": {
            "type": "string",
            "description": "Additional error details",
            "example": "The requested property with ID PROP-2024-999 was not found in the system"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Error timestamp",
            "example": "2024-08-18T13:30:00Z"
          }
        },
        "required": ["error", "code"]
      }
    },
    "responses": {
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "parameters": {
      "PageParameter": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1,
          "example": 1
        }
      },
      "PageSizeParameter": {
        "name": "pageSize",
        "in": "query",
        "description": "Number of items per page",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 50,
          "example": 50
        }
      },
      "JurisdictionParameter": {
        "name": "jurisdiction",
        "in": "path",
        "description": "Jurisdiction identifier",
        "required": true,
        "schema": {
          "type": "string",
          "example": "benton-county"
        }
      }
    },
    "examples": {
      "PropertyExample": {
        "summary": "Residential Property Example",
        "description": "Example of a typical residential property record",
        "value": {
          "id": "PROP-2024-001",
          "parcelNumber": "123-456-789",
          "address": "123 Main Street",
          "city": "Benton",
          "state": "WA",
          "zipCode": "99352",
          "assessedValue": 285000.0,
          "marketValue": 325000.0,
          "propertyType": "Residential",
          "yearBuilt": 1995,
          "squareFootage": 2400,
          "lastUpdated": "2024-08-18T13:30:00Z"
        }
      },
      "CommercialPropertyExample": {
        "summary": "Commercial Property Example",
        "description": "Example of a commercial property record",
        "value": {
          "id": "PROP-2024-002",
          "parcelNumber": "987-654-321",
          "address": "456 Business Ave",
          "city": "Richland",
          "state": "WA",
          "zipCode": "99354",
          "assessedValue": 1250000.0,
          "marketValue": 1450000.0,
          "propertyType": "Commercial",
          "yearBuilt": 2010,
          "squareFootage": 15000,
          "lastUpdated": "2024-08-18T13:30:00Z"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Properties",
      "description": "Property management and assessment operations",
      "externalDocs": {
        "description": "Property Management Guide",
        "url": "https://docs.terrafusion.gov/guides/property-management"
      }
    },
    {
      "name": "AI Agents",
      "description": "AI agent management and monitoring",
      "externalDocs": {
        "description": "AI Agent Configuration Guide",
        "url": "https://docs.terrafusion.gov/guides/ai-agents"
      }
    },
    {
      "name": "Compliance",
      "description": "Compliance monitoring and reporting",
      "externalDocs": {
        "description": "Compliance Framework Guide",
        "url": "https://docs.terrafusion.gov/guides/compliance"
      }
    },
    {
      "name": "Harris PACS",
      "description": "Harris PACS integration endpoints",
      "externalDocs": {
        "description": "Harris PACS Integration Guide",
        "url": "https://docs.terrafusion.gov/guides/harris-pacs"
      }
    },
    {
      "name": "Cache Management",
      "description": "Cache optimization and management",
      "externalDocs": {
        "description": "Cache Configuration Guide",
        "url": "https://docs.terrafusion.gov/guides/cache-management"
      }
    }
  ]
}
