{
    "map": {
        "description": "Exports frame and camera parameters from a mosaic dataset that contains frame imagery.",
        "input_mosaic_dataset.descr": "The input mosaic dataset.",
        "input_mosaic_dataset.title": "Input Mosaic Dataset",
        "output_file.descr": "The output file containing the frame and camera parameters. Supported file formats include .csv and .txt.",
        "output_file.title": "Output File",
        "output_format.descr": "<xdoc><p>Specifies the output file format for the frame and camera parameters.</p><ul><li><span title=\"ESRI_FRAME_AND_CAMERA_TABLE\">Esri Frame and Camera Table</span>—The frame and camera parameters will be exported as an Esri Frames and Camera table (.csv file). This is the default.</li><li><span title=\"PIX4D_CALIBRATED_CAMERA_PARAMETERS\">Pix4D Calibrated Camera Parameters</span>—The frame and camera parameters will be exported using the Pix4D calibrated camera parameters format (.txt file).</li></ul></xdoc>",
        "output_format.domain.ESRI_FRAME_AND_CAMERA_TABLE": "Esri Frame and Camera Table",
        "output_format.domain.PIX4D_CALIBRATED_CAMERA_PARAMETERS": "Pix4D Calibrated Camera Parameters",
        "output_format.title": "Output Format",
        "title": "Export Frame And Camera Parameters"
    }
}
