{
    "set": [
        "densification",
        "densify",
        "ellipse",
        "geodesic",
        "great elliptic",
        "loxodrome",
        "normal section",
        "project",
        "projection"
    ]
}
