{
    "set": [
        "buffer",
        "close",
        "count",
        "distance",
        "drive",
        "near",
        "overlay",
        "proximity",
        "sum",
        "summary"
    ]
}
