{
    "set": [
        "bearing",
        "compass",
        "dem",
        "digital elevation model",
        "direction",
        "downslope",
        "elevation",
        "face",
        "flat",
        "maximum rate of change",
        "relief",
        "slope direction",
        "z-factor"
    ]
}
