{
    "set": [
        "blocked",
        "dem",
        "digital elevation model",
        "elevation",
        "hidden",
        "horizon",
        "line of sight",
        "observation point",
        "observer",
        "obstruction",
        "offset",
        "reception",
        "skyline",
        "topography",
        "transmission",
        "visible",
        "z-factor"
    ]
}
