{
    "map": {
        "antialiasing.title": "Antialiasing (Smoothes edges of labels and lines for improved display quality)",
        "cache_format.domain.JPEG": "JPEG",
        "cache_format.domain.PNG24": "PNG24",
        "cache_format.domain.PNG32": "PNG32",
        "cache_format.domain.PNG8": "PNG8",
        "cache_format.title": "Cache Tile Format",
        "data_frame.title": "Data Frame",
        "description": "Generates pre-rendered tile cache for the map server.",
        "dpi.title": "Dots(Pixels) Per Inch",
        "layer.title": "Input Layers",
        "levels.dt.title1": "Scale",
        "levels.title": "Scales",
        "map_or_layers.domain.FUSED": "FUSED",
        "map_or_layers.domain.MULTI_LAYER": "MULTI_LAYER",
        "map_or_layers.title": "Cache Type",
        "num_of_scales.title": "Number of Scales",
        "object_name.title": "Map Server",
        "out_folder.title": "Service Cache Directory",
        "out_object_name.title": "Output Map Server",
        "out_server_name.title": "Output Host",
        "params.category1": "Cache Type(Optional)",
        "scales_type.domain.CUSTOM": "CUSTOM",
        "scales_type.domain.STANDARD": "STANDARD",
        "scales_type.title": "Scales",
        "server_name.title": "Host",
        "thread_count.title": "Number of caching service instances",
        "tile_compression_quality.title": "Tile Compression Quality",
        "tile_height.title": "Tile Height (in pixels)",
        "tile_origin.title": "Tiling origin in map units",
        "tile_width.title": "Tile Width (in pixels)",
        "tiling_schema.title": "Predefined Tiling Scheme",
        "tiling_scheme_type.domain.NEW": "NEW",
        "tiling_scheme_type.domain.PREDEFINED": "PREDEFINED",
        "tiling_scheme_type.title": "Tiling Scheme",
        "title": "Generate Map Server Cache"
    }
}
