openapi: 3.0.3
info:
  title: Citizen Services API
  description: Citizen engagement and service delivery APIs
  version: 1.0.0
  contact:
    name: TerraFusion Government OS API Support
    email: citizen-services-api@terrafusionmarket.com
    url: https://docs.terrafusionmarket.com/frontend/citizen-services
  license:
    name: Government Use License
    url: https://terrafusionmarket.com/licenses/government-api
  termsOfService: https://terrafusionmarket.com/terms/api-usage
servers:
  - url: https://api.terrafusionmarket.com/api/v1/citizen-services
    description: Production TerraFusion Government API
  - url: https://staging-api.terrafusionmarket.com/api/v1/citizen-services
    description: Staging Environment
  - url: https://dev-api.terrafusionmarket.com/api/v1/citizen-services
    description: Development Environment
paths:
  /services:
    get:
      tags:
        - citizen-services
      summary: List available services
      description: List available services - Citizen engagement and service delivery
        APIs
      operationId: get__services
      security:
        - OAuth2:
            - citizen-services:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /services/{id}/apply:
    post:
      tags:
        - citizen-services
      summary: Apply for service
      description: Apply for service - Citizen engagement and service delivery APIs
      operationId: post__services_id_apply
      security:
        - OAuth2:
            - citizen-services:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /applications/{id}:
    get:
      tags:
        - citizen-services
      summary: Get application status
      description: Get application status - Citizen engagement and service delivery
        APIs
      operationId: get__applications_id
      security:
        - OAuth2:
            - citizen-services:read
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /feedback:
    post:
      tags:
        - citizen-services
      summary: Submit service feedback
      description: Submit service feedback - Citizen engagement and service delivery
        APIs
      operationId: post__feedback
      security:
        - OAuth2:
            - citizen-services:write
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: object
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        dependencies:
          type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.terrafusionmarket.com/oauth/authorize
          tokenUrl: https://auth.terrafusionmarket.com/oauth/token
          scopes:
            citizen-services:read: Read access to citizen-services resources
            citizen-services:write: Write access to citizen-services resources
            citizen-services:admin: Administrative access to citizen-services
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
security:
  - OAuth2:
      - citizen-services:read
  - ApiKey: []
tags:
  - name: citizen-services
    description: Citizen Services operations
    externalDocs:
      description: Find out more about citizen-services
      url: https://docs.terrafusionmarket.com/frontend/citizen-services
