{
    "map": {
        "description": "Creates a new raster dataset from a selection of an HDF or NITF dataset.",
        "in_raster.descr": "The HDF or NITF dataset that has the layers you want to extract.",
        "in_raster.title": "Input Raster",
        "out_raster.descr": "<xdoc><p>The name, location, and format for the dataset you are creating.</p><p>When storing the raster dataset in a file format, you need to specify the file extension:</p><ul><li>.bil—Esri BIL</li><li>.bip—Esri BIP</li><li>.bmp—BMP</li><li>.bsq—Esri BSQ</li><li>.dat—ENVI DAT</li><li>.gif—GIF</li><li>.img—ERDAS IMAGINE file</li><li>.jpg—JPEG</li><li>.jp2—JPEG 2000</li><li>.png—PNG</li><li>.tif—TIFF</li><li>no extension—Esri GRID</li></ul><p>When storing a raster dataset in a geodatabase, do not add a file extension to the name of the raster dataset.</p><p>When storing your raster dataset to a JPEG file, a JPEG 2000 file, or a geodatabase, you can specify a <span class=\"esri_uicontrol\">Compression</span> type and <span class=\"esri_uicontrol\">Compression Quality</span> within the Environment Settings.</p></xdoc>",
        "out_raster.title": "Output Raster",
        "subdataset_index.descr": "The subdatasets that you want to extract.",
        "subdataset_index.dt.title1": "ID",
        "subdataset_index.title": "Subdataset ID",
        "title": "Extract Subdataset"
    }
}
