{
    "set": [
        "attributes",
        "class",
        "classification",
        "classifier",
        "classifier definition file",
        "classify",
        "ecd",
        "feature extraction",
        "image analysis",
        "image classification",
        "image processing",
        "index raster",
        "index-raster",
        "obia",
        "object",
        "object-oriented image analysis",
        "segment",
        "segmentation",
        "segmented",
        "segmenter",
        "thematic",
        "train",
        "training",
        "training sample",
        "training sample manager"
    ]
}
