{
    "map": {
        "description": "Creates a control point at vertices that are shared by one or more line or polygon features. This tool is commonly used to synchronize boundary symbology on adjacent polygons.",
        "in_features.descr": "The line or polygon feature layer with features coincident to the input features.",
        "in_features.title": "Input Secondary Features",
        "in_line_or_polygon_features.descr": "The line or polygon feature layer.",
        "in_line_or_polygon_features.title": "Input Features",
        "out_representations.title": "Updated Input Features",
        "title": "Set Control Point At Intersect"
    }
}
