{
    "map": {
        "description": "Creates polygon footprints representing the two-dimensional  area of multipatch features.",
        "group_field.descr": "The field used for combining multipatch features so that they contribute to the same footprint polygon.",
        "group_field.title": "Group Field",
        "in_feature_class.descr": "The multipatch feature whose footprint will be generated.",
        "in_feature_class.title": "Input Feature Class",
        "out_feature_class.descr": "The resulting footprint polygon feature class.",
        "out_feature_class.title": "Output Feature Class",
        "summary": "Creates polygon footprints representing the two-dimensional area of multipatch features.",
        "title": "Multipatch Footprint"
    }
}
