{
    "map": {
        "description": "Increases the maximum number of edges per turn in a turn feature class.",
        "in_turn_features.descr": "The turn feature class that is having its maximum number of edges raised.",
        "in_turn_features.title": "Input Turn Feature Class",
        "maximum_edges.descr": "The new maximum number of edges in the input turn feature class. The value must be at least one higher than the existing maximum number of edges and cannot be greater than 50.",
        "maximum_edges.title": "Maximum Edges",
        "out_turn_features.title": "Updated Input Turn Feature Class",
        "title": "Increase Maximum Edges"
    }
}
