{
    "set": [
        "banding",
        "bands",
        "cartography",
        "defense",
        "defense mapping",
        "elevation",
        "elevation bands",
        "production",
        "production mapping",
        "topo",
        "topographic",
        "topographic production"
    ]
}
