{
    "map": {
        "description": "Creates a network dataset layer from a network  dataset.",
        "draw_elements.descr": "This parameter is not yet supported in ArcGIS Pro.",
        "draw_elements.title": "Network Elements to Draw",
        "in_network_dataset.descr": "The network dataset from which to make the new layer.",
        "in_network_dataset.title": "Input Network Dataset",
        "output_layer.descr": "<xdoc><p>The name of the network dataset layer to be created.</p><p>The layer can be used as an input to any geoprocessing tool that accepts a network dataset layer as input.</p></xdoc>",
        "output_layer.title": "Output Layer",
        "summary": "<xdoc><p>Creates a network dataset layer from a network dataset.</p><p>A network dataset is opened each time the network dataset is used as input to a geoprocessing tool. Opening a network dataset is expensive, as they contain advanced data structures and tables that are read and cached. A network dataset layer, which opens the dataset only a single time, will perform better in subsequent tools than reusing the network dataset.</p></xdoc>",
        "title": "Make Network Dataset Layer"
    }
}
