{
    "set": [
        "annotation",
        "append",
        "autocad",
        "cad",
        "change",
        "convert",
        "copy",
        "dgn",
        "dwg",
        "dxf",
        "export",
        "feature class",
        "file",
        "format",
        "gdb",
        "import",
        "import cad annotation",
        "import from cad",
        "load",
        "make",
        "microstation",
        "sde",
        "shp",
        "translate",
        "turn",
        "world file"
    ]
}
