{
    "map": {
        "allow_delete.descr": "<xdoc><p>Specifies whether unmatched occupant records for the <span class=\"esri_uicontrol\">Input Occupant Table</span> parameter value will be deleted from the target occupant features layer.</p><ul><li>Checked—Unmatched occupant records will be deleted from the target occupant features layer. This is the default.</li><li>Unchecked—Unmatched occupant records will not be deleted from the target occupant features layer.</li></ul></xdoc>",
        "allow_delete.title": "Delete occupants not included in the Input Occupant Table",
        "allow_insert.descr": "<xdoc><p>Specifies whether unmatched occupant records for the <span class=\"esri_uicontrol\">Input Occupant Table</span> parameter value will be added to the target occupant features layer.</p><ul><li>Checked—Unmatched occupant records will be added to the target occupant features layer. This is the default.</li><li>Unchecked—Unmatched occupant records will not be added to the target occupant features layer.</li></ul></xdoc>",
        "allow_insert.title": "Insert new occupants",
        "description": "Updates the Occupants feature class that conforms to the ArcGIS Indoors Information Model.",
        "home_office_identifier.descr": "A SQL query that defines the field and field value from the input occupant table that indicates an occupant is assigned to a home office.",
        "home_office_identifier.title": "Home Office Identifier",
        "in_occupant_table.descr": "<xdoc><p>The input table that contains information about building occupants.</p><p>The input table must be a geodatabase table, a sheet in a Microsoft Excel workbook (.xls or .xlsx file), a comma-delimited text file (.csv), or an OLE DB table.</p></xdoc>",
        "in_occupant_table.title": "Input Occupant Table",
        "in_unit_features.descr": "The input polygon features representing building spaces that may be occupied. The input must be a feature layer, feature class, or feature service that conforms to the Units feature class in the Indoors model. The centroid of each space will be used as the point location of the occupant or occupants.",
        "in_unit_features.title": "Input Unit Features",
        "occupant_attributes_mapping.descr": "<xdoc><p>The attribute fields in the <span class=\"esri_uicontrol\">Target Occupant Features</span> parameter value that will be populated with field values from the <span class=\"esri_uicontrol\">Input Occupant Table</span> parameter value. The fields must exist in the <span class=\"esri_uicontrol\">Target Occupant Features</span> parameter value before running the tool. It is recommended that you map fields from the <span class=\"esri_uicontrol\">Input Occupant Table</span> parameter value to fields from the <span class=\"esri_uicontrol\">Target Occupant Features</span> parameter value that have the same field type.</p></xdoc>",
        "occupant_attributes_mapping.title": "Occupant Attributes Mapping",
        "occupant_id_from_input_table.descr": "<xdoc><p>The field in the <span class=\"esri_uicontrol\">Input Occupant Table</span> parameter value that will be used as the primary key to associate occupants with the <span class=\"esri_uicontrol\">Target Occupant Features</span> parameter values. The field values must be unique.</p></xdoc>",
        "occupant_id_from_input_table.title": "Occupant Identifier (Input Occupant Table)",
        "occupant_id_from_target_occupant_features.descr": "<xdoc><p>The field in the <span class=\"esri_uicontrol\">Target Occupant Features</span> parameter value that will be used as the primary key to associate occupants with the <span class=\"esri_uicontrol\">Input Occupant Table</span> parameter values. The field values must be unique.</p></xdoc>",
        "occupant_id_from_target_occupant_features.title": "Occupant Identifier (Target Occupant Features)",
        "params.category1": "Advanced Options",
        "summary": "<xdoc><p>Updates the Occupants feature class that conforms to the ArcGIS Indoors Information Model.</p><p>This tool updates the Occupants feature class created using the Create Indoors Database tool. Updating occupant features may be necessary when new occupants need to be added, existing occupants need to be deleted, or existing occupant information needs to be modified based on changes to seating assignments or floor plans. The updated Occupants feature class can be used to support indoor analysis and functionality—such as searching, routing, and workspace reservations in Indoor Viewer and Indoors Mobile—and space planning in Indoor Space Planner.</p></xdoc>",
        "target_occupant_features.descr": "The target feature layer, feature class, or feature service to which occupant records will be added, updated, or deleted. The input must contain unique values that identify each occupant and must conform to the Occupants feature class in the Indoors model.",
        "target_occupant_features.title": "Target Occupant Features",
        "title": "Update Occupant Features",
        "unit_id_from_input_table.descr": "<xdoc><p>The field or fields in the <span class=\"esri_uicontrol\">Input Occupant Table</span> parameter value that will be used as the primary key to associate occupant space assignment with the <span class=\"esri_uicontrol\">Input Unit Features</span> parameter value. If a field value is empty, the occupant will be loaded as unassigned.</p><p>This parameter supports multiple fields from an input occupant table that stores more than one space assignment of an occupant. Only the fields provided will be used to update the Occupants feature class.</p><p>If no parameter value is provided, the occupant&apos;s seating assignments will not be updated in the Occupants feature class. Instead, the records in the Occupants feature class will be matched to records in the input occupant table, and attributes mapped in the <span class=\"esri_uicontrol\">Occupant Attributes Mapping</span> parameter will be updated.</p></xdoc>",
        "unit_id_from_input_table.title": "Unit Identifier (Input Occupant Table)",
        "unit_id_from_units_features.descr": "<xdoc><p>The field in the <span class=\"esri_uicontrol\">Input Unit Features</span> parameter value that stores the unique space identification information that will match the unit identifier from the <span class=\"esri_uicontrol\">Input Occupant Table</span> parameter value. The field values must be unique.</p></xdoc>",
        "unit_id_from_units_features.title": "Unit Identifier (Input Units Features)",
        "updated_occupant_features.title": "Updated Occupant Features"
    }
}
