{
    "map": {
        "description": "Removes a relate from a feature layer or a table view.",
        "in_layer_or_view.descr": "The layer or table view from which to remove the relate.",
        "in_layer_or_view.title": "Layer Name or Table View",
        "out_layer_or_view.title": "Layer With Relate Removed",
        "relate_name.descr": "The name of the relate to remove.",
        "relate_name.title": "Relate Name",
        "title": "Remove Relate"
    }
}
