{
    "set": [
        "batch processing",
        "image collection",
        "mosaic",
        "mosaic dataset",
        "raster analytic",
        "raster analytics",
        "raster function"
    ]
}
