{
    "map": {
        "approach_bearing.descr": "The absolute bearing that an approaching aircraft will travel along the surface. A value of 0 will align the surface to true north. The default is 0.",
        "approach_bearing.title": "Approach Bearing",
        "custom_json_file.descr": "The import configuration file, in JSON format, that creates the custom OIS.",
        "custom_json_file.title": "Custom JSON File",
        "derived_outfeatureclass.title": "Output OIS Features",
        "description": "Generates an obstruction identification surface (OIS) for helipads based on specifications from FAA Advisory Circular 150/5390-2C.",
        "helipad_elevation.descr": "<xdoc><p>The elevation of the highest point of the helipad. The value must be in the vertical coordinate system linear units of the target feature class. If no value is provided, the highest point of the <span class=\"esri_uicontrol\">Input FATO Features</span> parameter value will be used. The default is 0.</p></xdoc>",
        "helipad_elevation.title": "Helipad Elevation",
        "in_flightpath_features.descr": "The polyline flight path features that the curved surface will follow.",
        "in_flightpath_features.title": "Input Flight Path Features",
        "input_fato_features.descr": "The input Final Approach and Takeoff (FATO) features.",
        "input_fato_features.title": "Input FATO Features",
        "summary": "<xdoc><p>Generates an obstruction identification surface (OIS) for helipads based on specifications from FAA Advisory Circular 150/5390-2C.</p><p>This tool can be used to identify obstacles that may impact an aircraft&apos;s ability to take off from or land on a helipad. By creating multipatch or polygon features, you can visually identify obstructions in ArcGIS Pro.</p></xdoc>",
        "surface_classification.descr": "<xdoc><p>Specifies the classification type of the FATO surface.</p><ul><li><span title=\"NON_PRIOR_PERMISSION_REQUIRED_FACILITIES\">Non Prior Permission Required (PPR) Facilities</span>—These are publically available helipads for general use by pilots. This is the default.</li><li><span title=\"PRIOR_PERMISSION_REQUIRED_FACILITIES\">Prior Permission Required (PPR) Facilities</span>—These are heliports used exclusively by the owner and individuals authorized by the owner to use the facility.</li></ul></xdoc>",
        "surface_classification.domain.NON_PRIOR_PERMISSION_REQUIRED_FACILITIES": "Non Prior Permission Required (PPR) Facilities",
        "surface_classification.domain.PRIOR_PERMISSION_REQUIRED_FACILITIES": "Prior Permission Required (PPR) Facilities",
        "surface_classification.title": "Surface  Classification",
        "surface_shape.descr": "<xdoc><p>Specifies the shape of the take off or approach surface.</p><ul><li><span title=\"STRAIGHT_SURFACE\">Straight Surface</span>—The take off or approach surface is straight. This is the default.</li><li><span title=\"CURVED_SURFACE\">Curved Surface</span>—The take off or approach surface is curved.</li></ul></xdoc>",
        "surface_shape.domain.CURVED_SURFACE": "Curved Surface",
        "surface_shape.domain.STRAIGHT_SURFACE": "Straight Surface",
        "surface_shape.title": "Surface Shape",
        "target_ois_features.descr": "The target polygon or multipatch feature layer containing the OIS.",
        "target_ois_features.title": "Target OIS Features",
        "title": "FAA 2C"
    }
}
