{
    "map": {
        "center_point.descr": "<xdoc><p>The center coordinate (x,y) of the circle defining the area to be extracted.</p><p>The coordinates are specified in the same map units as the input raster.</p></xdoc>",
        "center_point.title": "Center point",
        "description": "Extracts the cells of a raster based on a circle by specifying the circle's center and radius.",
        "extraction_area.descr": "<xdoc><p>Specifies whether cells inside or outside the input circle will be selected and written to the output raster.</p><ul><li><span title=\"INSIDE\">Inside</span>—Cells inside the input circle will be selected and written to the output raster. All cells outside the circle will receive NoData values on the output raster.</li><li><span title=\"OUTSIDE\">Outside</span>—Cells outside the input circle will be selected and written to the output raster. All cells inside the circle will receive NoData values on the output raster.</li></ul></xdoc>",
        "extraction_area.domain.INSIDE": "Inside",
        "extraction_area.domain.OUTSIDE": "Outside",
        "extraction_area.title": "Extraction area",
        "in_raster.descr": "The input raster from which cells will be extracted.",
        "in_raster.title": "Input raster",
        "out_raster.descr": "The output raster containing the cell values extracted from the input raster.",
        "out_raster.title": "Output raster",
        "radius.descr": "<xdoc><p>The radius of the circle defining the area to be extracted.</p><p>The radius is specified in map units and is in the same units as the input raster.</p></xdoc>",
        "radius.title": "Radius",
        "title": "Extract by Circle"
    }
}
