{
    "map": {
        "description": "Calculates the curvature of a raster surface and, optionally, includes profile and plan curvature.",
        "in_raster.descr": "The input surface raster.",
        "in_raster.title": "Input raster",
        "out_curvature_raster.descr": "<xdoc><p>The output curvature raster.</p><p>It will be floating-point type.</p></xdoc>",
        "out_curvature_raster.title": "Output curvature raster",
        "out_plan_curve_raster.descr": "<xdoc><p>Output plan curve raster dataset.</p><p>This is the curvature of the surface perpendicular to the slope direction.</p><p>It will be floating-point type.</p></xdoc>",
        "out_plan_curve_raster.title": "Output plan curve raster",
        "out_profile_curve_raster.descr": "<xdoc><p>Output profile curve raster dataset.</p><p>This is the curvature of the surface in the direction of slope.</p><p>It will be floating-point type.</p></xdoc>",
        "out_profile_curve_raster.title": "Output profile curve raster",
        "summary": "<xdoc><p>Calculates the curvature of a raster surface and, optionally, includes profile and plan curvature.</p><p>The Surface Parameters tool provides a newer implementation and enhanced functionality.</p><p>Learn more about how Curvature works</p></xdoc>",
        "title": "Curvature",
        "z_factor.descr": "<xdoc><p>The number of ground x,y units in one surface z-unit.</p><p>The z-factor adjusts the units of measure for the z-units when they are different from the x,y units of the input surface. The z-values of the input surface are multiplied by the z-factor when calculating the final output surface.</p><p>If the x,y units and z-units are in the same units of measure, the z-factor is 1. This is the default.</p><p>If the x,y units and z-units are in different units of measure, the z-factor must be set to the appropriate factor or the results will be incorrect. For example, if the z-units are feet and the x,y units are meters, use a z-factor of 0.3048 to convert the z-units from feet to meters (1 foot = 0.3048 meter).</p></xdoc>",
        "z_factor.title": "Z factor"
    }
}
