/**
override some old properties of wj-tooltip class
 */
.wj-control {
  color: #ededed;
  fill: #ededed;
}
.wj-title {
  color: #ededed;
  fill: #ededed;
}
.wj-flexchart .wj-data-label,
.wj-flexchart .wj-label {
  fill: #ededed;
}

.wj-tooltip {
  background-color: rgba(97, 97, 97, 0.95);
  border: 0px;
  border-radius: 0;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: Verdana;
  padding: 6px;
  font-size: 10px;
  color: #ededed;
}

.wj-flexchart .wj-chart-linemarker {
  background: transparent;
}
.wj-chart-linemarker-content {
  background-color: rgba(97, 97, 97, 0.95);
  border-radius: 0;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: Verdana;
  padding: 6px;
  font-size: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
