{
    "map": {
        "description": "Enables a network topology for a utility network.",
        "in_utility_network.descr": "The utility network for which the network topology will be enabled.",
        "in_utility_network.title": "Input Utility Network",
        "max_number_of_errors.descr": "<xdoc><p>The maximum number of errors that can be generated before the process of enabling the network topology will stop. Errors will be recorded in the dirty areas sublayer. When no value is provided for this parameter, an infinite number of errors can be discovered. The default value is 10000.</p><note type=\"caution\"/><p group=\"note\">Increasing the maximum number of errors value will increase the length of time it takes to enable the topology. Setting a value higher than the default value of 10000 is not recommended.</p></xdoc>",
        "max_number_of_errors.title": "Maximum number of errors",
        "only_generate_errors.descr": "<xdoc><p>Specifies whether the topology will be enabled or only network errors will be generated.</p><ul><li>Checked—The utility network will only be evaluated for network errors. The topology will not be enabled. If you are working with an enterprise geodatabase, the data cannot be registered as versioned. This allows you to inspect and fix errors in the network until you enable the topology.</li><li>Unchecked—The topology will be enabled and any existing errors will generate dirty areas with errors. This is the default.</li></ul></xdoc>",
        "only_generate_errors.title": "Only generate errors",
        "out_utility_network.title": "Updated Utility Network",
        "params.category1": "Advanced Options",
        "summary": "<xdoc><p>Enables a network topology for a utility network.</p><p>This tool evaluates and establishes connectivity between features to build the network topology for a utility network. A network topology is necessary for analytic operations such as tracing and to use network diagrams. A network topology can also be enabled to find errors.</p><note type=\"note\"/><p group=\"note\">Starting with ArcGIS Enterprise 10.9.1, the enable network topology operation will process asynchronously using the UtilityNetworkTools geoprocessing service when working with a utility network in an enterprise geodatabase. The UtilityNetworkTools service is preconfigured in the System folder for feature services that include a utility network. It has a longer time-out setting and is reserved for utility network geoprocessing tasks.</p></xdoc>",
        "title": "Enable Network Topology"
    }
}
