{
    "map": {
        "description": "Performs a conditional if/else evaluation on each of the input cells of an input raster.",
        "in_conditional_raster.descr": "<xdoc><p>The input raster representing the true or false result of the desired condition.</p><p>It can be of integer or floating point type.</p></xdoc>",
        "in_conditional_raster.title": "Input conditional raster",
        "in_false_raster_or_constant.descr": "<xdoc><p>The input whose values will be used as the output cell values if the condition is false.</p><p>It can be an integer or a floating-point raster, or a constant value.</p></xdoc>",
        "in_false_raster_or_constant.title": "Input false raster or constant value",
        "in_true_raster_or_constant.descr": "<xdoc><p>The input whose values will be used as the output cell values if the condition is true.</p><p>It can be an integer or a floating-point raster, or a constant value.</p></xdoc>",
        "in_true_raster_or_constant.title": "Input true raster or constant value",
        "out_raster.descr": "The output raster.",
        "out_raster.title": "Output raster",
        "title": "Con",
        "where_clause.descr": "<xdoc><p>A logical expression that determines which of the input cells are to be true or false.</p><p>The <span class=\"esri_uicontrol\">Where clause</span> follows the general form of an SQL expression. It can be entered directly, for example, VALUE &gt; 100, if you click the <span class=\"esri_uicontrol\">Edit SQL</span> mode button . If in the <span class=\"esri_uicontrol\">Edit Clause Mode</span>, you can begin constructing the expression by clicking on the <span class=\"esri_uicontrol\">Add Clause Mode</span> button.</p></xdoc>",
        "where_clause.title": "Expression"
    }
}
