{
    "set": [
        "case",
        "condition",
        "else",
        "evaluate",
        "expression",
        "false",
        "if",
        "logical",
        "query",
        "test",
        "true"
    ]
}
