{
    "set": [
        "bim",
        "building",
        "building information model",
        "cad",
        "floor plan",
        "floorplan",
        "ifc",
        "import",
        "indoor",
        "indoor dataset",
        "indoors",
        "indoors database",
        "indoors model",
        "industry foundation classes",
        "load",
        "revit"
    ]
}
