{
    "set": [
        "copy",
        "create",
        "expression",
        "memory",
        "query",
        "select",
        "sql",
        "subset",
        "temporary",
        "where clause"
    ]
}
