{
    "set": [
        "add",
        "bundle",
        "consolidate",
        "explode",
        "package",
        "pbf",
        "unpack",
        "unzip",
        "vtpk",
        "cloud",
        "eslpk",
        "i3srest",
        "slpk"
    ]
}
