{
    "map": {
        "description": "Disables COGO  on a line feature class and removes COGO fields and COGO-enabled labeling and symbology. COGO fields can be deleted.",
        "in_line_features.descr": "The line feature class that will have COGO disabled.",
        "in_line_features.title": "Input Line Features",
        "summary": "Disables COGO on a line feature class and removes COGO fields and COGO-enabled labeling and symbology. COGO fields can be deleted.",
        "title": "Disable COGO",
        "updated_line_features.title": "Updated Input Line features"
    }
}
