{
    "map": {
        "description": "Sets the direction of line segments to match the slope direction of underlying elevation features. The direction of a line is used by some of the generalization and cartography tools.",
        "digital_elevation_model.descr": "<xdoc><p>The input elevation surface that will be used to evaluate the <span class=\"esri_uicontrol\">Input Line Features</span> parameter value.</p></xdoc>",
        "digital_elevation_model.title": "Digital Elevation Model",
        "in_line_features.descr": "The line features that will be modified.",
        "in_line_features.title": "Input Line Features",
        "line_direction.descr": "<xdoc><p>Specifies how the direction of the line segments will be set.</p><ul><li><span title=\"DOWNHILL\">Downhill</span>—The line segment direction will be downhill.</li><li><span title=\"DOWNHILL_FLOW\">Downhill flow</span>—The line segment direction will use a flow network created by the input line features and adopt the direction from high values to low values. This is the default.</li><li><span title=\"DOWNHILL_SPLIT_FLOW\">Downhill split flow</span>—The same as Downhill Flow, except that the line features may split at hill tops or junctions to ensure the direction of flow with regard to vertical tolerance. This option may create new features.</li></ul></xdoc>",
        "line_direction.domain.DOWNHILL": "Downhill",
        "line_direction.domain.DOWNHILL_FLOW": "Downhill flow",
        "line_direction.domain.DOWNHILL_SPLIT_FLOW": "Downhill split flow",
        "line_direction.title": "Line Direction",
        "reverse_direction.descr": "<xdoc><p>Specifies whether the line features will be reversed along the flow direction.</p><ul><li><span title=\"KEEP_DIRECTION\">Keep direction</span>—The line direction will be maintained. This is the default.</li><li><span title=\"REVERSE_DIRECTION\">Reverse direction</span>—The line direction will be reversed.</li></ul></xdoc>",
        "reverse_direction.title": "Reverse Direction",
        "title": "Set Line Direction",
        "updated_line_features.title": "Updated Line Features",
        "vertical_tolerance.descr": "The minimum difference in elevation between raster values before they are considered equal. The default is 0 meters.",
        "vertical_tolerance.title": "Vertical Tolerance"
    }
}
