{
    "set": [
        "building",
        "features",
        "floor plan",
        "floorplan",
        "import",
        "indoor",
        "indoor dataset",
        "indoors",
        "indoors database",
        "indoors model",
        "load"
    ]
}
