{
    "set": [
        "calibration points",
        "create calibration points",
        "generate calibration points",
        "integrity",
        "pipeline",
        "update calibration points"
    ]
}
