{
    "map": {
        "calibration_direction.descr": "<xdoc><p>Specifies the direction of increasing calibration on a route when creating calibration points.</p><ul><li><span title=\"DIGITIZED_DIRECTION\">Digitized direction</span>—The direction of digitization of the individual polyline feature determines the direction of calibration for the route. This is the default.</li><li><span title=\"MEASURE_DIRECTION\">Measure direction</span>—The direction of increasing m-values of the individual polyline feature determines the direction of calibration for the route.<p>If the individual polyline feature does not include m-values, the digitized direction will be used.</p></li></ul></xdoc>",
        "calibration_direction.domain.DIGITIZED_DIRECTION": "Digitized direction",
        "calibration_direction.domain.MEASURE_DIRECTION": "Measure direction",
        "calibration_direction.title": "Calibration Direction",
        "calibration_method.descr": "<xdoc><p>Specifies the method that will be used to determine the measures on a route when creating calibration points.</p><ul><li><span title=\"GEOMETRY_LENGTH\">Geometry length</span>—The geometrical length of the input route feature will be used as the calibration method. This is the default.</li><li><span title=\"M_ON_ROUTE\">M on route</span>—The measure values on the input route feature will be used as the calibration method.</li><li><span title=\"ATTRIBUTE_FIELDS\">Attribute fields</span>—The measure values stored in attribute fields of the input route feature will be used as the calibration method.</li></ul></xdoc>",
        "calibration_method.domain.ATTRIBUTE_FIELDS": "Attribute fields",
        "calibration_method.domain.GEOMETRY_LENGTH": "Geometry length",
        "calibration_method.domain.M_ON_ROUTE": "M on route",
        "calibration_method.title": "Calibration Method",
        "description": "Generates calibration points for any route shape provided, including  complex shapes such as self-closing, self-intersecting, and branched routes.",
        "from_date_field.descr": "The field containing the from date values of a route.",
        "from_date_field.title": "From Date Field",
        "from_measure_field.descr": "<xdoc><p>The field containing the from measure for the selected route.</p><p>This parameter is active when the <span class=\"esri_uicontrol\">Calibration Method</span> parameter is set to <span class=\"esri_uicontrol\">Attribute fields</span>.</p></xdoc>",
        "from_measure_field.title": "From Measure Field",
        "in_calibration_point_feature_class.descr": "The existing calibration point feature class to which new features will be added.",
        "in_calibration_point_feature_class.title": "Calibration Point Feature Class",
        "in_polyline_features.descr": "The features that will be used as the source to calculate the measure values for calibration points.",
        "in_polyline_features.title": "Input Polyline Features",
        "lrs_network.descr": "The LRS Network for which the measure values will be generated in the calibration points feature class.",
        "lrs_network.title": "LRS Network",
        "out_calibration_point_feature_class.title": "Updated Calibration Point Feature Class",
        "out_details_file.title": "Output Details File",
        "route_id_field.descr": "<xdoc><p>The field containing values that uniquely identify each route. The field type must match the <span class=\"esri_fieldname\">Route ID</span> field in the calibration point feature class.</p></xdoc>",
        "route_id_field.title": "Route ID Field",
        "summary": "Generates calibration points for any route shape provided, including complex shapes such as self-closing, self-intersecting, and branched routes.",
        "title": "Generate Calibration Points",
        "to_date_field.descr": "The field containing the to date values of a route.",
        "to_date_field.title": "To Date Field",
        "to_measure_field.descr": "<xdoc><p>The field containing the to measure for the selected route.</p><p>This parameter is active when the <span class=\"esri_uicontrol\">Calibration Method</span> parameter is set to <span class=\"esri_uicontrol\">Attribute fields</span>.</p></xdoc>",
        "to_measure_field.title": "To Measure Field"
    }
}
