{
    "set": [
        "bounding",
        "box",
        "cover",
        "extent",
        "geometry",
        "index",
        "maximum",
        "minimum",
        "rectangle",
        "transform",
        "vector"
    ]
}
