{
    "set": [
        "c band",
        "c-band",
        "capella",
        "dem",
        "gec",
        "geo",
        "grd",
        "hh",
        "hv",
        "iceye",
        "radarsat 2",
        "radarsat constellation mission",
        "radarsat-2",
        "rcm",
        "rs2",
        "rtc",
        "rtf",
        "rtf g0",
        "rtf s0",
        "rtfg0",
        "rtfs0",
        "s1",
        "sar",
        "scf",
        "scn",
        "scs",
        "scw",
        "sgf",
        "sgx",
        "sicd",
        "slc",
        "sentinel 1",
        "sentinel-1",
        "vh",
        "vv",
        "x band",
        "x-band",
        "backscatter",
        "distortion",
        "dual pol",
        "foreshortening",
        "gamma",
        "ground range detected",
        "layover",
        "normalization",
        "polarization",
        "quad pol",
        "radar",
        "radar corrections",
        "radiometric terrain correction",
        "radiometric terrain corrections",
        "remove distortion",
        "shadow",
        "sigma",
        "single look complex",
        "terrain flattened",
        "topography"
    ]
}
