{
    "set": [
        "average",
        "different",
        "dissimilar",
        "largest",
        "least",
        "least often",
        "majority",
        "max",
        "maximum",
        "mean",
        "med",
        "median",
        "min",
        "minimum",
        "minority",
        "most often",
        "moving window",
        "neighborhood",
        "overlapping",
        "range",
        "roving window",
        "smallest",
        "standard deviation",
        "std",
        "stdev",
        "sum",
        "texture",
        "total",
        "unique",
        "variety"
    ]
}
