{
    "set": [
        "cluster",
        "clustering",
        "aggregate",
        "aggregation",
        "average",
        "genetic",
        "growth",
        "machine learning",
        "mutation",
        "optimization",
        "optimize",
        "proportion",
        "region",
        "regional analysis",
        "zoning"
    ]
}
