{
    "set": [
        "climate",
        "climatology",
        "dimension",
        "meteorology",
        "oceanography",
        "scientific",
        "station data",
        "unstructured grids",
        "weather"
    ]
}
