{
    "set": [
        "adjacent page",
        "adjoin",
        "adjoining page",
        "atlas",
        "coordinate system",
        "graticule",
        "grid",
        "index",
        "index layer",
        "layout",
        "map book",
        "map series",
        "mapbook",
        "multi-page layout",
        "multiple page",
        "neighbor labels",
        "next page",
        "pages",
        "series"
    ]
}
