{
    "set": [
        "alike",
        "anova",
        "attribute similarity",
        "big data",
        "candidate",
        "comparable",
        "cosine similarity",
        "different",
        "dissimilar",
        "find similar",
        "least similar",
        "match",
        "matching",
        "parallel",
        "rank",
        "reference",
        "same",
        "search"
    ]
}
