{
    "set": [
        "atmosphere",
        "diffuse",
        "direct",
        "duration",
        "earth",
        "energy",
        "exposure",
        "global",
        "hemisphere",
        "horizon",
        "insolation",
        "irradiance",
        "renewable energy",
        "solar analyst",
        "sun",
        "surface",
        "surface model",
        "time configuration",
        "total"
    ]
}
