{
    "set": [
        "cartography",
        "defense",
        "defense mapping",
        "graticules",
        "grids",
        "grids and graticules",
        "layout",
        "topo",
        "topographic",
        "topographic production"
    ]
}
