{
    "set": [
        "acceleration",
        "add",
        "bearing",
        "big data",
        "duration",
        "enrich",
        "geoevent",
        "heading",
        "idle",
        "join",
        "movement",
        "moving data",
        "slope",
        "speed",
        "time span",
        "tolerance",
        "tracks",
        "velocity",
        "window",
        "data"
    ]
}
