{
    "map": {
        "descr": "The Crime Analysis and Safety toolbox contains tools that support analytical functions to manage data, select crime incidents, conduct tactical and strategic analysis, and investigate crime patterns.",
        "title": "Crime Analysis and Safety Tools",
        "toolset1.name": "Cell Phone Analysis"
    }
}
