{
    "map": {
        "bin_resolution.descr": "The resolution of the H3 bins. This is a value between 0 and 15 in which 0 will produce the largest H3 bins and 15 will produce the smallest H3 bins.",
        "bin_resolution.title": "Bin Resolution",
        "bin_size.descr": "<xdoc><p>The distance interval that represents the bin size and units into which the <span class=\"esri_uicontrol\">Point Layer</span> value will be aggregated. The distance interval must be a linear unit.</p></xdoc>",
        "bin_size.title": "Bin Size",
        "bin_type.descr": "<xdoc><p>Specifies the bin shape that will be generated to hold the aggregated points.</p><ul><li><span title=\"SQUARE\">Square</span>—Square bins will be generated in which the <span class=\"esri_uicontrol\">Bin Size</span> value represents the height of a square. This is the default.</li><li><span title=\"HEXAGON\">Hexagon</span>—Hexagonal bins will be generated in which the <span class=\"esri_uicontrol\">Bin Size</span> value represents the height between two parallel sides.</li><li><span title=\"H3\">H3</span>—H3 bins will be generated. The bin size will be determined by the <span class=\"esri_uicontrol\">Bin Resolution</span> parameter value.</li></ul></xdoc>",
        "bin_type.domain.H3": "H3",
        "bin_type.domain.HEXAGON": "Hexagon",
        "bin_type.domain.SQUARE": "Square",
        "bin_type.title": "Bin Type",
        "description": "Aggregates points into polygon features or bins. A polygon is returned with a count of points as well as optional statistics at all locations where points exist.",
        "out_feature_class.descr": "A new feature class with the aggregated polygon results.",
        "out_feature_class.title": "Output Feature Class",
        "point_layer.descr": "The point features that will be aggregated into polygons or bins.",
        "point_layer.title": "Point Layer",
        "polygon_layer.descr": "The polygon features into which the input points will be aggregated.",
        "polygon_layer.title": "Polygon Layer",
        "polygon_or_bin.descr": "<xdoc><p>Specifies how the <span class=\"esri_uicontrol\">Point Layer</span> parameter value will be aggregated.</p><ul><li><span title=\"POLYGON\">Polygon</span>—The point layer will be aggregated into a polygon dataset.</li><li><span title=\"BIN\">Bin</span>—The point layer will be aggregated into square or hexagonal bins that are generated when the tool is run.</li></ul></xdoc>",
        "polygon_or_bin.domain.BIN": "Bin",
        "polygon_or_bin.domain.POLYGON": "Polygon",
        "polygon_or_bin.title": "Polygon or Bin",
        "summary_fields.descr": "The statistics that will be calculated on specified fields.",
        "summary_fields.domain.item2.ANY": "Any",
        "summary_fields.domain.item2.COUNT": "Count",
        "summary_fields.domain.item2.MAX": "Maximum",
        "summary_fields.domain.item2.MEAN": "Mean",
        "summary_fields.domain.item2.MIN": "Minimum",
        "summary_fields.domain.item2.RANGE": "Range",
        "summary_fields.domain.item2.STDDEV": "Standard deviation",
        "summary_fields.domain.item2.SUM": "Sum",
        "summary_fields.domain.item2.VAR": "Variance",
        "summary_fields.dt.title1": "Field",
        "summary_fields.dt.title2": "Statistics",
        "summary_fields.title": "Summary Fields",
        "time_step_interval.descr": "<xdoc><p>A value that specifies the duration of the time step. This parameter is only available if the input points are time enabled and represent an instant in time.</p><p>Time stepping can only be applied if time is enabled on the input.</p></xdoc>",
        "time_step_interval.title": "Time Step Interval",
        "time_step_reference.descr": "A date that specifies the reference time with which to align the time steps. The default is January 1, 1970, at 12:00 a.m. This parameter is only available if the input points are time enabled and represent an instant in time.",
        "time_step_reference.title": "Time Step Reference",
        "time_step_repeat.descr": "A value that specifies how often the time-step interval occurs. This parameter is only available if the input points are time enabled and represent an instant in time.",
        "time_step_repeat.title": "Time Step Repeat",
        "title": "Aggregate Points"
    }
}
