{
    "map": {
        "consider_z.descr": "<xdoc><p>Specifies whether z-values will be used when generating intersections.</p><ul><li>Checked—Z-values will be used during generation of intersections.</li><li>Unchecked—Z-values will not be used during generation of intersections. This is the default.</li></ul></xdoc>",
        "consider_z.title": "Consider z-values when generating intersections",
        "description": "Registers an existing intersection feature class as an intersection.",
        "feature_class_name_field.descr": "<xdoc><p>The field in the <span class=\"esri_uicontrol\">Intersection Feature Class</span> parameter value that contains the name of the feature class that participated in the intersection.</p></xdoc>",
        "feature_class_name_field.title": "Feature Class Name Field",
        "feature_id_field.descr": "<xdoc><p>The field in the <span class=\"esri_uicontrol\">Intersection Feature Class</span> parameter value that contains the ID for the intersecting feature.</p></xdoc>",
        "feature_id_field.title": "Feature ID Field",
        "from_date_field.descr": "<xdoc><p>The from date field in the <span class=\"esri_uicontrol\">Intersection Feature Class</span> parameter value.</p></xdoc>",
        "from_date_field.title": "From Date Field",
        "in_feature_class.descr": "The input point feature class to be registered.",
        "in_feature_class.title": "Intersection Feature Class",
        "intersecting_layers.descr": "<xdoc><p>The feature class that intersects the LRS Network and contains the following information:</p><ul><li>Intersection Layer—The feature class that intersects the LRS Network.</li><li>ID Field—The field in the intersecting layer used to uniquely identify the feature that intersects the network.</li><li>Description Field—The field that provides the description, such as town or county name, of the intersecting feature.</li><li>Name Separator—The name separator for the intersection, such as AND, INTERSECT, +, or |.</li></ul></xdoc>",
        "intersecting_layers.dt.title1": "Intersection Layer",
        "intersecting_layers.dt.title2": "ID Field",
        "intersecting_layers.dt.title3": "Description Field",
        "intersecting_layers.dt.title4": "Name Separator",
        "intersecting_layers.title": "Intersecting Layers",
        "intersection_id_field.descr": "<xdoc><p>The ID field in the <span class=\"esri_uicontrol\">Intersection Feature Class</span> parameter value. The field must have a unique ID for each intersection for a time slice.</p></xdoc>",
        "intersection_id_field.title": "Intersection ID Field",
        "intersection_name_field.descr": "<xdoc><p>The field in the <span class=\"esri_uicontrol\">Intersection Feature Class</span> parameter value that is a concatenated field showing the descriptors for the route and the intersecting feature.</p></xdoc>",
        "intersection_name_field.title": "Intersection Name Field",
        "measure_field.descr": "The measure on the base route at the point of intersection.",
        "measure_field.title": "Measure Field",
        "network_description_field.descr": "The field in the network layer that will be used to name the intersections with other intersecting layers.",
        "network_description_field.title": "Network Description Field",
        "out_feature_class.title": "Output Details File",
        "parent_network.descr": "The network to which the intersection will be registered.",
        "parent_network.title": "Parent LRS Network",
        "route_id_field.descr": "<xdoc><p>The field in the <span class=\"esri_uicontrol\">Intersection Feature Class</span> parameter value that contains the route ID for the LRS Network.</p></xdoc>",
        "route_id_field.title": "Route ID Field",
        "title": "Create LRS Intersection From Existing Dataset",
        "to_date_field.descr": "<xdoc><p>The to date field in the <span class=\"esri_uicontrol\">Intersection Feature Class</span> parameter value.</p></xdoc>",
        "to_date_field.title": "To Date Field",
        "z_tolerance.descr": "The z-tolerance used to generate intersections.",
        "z_tolerance.title": "Z Tolerance"
    }
}
