{
    "map": {
        "append_active_query.descr": "<xdoc><p>Specifies whether the generated definition query will be appended to the active query. This parameter is available when the layer or table has an active definition query and the <span class=\"esri_uicontrol\">Generation Method</span> parameter is set to <span class=\"esri_uicontrol\">Use field values</span>.<ul><li>Checked—The generated definition query will be appended to the active query.</li><li>Unchecked—The generated definition query will not be appended to the active query. This is the default.</li></ul></p></xdoc>",
        "append_active_query.title": "Append The Active Query",
        "description": "Creates a definition query (in SQL format) from the selected features or rows of the layer or table.",
        "field.descr": "<xdoc><p>The field in the table or table view that will be used to generate values for the query. This parameter is required when the <span class=\"esri_uicontrol\">Generation Method</span> parameter is set to <span class=\"esri_uicontrol\">Use field values</span>.</p></xdoc>",
        "field.title": "Field",
        "in_table.descr": "The layer or table view from which the definition query will be generated.",
        "in_table.title": "Input Table",
        "invert_where_clause.descr": "<xdoc><p>Specifies whether the generated definition query (where clause) will be inverted and include all unselected values or include all selected values of the input table.<ul><li>Checked—The where clause will be inverted.</li><li>Unchecked—The where clause will not be inverted. This is the default.</li></ul></p></xdoc>",
        "invert_where_clause.title": "Invert Where Clause",
        "method.descr": "<xdoc><p>Specifies the method that will be used to generate the definition query.</p><ul><li><span title=\"MATCH_SELECTION\">Match selection</span>—The input table&apos;s ObjectID field (or GlobalID field if present) will be used to generate the query with values present in the selection. This is the default.</li><li><span title=\"USE_FIELD_VALUES\">Use field values</span>—The <span class=\"esri_uicontrol\">Field</span> parameter value will be used to generate the query with values present in the selection.</li></ul></xdoc>",
        "method.domain.MATCH_SELECTION": "Match selection",
        "method.domain.USE_FIELD_VALUES": "Use field values",
        "method.title": "Generation Method",
        "out_table.title": "Updated Table",
        "overwrite_where_clause.descr": "<xdoc><p>Specifies whether the definition query (where clause) will be displayed and can be modified using the <span class=\"esri_uicontrol\">Where Clause</span> parameter before it is generated.<ul><li>Checked—The where clause will be displayed and can be modified before it is generated.</li><li>Unchecked—The where clause cannot be modified. This is the default.</li></ul></p></xdoc>",
        "overwrite_where_clause.title": "Overwrite Where Clause",
        "query_name.descr": "The unique name of the query that will be generated.",
        "query_name.title": "Query Name",
        "title": "Generate Definition Query From Selection",
        "where_clause.descr": "The generated definition query SQL expression from the other parameter values. For more information about SQL syntax, see SQL reference for query expressions used in ArcGIS.",
        "where_clause.title": "Where Clause"
    }
}
