{
    "set": [
        "aggregate",
        "classify",
        "cluster",
        "clustering",
        "compact",
        "data space",
        "dbscan",
        "divide",
        "group",
        "grouping",
        "grouping analysis",
        "hdbscan",
        "like",
        "machine learning",
        "optics",
        "partition",
        "pattern",
        "point pattern",
        "unsupervised machine learning"
    ]
}
