{
    "map": {
        "copy_arcsde_locator.descr": "This parameter has no effect in ArcGIS Pro. It remains only to support backward compatibility.",
        "copy_arcsde_locator.title": "Composite locator only: copy participating locators in enterprise database instead of referencing them",
        "description": "Consolidate a locator or composite locator  by copying all locators into a single folder.",
        "in_locator.descr": "The input locator or composite locator that will be consolidated.",
        "in_locator.title": "Input Locator",
        "output_folder.descr": "<xdoc><p>The output folder that will contain the consolidated locator or composite locator with its participating locators.</p><p>If the specified folder does not exist, a new folder will be created.</p></xdoc>",
        "output_folder.title": "Output Folder",
        "summary": "Consolidate a locator or composite locator by copying all locators into a single folder.",
        "title": "Consolidate Locator"
    }
}
