{
    "map": {
        "description": "Registers feature classes, tables, views, and raster layers with the geodatabase. Registering is used for data created in the database with third-party tools using SQL or in ArcGIS Pro with tools that do not register with the geodatabase (Create Unregistered Feature Class, Create Unregistered Table, and  Create Database View  tools).",
        "in_dataset.descr": "The feature class, table, view, or raster created using third-party tools or SQL, or the view created using the Create Database View tool that will be registered with the geodatabase. The dataset must exist in the same database as the geodatabase. The workspaces supported include file, mobile, and enterprise geodatabases.",
        "in_dataset.title": "Input Datasets",
        "in_extent.descr": "<xdoc><p>If the <span class=\"esri_uicontrol\">Shape Field</span> parameter value is provided, specify the allowable coordinate range for x,y coordinates. If the dataset being registered contains existing features, the extent of the existing features will be used.</p></xdoc>",
        "in_extent.title": "Specify Extent",
        "in_geometry_type.descr": "<xdoc><p>Specifies the geometry type. If the <span class=\"esri_uicontrol\">Shape Field</span> parameter value is provided, you must specify a geometry type. Supported geometry types are point, multipoint, polygon, polyline, and multipatch. If the dataset being registered contains existing features, the geometry type specified must match the entity type of these features.</p></xdoc>",
        "in_geometry_type.domain.MULTIPATCH": "Multipatch",
        "in_geometry_type.domain.MULTIPOINT": "Multipoint",
        "in_geometry_type.domain.POINT": "Point",
        "in_geometry_type.domain.POLYGON": "Polygon",
        "in_geometry_type.domain.POLYLINE": "Polyline",
        "in_geometry_type.title": "Geometry Type",
        "in_object_id_field.descr": "<xdoc><p>The field that will be used as the <span class=\"esri_fieldname\">ObjectID</span> field. When using an existing field from the input datasets, an integer data type is required. If an existing field is not used, an <span class=\"esri_fieldname\">ObjectID</span> field will be created and populated.<note type=\"note\"/><p group=\"note\">When registering a view, an existing integer field is required.</p></p></xdoc>",
        "in_object_id_field.title": "Object ID Field",
        "in_shape_field.descr": "The field that identifies the shape of the features. If the input dataset contains a spatial data type column, include this field during the registration process.",
        "in_shape_field.title": "Shape Field",
        "in_spatial_reference.descr": "<xdoc><p>If the <span class=\"esri_uicontrol\">Shape Field</span> parameter value is provided and the table is empty, specify the coordinate system to be used for features. If the dataset being registered contains existing features, the coordinate system specified must match the coordinate system of the existing features.</p></xdoc>",
        "in_spatial_reference.title": "Coordinate System",
        "params.category1": "Extent",
        "reg_dataset.title": "Registered Dataset",
        "summary": "<xdoc><p>Registers feature classes, tables, views, and raster layers with the geodatabase. Registering is used for data created in the database with third-party tools using SQL or in ArcGIS Pro with tools that do not register with the geodatabase (Create Unregistered Feature Class, Create Unregistered Table, and Create Database View tools).</p><p>Only limited functionality is available from ArcGIS clients and services for data is that is not registered. Registration stores information about the items—such as table and column names, spatial extent, and geometry type—in the geodatabase&apos;s system tables. This allows the registered items to participate in geodatabase functionality.</p></xdoc>",
        "title": "Register With Geodatabase"
    }
}
