{
    "map": {
        "description": "Converts a raster dataset to point features.",
        "in_raster.descr": "<xdoc><p>The input raster dataset.</p><p>The raster can be integer or floating-point type.</p></xdoc>",
        "in_raster.title": "Input raster",
        "out_point_features.descr": "The output feature class that will contain the converted points.",
        "out_point_features.title": "Output point features",
        "raster_field.descr": "<xdoc><p>The field to assign values from the cells in the input raster to the points in the output dataset.</p><p>It can be an integer, floating point, or string field.</p></xdoc>",
        "raster_field.title": "Field",
        "title": "Raster to Point"
    }
}
