{
    "set": [
        "connected",
        "downstream",
        "loops",
        "network",
        "subnetwork",
        "trace",
        "traverse",
        "upstream",
        "utility network"
    ]
}
