{
    "map": {
        "config_keyword.descr": "<xdoc><p>Specifies the default storage parameters (configurations) for geodatabases in a relational database management system (RDBMS). This setting is applicable only when using enterprise geodatabase tables.</p><p>Configuration keywords are set by the database administrator.</p></xdoc>",
        "config_keyword.title": "Configuration Keyword",
        "description": "Creates an empty feature class in an enterprise database or enterprise geodatabase. The feature class is not registered with the geodatabase.",
        "geometry_type.descr": "<xdoc><p>Specifies the geometry type of the feature class. This parameter is only relevant for those geometry types that store dimensionality metadata, such as ST_Geometry in PostgreSQL, PostGIS Geometry, and Oracle SDO_Geometry.</p><ul><li><span title=\"POINT\">Point</span>—The geometry type will be point.</li><li><span title=\"MULTIPOINT\">Multipoint</span>—The geometry type will be multipoint.</li><li><span title=\"POLYLINE\">Polyline</span>—The geometry type will be polyline.</li><li><span title=\"POLYGON\">Polygon</span>—The geometry type will be polygon. This is the default.</li></ul></xdoc>",
        "geometry_type.domain.MULTIPOINT": "Multipoint",
        "geometry_type.domain.POINT": "Point",
        "geometry_type.domain.POLYGON": "Polygon",
        "geometry_type.domain.POLYLINE": "Polyline",
        "geometry_type.title": "Geometry Type",
        "has_m.descr": "<xdoc><p>Specifies whether the feature class will have linear measurement values (m-values).</p><ul><li><span title=\"DISABLED\">No</span>—The output feature class will not have m-values. This is the default.</li><li><span title=\"ENABLED\">Yes</span>—The output feature class will have m-values.</li><li><span title=\"SAME_AS_TEMPLATE\">Same as the template feature class</span>—The output feature class will have m-values if the dataset specified in the <span class=\"esri_uicontrol\">Template Feature Class</span> parameter (template parameter in Python) has m-values.</li></ul></xdoc>",
        "has_m.domain.DISABLED": "No",
        "has_m.domain.ENABLED": "Yes",
        "has_m.domain.SAME_AS_TEMPLATE": "Same as the template feature class",
        "has_m.title": "Has M",
        "has_z.descr": "<xdoc><p>Specifies whether the feature class will have elevation values (z-values).</p><ul><li><span title=\"DISABLED\">No</span>—The output feature class will not have z-values. This is the default.</li><li><span title=\"ENABLED\">Yes</span>—The output feature class will have z-values.</li><li><span title=\"SAME_AS_TEMPLATE\">Same as the template feature class</span>—The output feature class will have z-values if the dataset specified in the <span class=\"esri_uicontrol\">Template Feature Class</span> parameter (template parameter in Python) has z-values.</li></ul></xdoc>",
        "has_z.domain.DISABLED": "No",
        "has_z.domain.ENABLED": "Yes",
        "has_z.domain.SAME_AS_TEMPLATE": "Same as the template feature class",
        "has_z.title": "Has Z",
        "out_feature_class.title": "Output Feature Class",
        "out_name.descr": "The name of the feature class that will be created.",
        "out_name.title": "Feature Class Name",
        "out_path.descr": "The enterprise database or enterprise geodatabase in which the feature class will be created.",
        "out_path.title": "Feature Class Location",
        "spatial_reference.descr": "<xdoc><p>The spatial reference of the output feature dataset. On the <span class=\"esri_uicontrol\">Spatial Reference Properties</span> dialog box, you can select, import, or create a new coordinate system. To set aspects of the spatial reference, such as the x,y-, z-, or m-domain, resolution, or tolerance, use the <span class=\"esri_uicontrol\">Environments</span> dialog box.</p></xdoc>",
        "spatial_reference.title": "Spatial Reference",
        "template.descr": "An existing feature class or list of feature classes with fields and attribute schema that will be used to define the fields in the output feature class.",
        "template.title": "Template Feature Classes",
        "title": "Create Unregistered Feature Class"
    }
}
