{
    "map": {
        "description": "Creates a copy of the  Data Loading Workspace and updates all the mapping and domain workbooks.",
        "in_workbook.descr": "The path to Data Reference Workbook defining the data source, target, and mapping workbook paths.",
        "in_workbook.title": "Data Reference Workbook",
        "out_loading_workspace.title": "Data Loading Workspace",
        "summary": "Creates a copy of the Data Loading Workspace and updates all the mapping and domain workbooks.",
        "title": "Update Data Loading Workspace Schema"
    }
}
