{
    "set": [
        "arrange",
        "ascend",
        "attribute",
        "dataset",
        "descend",
        "feature",
        "optimize",
        "order",
        "organize",
        "peano",
        "piano",
        "reorder",
        "space filling"
    ]
}
