{
    "map": {
        "description": "Determines the distances from input point features to all points in the near features within a specified search radius.",
        "in_features.descr": "The point features from which distances to the near features will be calculated.",
        "in_features.title": "Input Features",
        "near_features.descr": "The points to which distances from the input features will be calculated. Distances between points within the same feature class or layer can be determined by specifying the same feature class or layer for the input and near features.",
        "near_features.title": "Near Features",
        "out_table.descr": "The table containing the list of input features and information about all near features within the search radius. If a search radius is not specified, distances from all input features to all near features are calculated.",
        "out_table.title": "Output Table",
        "search_radius.descr": "Specifies the radius used to search for candidate near features. The near features within this radius are considered for calculating the nearest feature. If no value is specified (that is, the default (empty) radius is used) all near features are considered for calculation. The unit of search radius defaults to units of the input features. The units can be changed to any other unit. However, this has no impact on the units of the output DISTANCE field which is based on the units of the coordinate system of the input features.",
        "search_radius.title": "Search Radius",
        "summary": "<xdoc><p>Determines the distances from input point features to all points in the near features within a specified search radius.</p><note type=\"legacy\"/><p group=\"note\">This is a deprecated tool. This functionality has been replaced by Near and Generate Near Table tools that now calculate distances between point, polyline and polygon features.</p></xdoc>",
        "title": "Point Distance"
    }
}
