{
    "set": [
        "c band",
        "c-band",
        "ccd",
        "comcoh",
        "dem",
        "dinsar",
        "hh",
        "hv",
        "insar",
        "radarsat 2",
        "radarsat-2",
        "rs2",
        "s1",
        "sar",
        "slc",
        "sentinel 1",
        "sentinel-1",
        "vh",
        "vv",
        "x band",
        "x-band",
        "align",
        "backscatter",
        "coherence",
        "coherent change detection",
        "complex",
        "dual pol",
        "geoid",
        "geoid correction",
        "ortho",
        "orthorectification",
        "phase",
        "polarization",
        "quad pol",
        "radar",
        "single look complex"
    ]
}
