{
    "set": [
        "accuracy assessment",
        "change detection",
        "class",
        "classification",
        "classifier",
        "classifier definition file",
        "classify",
        "ecd",
        "image analysis",
        "image classification",
        "image processing",
        "obia",
        "object",
        "object-oriented image analysis",
        "random sampling",
        "segment",
        "segmentation",
        "segmenter",
        "training",
        "training sample"
    ]
}
