{% import 'macros.html.jinja2' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Schema Report</title>
</head>
<style>
#properties {
	border-collapse: collapse;
}
#properties td, th {
	border: 1px solid #D9D9D9;
	padding: 2px;
}
#properties tr:nth-child(odd) {
	background-color: #D9D9D9;
}
#properties tr:hover {
	background-color: #A9A9A9;
}
#properties th {
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
	background-color: white;
}
</style>
<body>

	{% set props = gdb.properties() %}
	<h2>{{ props.class_name() }}</h2>
	{{ macros.create_table(props) }}
	{% set datasets = gdb.dataset_collection() %}
	<h2>{{ datasets.class_name() }}</h2>
	{{ macros.create_table(datasets) }}

	{% for data in gdb.datasets %}
		{{ data.name | tag("h3") }}
		{% for child in data.ordered() if child and child.class_name() != 'Summary' %}
			{{ child.class_name() | tag("h4") }}
			{{ macros.create_table(child) }}
		{% endfor %}
	{% endfor %}

	{% if gdb.domains %}
	<h2 id="WorkspaceDomain">Domains</h2>
	{% endif %}
	{% for domain in gdb.domains %}
		{{ domain.name | tag("h3") }}
		{% for child in domain.ordered() if child %}
			{{ child.class_name() | tag("h4") }}
			{{ macros.create_table(child) }}
		{% endfor %}
	{% endfor %}

</body>
</html>

