{
    "map": {
        "description": "Describes the nature and content of an input netCDF dataset. List all the variables along with their dimensions and their attributes.",
        "in_netcdf_file.descr": "The input netCDF file that will be described.",
        "in_netcdf_file.title": "Input NetCDF File",
        "out_file.descr": "The name of the output description markdown file that will contain summary information about the input netCDF file. Specify the file name with the .md extension.",
        "out_file.title": "Output Description File",
        "title": "Describe NetCDF File"
    }
}
