{
    "set": [
        "analysis",
        "clustering",
        "ebk",
        "geostatistics",
        "idw",
        "interpolation",
        "kriging",
        "measurements",
        "simplify",
        "spatial",
        "statistics",
        "visualize"
    ]
}
