{
    "map": {
        "derived_out_terrain.title": "Updated Input Terrain",
        "description": "Replaces points referenced by a terrain dataset with points from a specified feature class.",
        "in_point_features.descr": "The point or multipoint features that will replace the terrain point features.",
        "in_point_features.title": "Input Points",
        "in_terrain.descr": "The terrain dataset that will be processed.",
        "in_terrain.title": "Input Terrain",
        "polygon_features_or_extent.descr": "An optional area of interest can be used to define the extent of the area in which the terrain points would be replaced.",
        "polygon_features_or_extent.title": "Area of Interest",
        "terrain_feature_class.descr": "The name of the terrain point feature class that will have some or all of its points replaced.",
        "terrain_feature_class.title": "Input Terrain Data Source",
        "title": "Replace Terrain Points"
    }
}
