{
    "set": [
        "3d feature layer",
        "climate",
        "climatology",
        "dsg",
        "dimension",
        "discrete sampling geometry (dsg)",
        "meteorology",
        "oceanography",
        "scientific",
        "scientific data",
        "unstructured grids",
        "weather",
        "cross-reference table"
    ]
}
