{
    "map": {
        "analysis_extent.descr": "The extent that defines the area of the output feature class.",
        "analysis_extent.title": "Analysis Extent",
        "description": "Creates a feature class from timeseries in netCDF files. In the Climate and Forecast (CF) metadata convention, a timeseries is a type of discrete sampling geometry (DSG).",
        "in_cf_metadata.descr": "The XML format file with an .ncml extension that will supply missing or altered CF information for the input netCDF files.",
        "in_cf_metadata.title": "Input Climate and Forecast Metadata",
        "in_files_or_folders.descr": "<xdoc><p>The input netCDF files that will be used to create a feature class. Individual netCDF files, as well as folders that contain multiple netCDF files, can be used.</p><p>The input netCDF files must have the same DSG feature type and schema.</p></xdoc>",
        "in_files_or_folders.title": "Input NetCDF Files or Folders",
        "include_subdirectories.descr": "<xdoc><p>Specifies whether the files residing in the subdirectories of an input folder will be used.</p><ul><li>Checked—All netCDF files in all subdirectories will be used.</li><li>Unchecked—Only files in the input folder will be used. This is the default.</li></ul></xdoc>",
        "include_subdirectories.title": "Include Subdirectories",
        "instance_variables.descr": "The netCDF variables that differentiate individual features and represent the locations where observations are made. These variables will be added as fields to the output feature class.",
        "instance_variables.title": "Instance Variables",
        "observation_variables.descr": "The netCDF variables that contain all the observation values at each location and each vertical level. These will be added as fields to the output table",
        "observation_variables.title": "Observation Variables",
        "out_join_layer.descr": "The output layer that will be created by joining the output table to the output feature class. This is an optional output.",
        "out_join_layer.title": "Output Join Layer",
        "out_point.title": "Output Point",
        "out_point_name.descr": "<xdoc><p>The name of the feature class that will contain the locations from the netCDF variables. These variables will be added as fields from the <span class=\"esri_uicontrol\">Instance Variables</span> parameter.</p></xdoc>",
        "out_point_name.title": "Output Point Name",
        "out_table.title": "Output Join Table",
        "out_table_name.descr": "<xdoc><p>The name of the output table that will contain all the records from the <span class=\"esri_uicontrol\">Observation Variables</span> parameter.</p></xdoc>",
        "out_table_name.title": "Output Join Table Name",
        "target_workspace.descr": "The enterprise or file geodatabase in which the output feature class and table will be created. This must be an existing workspace.",
        "target_workspace.title": "Target Workspace",
        "title": "NetCDF Time Series To Feature Class (Discrete Sampling Geometry)"
    }
}
