{
    "map": {
        "config.descr": "<xdoc><p>A JSON string specifying where the report&apos;s SDCX map report variables will be stored. The config options are as follows:<ul><li>ID—The portal item ID of the SDCX</li><li>Download—True or false. Set to true to download the SDCX, or set to false to reference an existing SDCX.</li><li>Path—The location of the SDCX. Use an empty string to use the existing default—for example, the report output folder location—or specify a new folder location or an existing folder that contains the SDCX.</li><li>Name—The name of the SDCX. Specify a new name for the SDCX or the name of an existing SDCX.</li></ul></p></xdoc>",
        "config.title": "Config",
        "dataset_id.descr": "The dataset that will be used to populate the report variables.",
        "dataset_id.title": "Dataset ID",
        "description": "Imports an online report so that it can run locally using a locally installed ArcGIS Business Analyst dataset.",
        "online_report_template_id.descr": "The report template ID.",
        "online_report_template_id.title": "Online Report Template ID",
        "output_folder.descr": "The local folder where the report template items will be imported.",
        "output_folder.title": "Output Folder",
        "summary": "<xdoc><p>Imports an online report so that it can run locally using a locally installed ArcGIS Business Analyst dataset.</p><p>This tool is the underlying engine that runs the Import Template interactive workflow from the <span class=\"esri_uicontrol\">Catalog</span> pane. This tool is ideal for performing more advanced automated tasks, such as importing templates through Python scripting or programmatically modifying data paths.</p><p>The Import Template workflow will run the tool in the background and add its information to the Geoprocessing history.</p></xdoc>",
        "title": "Import Business Analyst Report Template",
        "updated_folder.title": "Updated Folder"
    }
}
