{
    "map": {
        "classes_breaks.descr": "<xdoc><p>The list of break values if the <span class=\"esri_uicontrol\">Classification type</span> is set to <span class=\"esri_uicontrol\">Manual</span>.</p><ul><li>For contour output, these are the values of the contour lines.</li><li>For filled contour, these are the upper limits of each class interval. Note that if the largest break value is less than the maximum of the geostatistical layer, the output feature class will not fill up the entire rectangular extent; all locations with predicted values above the largest break will not receive filled contours.</li></ul></xdoc>",
        "classes_breaks.title": "Class breaks",
        "classes_count.descr": "<xdoc><p>Specify the number of classes in the output feature class.</p><p>If <span class=\"esri_uicontrol\">Contour type</span> is set to output filled contour polygons, the number of polygons created will equal the value specified in this parameter. If it is set to output contour polylines, the number of polylines will be one less than the value specified in this parameter (because N class intervals define N-1 contour break values).</p><p>This parameter does not apply if the <span class=\"esri_uicontrol\">Classification type</span> is set to <span class=\"esri_uicontrol\">Manual</span>.</p></xdoc>",
        "classes_count.title": "Number of classes",
        "classification_type.descr": "<xdoc><p>Specifies how the contour breaks will be calculated.</p><ul><li><span title=\"GEOMETRIC_INTERVAL\">Geometric interval</span>—Contour breaks are calculated based on geometric intervals.</li><li><span title=\"EQUAL_INTERVAL\">Equal interval</span>—Contour breaks are calculated based on equal intervals.</li><li><span title=\"QUANTILE\">Quantile</span>—Contour breaks are calculated from quantiles of the input data.</li><li><span title=\"MANUAL\">Manual</span>—Specify your own break values.</li></ul></xdoc>",
        "classification_type.domain.EQUAL_INTERVAL": "Equal interval",
        "classification_type.domain.GEOMETRIC_INTERVAL": "Geometric interval",
        "classification_type.domain.MANUAL": "Manual",
        "classification_type.domain.QUANTILE": "Quantile",
        "classification_type.title": "Classification type",
        "contour_quality.descr": "<xdoc><p>Determines the smoothness of contour line representation.</p><ul><li><span title=\"DRAFT\">Draft</span>— The default Draft quality presents a generalized version of isolines for faster display.</li><li><span title=\"PRESENTATION\">Presentation</span>—The Presentation option ensures more detailed isolines for the output feature class.</li></ul></xdoc>",
        "contour_quality.domain.DRAFT": "Draft",
        "contour_quality.domain.PRESENTATION": "Presentation",
        "contour_quality.title": "Contour quality",
        "contour_type.descr": "<xdoc><p>Type of contour to represent the geostatistical layer.</p><ul><li><span title=\"CONTOUR\">Contour</span>— The contour or isoline representation of the geostatistical layer. Displays the lines in either draft or presentation quality.</li><li><span title=\"FILLED_CONTOUR\">Filled contour</span>—The polygon representation of the geostatistical layer. It assumes for the graphical display that the values between contour lines are the same for all locations within the polygon. Displays the lines in either draft or presentation quality.</li><li><span title=\"SAME_AS_LAYER\">Same as layer</span>—Use the current renderer of the input geostatistical layer.</li></ul></xdoc>",
        "contour_type.domain.CONTOUR": "Contour",
        "contour_type.domain.FILLED_CONTOUR": "Filled contour",
        "contour_type.domain.SAME_AS_LAYER": "Same as layer",
        "contour_type.title": "Contour type",
        "description": "Creates a feature class of contours from a geostatistical layer. The output feature class can be either a line feature class of contour lines or a polygon feature class of filled contours.",
        "in_geostat_layer.descr": "The geostatistical layer to be analyzed.",
        "in_geostat_layer.title": "Input geostatistical layer",
        "out_elevation.descr": "For 3D interpolation models, you can export contours at any elevation. Use this parameter to specify the elevation that you want to export. If left empty, the elevation will be inherited from the input layer. The units will default to the same units of the input layer.",
        "out_elevation.title": "Output elevation",
        "out_feature_class.descr": "The output feature class will either be a polyline or a polygon, depending on the selected contour type.",
        "out_feature_class.title": "Output feature class",
        "params.category1": "Classification",
        "title": "GA Layer To Contour"
    }
}
